<div class="accordion-panel-wrapper">
  <div class="button-row-container">
    <div class="button-row-right">
      <button class="action-buttons"
        (click)="confirmDeleteAllNotifications()"
        [disabled]="noNotifications">
        Delete All
      </button>
    </div>
  </div>
  <div class="note-chips-container">
    <div class="proliferation-container">
      <ng-container *ngIf="!noNotifications; else noNotes">
        <ng-container *ngIf="notesService.myNotifications$ | async as myNotifications">
          @for(note of myNotifications; track note.notificationId) {
            <app-notification-chip-generic
              [inputNote]="note"
              (deleteNoteEvent)="deleteSingleNoteEvent($event)">
            </app-notification-chip-generic>
          }
        </ng-container>
      </ng-container>
      <ng-template #noNotes>
        <div id="no-notes-message">
          <span>You do not have any notifications.</span>
        </div>
      </ng-template>
    </div>
  </div>
</div>
