/* scFleetFinder styles */ 

h1 {
    color: rgb(120,120,120);
    text-align: center;
    font-family: Lucida Sans, monospace; 
    font-size: 2em;
}

.navBar {
    background-color: rgb(34,34,34);
    margin: 1em 0 0 0;
    border: 0;
    border-radius: 0.75em;
    padding: 0.25em;
    height: 3vh;
    width: 98vw;
    
}

.navBody {
    display: flex;
    padding: 0;
    margin: 0 2em 0 2em;
    border: 0;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: baseline;

}

#siteLogo {
    align-items: center;
}

#siteNav {
    list-style-type: none;
    color: rgb(120,120,120);
    display: flex;
    justify-content: flex-start;
    padding: 0 1em 0 1em;
    margin: 0;
    border: 0;
    gap: 4em;
    align-items: baseline;
    
}

#userNav {
    list-style-type: none;
    color: rgb(120,120,120);
    display: flex;
    display: flex;
    justify-content: flex-end;
    padding: 0 2em 0 2em;
    margin: 0 2em 0 2em;
    border: 0;
    gap: 1em;
}


body {
    background-color: rgb(60,60,60);
    font-family: courier, monospace;
    color: rgb(75,140,230);
}
