:host {
  display: flex;
  flex-direction: column;
}

.roster-top-buttons-container {
  display: flex;
  margin: 1rem auto 40px 20px;
}

.subgroup-header {
  width: 90%;
  text-align: center;
  border-bottom: 1px solid rgba(150, 168, 183, .3);
  margin-inline: auto;
  padding-bottom: 4px;
  font-size: 1.15rem;
}

/* MAT TABS ROSTER PANEL ----------------------------------------------------------------------------*/

:host ::ng-deep .mat-mdc-tab-group {
  height: 100%;
  overflow-y: scroll;
}

:host ::ng-deep .mat-mdc-tab-labels {
  font-size: 0.9rem;
  display: flex;
}

:host ::ng-deep .mat-mdc-tab-label-container {
  border-bottom: 1px solid rgba(150, 168, 183, .2);
  max-width: 95%;
  flex: 0 0 auto;
  margin-inline: auto;
}

:host ::ng-deep .mdc-tab--active .mdc-tab-indicator {
  background-color: rgba(188, 191, 200, .1);
  transition: background-color 1s ease;
  border-left: 1px solid rgba(255, 131, 7, .3);
}

:host ::ng-deep .mdc-tab--active {
  color: rgba(255, 131, 7, .4);
}

:host ::ng-deep .mdc-tab {
  border-left: 1px solid rgba(150, 168, 183, .2);
  padding-inline: clamp(15px, 30px, 1.4rem) !important;
  transition: color 0.15s ease, border 1s ease;
}

:host ::ng-deep .mdc-tab:hover {
  color: rgba(255, 131, 7, .4);
}

:host ::ng-deep .mat-mdc-tab .mdc-tab-indicator__content--underline {
  color: rgba(255, 131, 7, .4);
}

.tab-group-container {
  margin-top: 1rem;
  margin-inline: auto;
  width: 95%;
}

:host ::ng-deep .mat-mdc-tab-body-wrapper {
  display: flex;
  height: 100%;
}

@media(max-width: 875px) {
  :host ::ng-deep .mat-mdc-tab-label-container {
    scale: 0.75;
  }
}

:host ::ng-deep mat-spinner {
  scale: 0.5;
}
