@import '../../dropdowns/dropdown-module/dropdown-styles.css';

.search-filter-wrapper {
  display: grid;
  grid-template-columns: 3fr 1.25fr 1.25fr 1.25fr 1fr;
}

.search-input {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  padding: clamp(0.5rem, 1rem, 1.5rem) clamp(0.5rem, 1rem, 1.5rem) 0;
}

.mat-mdc-form-field {
  min-width: 95%;
  transition: color 0.5s ease, font-size 0.5s ease;
  font-size: clamp(0.3rem, 1rem, 1rem);
}

.search-clear {
  z-index: 20000;
  color: rgba(188, 191, 200, .5);
  margin-right: 1rem;
  margin-bottom: 0;
  transition: color 0.15s ease;
  pointer-events: all;
  line-height: 0;
}


.search-clear:hover {
  color: rgba(255, 131, 7, .5);
  cursor: pointer;
}

.search-clear:active {
  color: rgba(255, 131, 7, 1);
}


:host ::ng-deep .mat-mdc-form-field-infix {
  display: flex;
  flex-direction: row;
}

.embedded-search-button {
  margin-left: auto;
  margin-right: 2rem;
  padding: 0.5rem 0 0.5rem 2rem;
  align-self: flex-end;
  color: rgba(188, 191, 200, .75);
  text-decoration: none;
  border-left: 1px solid rgba(188, 191, 200, .4);
  transition: color 0.15s ease;
}

.embedded-search-button:hover {
  color: rgba(255, 131, 7, .5);
  cursor: pointer;
}

/* this is the filters clear button */
.clear-button-container-left {
  min-width: 80%;
  padding: clamp(0.5rem, 0.6rem, 1rem);
}

.filters-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 98%;
  border-bottom: 1px solid rgba(188, 191, 200, .65);
}

.hidden-listings-button-container {
  display: flex;
  margin-left: auto;
  align-items: center;
  padding-bottom: 0.5rem;
  margin-right: 6%;
}

.hidden-listings {
  color: rgba(188, 191, 200, .75);
  text-decoration: none;

  transition: color 0.15s ease;
}

.hidden-listings:hover {
  color: rgba(255, 131, 7, .5);
  cursor: pointer;
}

.hidden-listings mat-icon {
  line-height: 2.25rem;
}

.handheldFiltersRow {
  display: grid !important;
  grid-template-columns: 1fr 3fr;
}

.handheldFiltersButton {
  margin-left: 1rem;
}

.handheldHiddenButton {
  margin-right: 1rem;
  margin-left: auto;
  min-width: 40%;
}

@media(max-width: 1700px) and (min-width: 925px) {


  .mat-mdc-form-field {
    min-width: 95%;
    font-size: clamp(0.3rem, 0.8rem, 1rem);
  }

  .filters-container h6{
    font-size: clamp(0.6rem, 0.8rem, 1rem) !important;
  }
}

@media(max-width: 1049px) and (min-width: 750px) {
  .search-filter-wrapper {
    grid-template-columns: 3fr 1fr;
  }

  .mat-mdc-form-field {
    min-width: 95%;
    font-size: clamp(0.3rem, 0.8rem, 1rem);
  }

  .filters-container {
    margin-top: 0;
    padding-left: 0;
    margin-left: 0;
  }

  .filters-container h6{
    font-size: clamp(0.6rem, 0.8rem, 1rem) !important;
  }

  .filters-title {
    margin-left: 0;
    margin-right: auto;
  }
}

@media(max-width: 749px) {
  .search-filter-wrapper {
    grid-template-columns: 3fr 1fr;
  }

  :host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    min-height: 0;
    padding-top: 0;
  }

  .search-input {
    max-width: 100%;
  }

  .mat-mdc-form-field {
    min-width: 95%;
    font-size: clamp(0.3rem, 0.8rem, 1rem);
  }

  :host ::ng-deep .mat-mdc-form-field-infix {
    display: flex;
    flex-direction: row;
  }
  .filters-container {
    margin-top: 0;
    padding-left: 0;
    margin-left: 0;
  }

  .filters-container h6{
    font-size: clamp(0.6rem, 0.8rem, 1rem) !important;
  }

  .filters-title {
    margin-left: 0;
    margin-right: auto;
  }

  .hidden-listings {
    font-size: 0.9rem;
    padding-bottom: 0.25rem;
  }
}

@media(max-width: 500px) {

  .search-filter-wrapper {
    grid-template-columns: 1fr !important;
  }

  .filters-title {
    padding: 0;
    margin: 0;
  }

  .mobile-filters-button {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .embedded-search-button {
    margin-right: 0.5rem;
    padding: 0 0.15rem 0 0.5rem;
  }
}

/* ----- FILTER DROPDOWNS -------------------------------------------------------------------------------------- */
.dropdown-component .ng-select {
  scrollbar-width: thin;
  scrollbar-color: rgba(88, 92, 96, .9) transparent !important;
}

:host ::ng-deep .ng-dropdown-panel {
  background-color: rgba(33, 37, 41, 1) !important;
}

:host ::ng-deep .ng-dropdown-panel .ng-option-label {
  color: rgba(188, 191, 200, .75) !important;
  transition: color 0.15s ease, font-size 0.15s ease;
}

:host ::ng-deep .ng-dropdown-panel .ng-option:hover {
  background-color: rgba(44, 44, 44, 0.7);
}

:host ::ng-deep .ng-dropdown-panel .ng-option:hover .ng-option-label {
  color: rgba(255, 131, 7, .6) !important;
  font-size: 1.05rem;
}

:host ::ng-deep .ng-select .ng-select-container .ng-placeholder {
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 90%;
  color: rgba(188, 191, 200, .75) !important;
  transition: font-size 0.3s ease;
}

:host ::ng-deep .ng-select .ng-select-container:hover .ng-placeholder {
  color: rgba(255, 131, 7, .6) !important;
  font-size: 1.05rem !important;
}

/* Dropdown selected val */
:host ::ng-deep .ng-select .ng-select-container {
  color: rgba(255, 131, 7, .6);
}

/* Dropdown underline */
:host ::ng-deep .ng-select .ng-select-container::after {
  border-color: rgba(188, 191, 200, .5);
  transition: border-color 0.5s ease;
}

:host ::ng-deep .ng-select-disabled .ng-select-container::after {
  border-color: rgba(188, 191, 200, .2);
}

/* Dropdown arrow pre-selection */
:host ::ng-deep .ng-select:not(.ng-select.ng-select-disabled):not(.ng-select-single .ng-value) .ng-arrow {
  color: rgba(188, 191, 200, .75);
  transition: color 0.75s ease;
}

:host ::ng-deep .ng-select-disabled .ng-arrow {
  color: rgba(188, 191, 200, .2) !important;
}

/* Dropdown arrow while focused/open */
:host ::ng-deep .ng-select.ng-select-single:focus-within .ng-select-container .ng-arrow-wrapper .ng-arrow {
  color: rgba(255, 131, 7, 0.5);
}

/* Dropdown arrow post-selection */
:host ::ng-deep .ng-select.ng-select-single .ng-has-value .ng-arrow {
  color: rgba(188, 191, 200, .75) !important;
}

/* Dropdown clear: value selected, not focused */
:host ::ng-deep .ng-select .ng-clear-wrapper {
  color: rgba(188, 191, 200, .75);
  transition: color 0.75s ease;
}

@media(min-width: 1701px) {
  .filter-dropdowns {
    display: grid;
    font-size: clamp(0.3rem, 0.8rem, 1rem);
    /*grid-template-columns: 28% 28% 28% 15%;*/
  }

  .dropdown-component .ng-select {
    padding-bottom: clamp(0.9rem, 1.2rem, 1.8rem);
    min-width: 14rem !important;
  }
}

@media(max-width: 1700px) and (min-width: 750px) {
  .dropdown-component .ng-select {
    min-width: 8rem !important;
    max-width: 10rem !important;
    font-size: clamp(0.3rem, 0.8rem, 1rem);
  }

  :host ::ng-deep .ng-dropdown-panel {
    font-size: clamp(0.3rem, 0.8rem, 1rem);
  }

  :host ::ng-deep .ng-dropdown-panel .ng-option-label {
    font-size: clamp(0.3rem, 0.8rem, 1rem);
  }

  :host ::ng-deep .ng-select .ng-select-container .ng-placeholder {
    font-size: clamp(0.3rem, 0.8rem, 1rem);
    min-width: 90%;
  }

  /* Dropdown selected val */
  :host ::ng-deep .ng-select .ng-select-container {
    font-size: clamp(0.3rem, 0.8rem, 1rem) !important;
    line-height: 2.5rem;
  }

  .action-buttons {
    padding: .2rem .5rem .2rem .5rem !important;
    margin-inline: .2rem !important;
    font-size: clamp(0.5rem, 0.9rem, 1rem) !important;
    border-radius: .2rem;
  }

  .hidden-listings {
    font-size: clamp(0.5rem, 0.9rem, 1rem) !important;
  }

  .filters-bubble-wrapper-row {
    grid-template-columns: 6% 90%;
  }

  .filter-bubbles {
    margin-left: clamp(0.3rem, 0.5rem, 0.9rem);
    margin-top: 0.15rem;
  }

  .filter-bubbles-content {
    grid-template-columns: repeat(2, auto);
    font-size: clamp(0.3rem, 0.8rem, 1rem);
    line-height: 2rem;
  }

  .bubble-close {
    font-size: clamp(0.5rem, 1rem, 1.2rem) !important;
    line-height: 2rem;
  }

  .mdc-evolution-chip {
    font-size: clamp(0.5rem, 1rem, 1.2rem);
    max-height: 55%;
  }
}

@media(max-width: 749px) {
  .dropdown-component .ng-select {
    min-width: 12rem !important;
    font-size: clamp(0.3rem, 0.8rem, 1rem);
  }

  .dropdown-component {
    margin-left: 2rem;
    margin-bottom: 1rem;
  }

  .filters-bubble-wrapper-row {
    grid-template-columns: 1fr !important;
  }

  .filter-bubbles {
    margin-left: 1rem !important;
    margin-top: 0.15rem;
  }

  .filter-bubbles-content {
    grid-template-columns: repeat(2, auto);
    font-size: clamp(0.3rem, 0.8rem, 1rem);
    line-height: 2rem;
  }

  .filters-container h6 {
    font-size: 0.8rem;
  }

  .bubble-close {
    font-size: clamp(0.5rem, 1rem, 1.2rem) !important;
    line-height: 2rem;
  }

  .mdc-evolution-chip {
    font-size: clamp(0.5rem, 1rem, 1.2rem);
    max-height: 55%;
  }

  .action-buttons-with-icons {
    padding: .21rem .56rem .21rem .56rem !important;
  }

  .action-buttons {
    padding: .2rem .5rem .2rem .5rem !important;
    margin-inline: .2rem !important;
    font-size: clamp(0.5rem, 0.9rem, 1rem) !important;
    border-radius: .2rem;
  }
}
/* ----- SEARCH INPUT FIELD ---------------------------------------------------------------------------------- */

@media(max-width: 2500px) {
  :host ::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 2.5vh;
  }
}

@media(max-width: 724px) {
  .mat-mdc-form-field {
    max-width: 95%;
    transition: color 0.5s ease, font-size 0.5s ease;
    font-size: 0.8rem;
  }

  :host ::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined {
    /*max-height: 7.25vh;*/
    margin-right: 0.25rem;
    /*background-color: hotpink;*/
  }
}

/* --- DATE PICKER ----------------------------------------------------------------------------------*/
.event-schedule-datepicker {
  margin-right: 0;
  margin-bottom: 0 !important;
  padding-top: 1rem !important;
}

.mat-mdc-form-field {
  color: rgba(33, 37, 41, .75);
}

/* label/placeholder */
:host ::ng-deep .mat-mdc-form-field:not(.mat-mdc-form-field--disabled):not(.cdk--disabled) .mat-mdc-floating-label {
  padding-left: 0.75rem;
  color: rgba(188, 191, 200, .5) !important;
  transition: color 0.5s ease, font-size 0.5s ease !important;
}

/* label/placeholder DISABLED */
:host ::ng-deep .mat-mdc-form-field .mdc-text-field--disabled .mat-mdc-floating-label {
  color: rgba(69, 72, 74, 0.5) !important;
}

/* label/placeholder NOT disabled */
:host ::ng-deep .mat-mdc-form-field:not(.mat-mdc-form-field--disabled) .mat-mdc-floating-label {
  color: rgba(255, 131, 7, 0.5);
  transition: color 0.5s ease, font-size 0.5s ease !important;
}

/* Event datepicker outline transition */
:host ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mat-mdc-notch-piece {
  transition: border-color 0.5s ease !important;
}

/* Event Date Disabled state */
:host ::ng-deep .mdc-text-field--outlined.mdc-text-field--disabled .mat-mdc-notch-piece{
  color: rgba(69, 72, 74, 0.5) !important;
}

/* label/placeholder hover */
:host ::ng-deep .mdc-text-field:not(.mdc-text-field--disabled):hover:not(:focus-within) .mat-mdc-floating-label {
  color: rgba(255, 131, 7, 0.5) !important;
  font-size: 1.05rem !important;
}

:host ::ng-deep .mdc-notched-outline:hover {
  border-color: rgba(69, 72, 74, 0.5) !important;
}

/* outline hover */
:host ::ng-deep .mdc-text-field--outlined.mat-mdc-notch-piece:hover {
  color: rgba(188, 191, 200, .5) !important;
}

/* calendar icon */
:host ::ng-deep .mat-mdc-icon-button {
  color: rgba(188, 191, 200, .3) !important;
  transition: color 0.5s ease !important;
}

/* Input field selected date text */
:host ::ng-deep .mdc-text-field__input {
  padding-left: 1rem;
}

:host ::ng-deep .mat-mdc-form-field:not(.mat-mdc-form-field--disabled) .mdc-text-field__input,
:host ::ng-deep .mat-mdc-form-field:not(.mat-mdc-form-field--disabled) .mdc-floating-label.mdc-floating-label--float-above {
  color: rgba(255, 131, 7, .6);
}

/* calendar icon hover */
:host ::ng-deep .mat-mdc-icon-button:hover {
  color: rgba(255, 131, 7, 0.5) !important;
}

/* --------------------------------------------------------------------------------------------------*/

.filters-title {
  display: flex;
  flex-direction: row;
  margin: 0 3rem 0 3rem;

}

.filters-title h6 {
  padding: 0;
  margin: 0;
}

.filters-applied {
  display: flex;
  flex-direction: row;
}

.check-mark {
  font-size: 1.2rem;
  margin-left: 0.5rem;
  line-height: 1rem;
  padding: 0;
}

.filter-state-notice {
  margin-left: 0.5rem !important;
}

.header-row {
  display: flex;
  flex-direction: row;
}

.filters-container {
  background-color: rgba(44, 44, 44, .75);
}

.filters-bubble-wrapper-row {
  display: grid;
  grid-template-columns: 6% 90%;
}

.filter-bubbles {
  margin-left: clamp(0.3rem, 0.5rem, 0.9rem);
  margin-top: 0.35rem;
}

.filter-bubbles-content {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.bubble-close {
  margin-left: 0.2rem;
  font-size: clamp(1.1rem, 1.4rem, 1.6rem);
  transition: color 0.15s ease, font-size 0.15s ease;
}

.bubble-close:hover {
  font-size: 1.45rem;
  background-color: rgba(33, 37, 41, 1) !important;
  color: rgba(255, 131, 7, 0.5);
  cursor: pointer;
}

.mdc-evolution-chip {
  background-color: rgba(33, 37, 41, 1) !important;
  color: rgba(255, 131, 7, 0.5);
  font-size: clamp(0.7rem, 1rem, 1.2rem);
}

:host ::ng-deep .mdc-evolution-chip__action--primary {
  padding-right: 3px !important;
}

.action-buttons {
  border: 1px solid rgba(255, 131, 7, .75);
  padding: .42rem 1.12rem .42rem 1.12rem;
  background-color: rgba(33, 37, 41, .4);
  margin-inline: .75rem;
  color: rgba(255, 131, 7, .75);
  font-size: 0.9rem;
  border-radius: .2rem;
  transition: 0.2s ease;
}

.action-buttons-with-icons {
  display: inline-flex;
  gap: 0.25rem;
  border: 1px solid rgba(255, 131, 7, .75);
  padding: .42rem 1.12rem .42rem 1.12rem;
  background-color: rgba(33, 37, 41, .4);
  margin-inline: .75rem;
  color: rgba(255, 131, 7, .75);
  font-size: 0.9rem;
  border-radius: .2rem;
  transition: 0.2s ease;
  align-items: center;
}

.mobile-filters-button {
  margin: 1rem 2rem 1rem 1rem;
}

.filter-icon {
  font-size: 1.25rem;
  line-height: 1.5rem;
  padding:0;
  margin: 0;
}

.action-buttons:disabled {
  border: 1px solid rgba(33, 37, 41, .4);
  padding: .42rem 1.12rem .42rem 1.12rem !important;
  background-color: rgba(92, 96, 101, .4);
  margin-inline: .75rem;
  color: rgba(33, 37, 41, .4);
  border-radius: .2rem;
  transition: .3s ease;
}

.action-buttons:hover:disabled {
  border: 1px solid rgba(255, 131, 7, .4);
  padding: .42rem 1.12rem .42rem 1.12rem !important;
  background-color: rgba(92, 96, 101, .4);
  margin-inline: .75rem;
  color: rgba(255, 131, 7, .4);
  border-radius: .2rem;
}

.action-buttons:hover {
  color: var(--bs-gray-900);
  border-color: rgba(255, 131, 7, .75);
  background-color: rgba(255, 131, 7, .25);
  cursor: pointer;
}

#addFilter {
  margin-left: 0;
}

@media(max-width: 724px) {
  .action-buttons {
    font-size: .7rem;
  }

  .search-button-container-right {
    width: 10%;
    margin: auto auto 0.25rem 0;
  }
  .mat-mdc-form-field {
    min-width: 95%;
  }
}

/* label transition */
:host ::ng-deep .mat-mdc-form-field .mat-mdc-floating-label {
  padding-left: 1rem;
  padding-right: 1rem;
  transition: color 0.5s ease, font-size 0.5s ease !important;
}

:host ::ng-deep .mat-mdc-form-field-flex {
  max-height: 5vh;
}

/* outline transition */
:host ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mat-mdc-notch-piece {
  transition: border-color 0.5s ease;
  color: rgba(188, 191, 200, .75);
}

/* label hover */
:host ::ng-deep .mat-mdc-form-field:hover:not(:focus-within) .mat-mdc-floating-label {
  color: rgba(255, 131, 7, 0.4) !important;
  font-size: 105% !important;
}

/* outline hover */
:host ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled):hover .mat-mdc-notch-piece {
  /*border-color: rgba(188, 191, 200, .75);*/
}
/* outline focused */
:host ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled):focus-within .mat-mdc-notch-piece {
  border-color:  rgba(255, 131, 7, 0.4) !important;
}

/* input text/placeholder text */
:host ::ng-deep .mdc-text-field--outlined .mdc-text-field__input {
  padding-left: 1rem;
  wrap-option: wrap;
  color: rgba(188, 191, 200, .5) !important;
  caret-color: rgba(255, 131, 7, 0.5) !important;
}

/* character counter */
.mat-mdc-form-field-hint {
  color: rgba(188, 191, 200, .75);
  font-size: clamp(0.8rem, 1vw, 1rem);
}

/* VALIDATION STYLES */
:host ::ng-deep  .mat-mdc-form-field.ng-touched.ng-invalid .mat-mdc-notch-piece {
  border-color: rgba(161, 13, 13, 0.4);
}

mat-error {
  color: rgba(161, 13, 13, 0.4) !important;
  font-size: clamp(0.7rem, 1vw, 1rem);
}


