<div class="search-filter-wrapper">
  <div class="search-input">
    <mat-form-field>
      <mat-label>Search listings...</mat-label>
      <input
        matInput
        #searchInput
        type="text"
        maxlength="65"
        placeholder="Enter Title or Description details..."
        [attr.aria-labelledby]="'searchInput'">
      <button
        *ngIf="searchInput.value"
        mat-icon-button
        matSuffix
        aria-label="Clear-search"
        class="search-clear"
        (click)="clearSearch(searchInput)">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
    <div class="search-button-container-right">
      <a>
        <button
          class="action-buttons"
          (click)="emitSearchAndFilter(searchInput.value)">Search</button>
      </a>
    </div>
  </div>
  <div class="filter-dropdowns">
    <div class="dropdown-component">
      <ng-select
        [items]="FILTER_CATEGORIES"
        [formControl]="principalCtrl"
        bindLabel="label"
        bindValue="value"
        placeholder="Filter by..."
        [attr.aria-labelledby]="'Principal Filter'">
      </ng-select>
    </div>
    <div class="dropdown-component">
      <ng-select
        [items]="parentFilters$ | async"
        [formControl]="parentCtrl"
        bindLabel="option"
        bindValue="id"
        placeholder="Filter for..."
        (change)="onParentChange($event)"
        [attr.aria-labelledby]="'Filter for'">
      </ng-select>
    </div>
    <div class="dropdown-component">
      <ng-select
        [items]="childFilters$ | async"
        [formControl]="childCtrl"
        bindValue="id"
        bindLabel="option"
        placeholder="Additional..."
        (change)="onChildChange($event)"
        [attr.aria-labelledby]="'Additional filter'">
      </ng-select>
    </div>
    <div class="dropdown-component">
      <a>
        <button
          class="action-buttons"
          (click)="addFilter(principalCtrl.value, parentCtrl.value, childCtrl.value)">Add Filter</button>
      </a>
    </div>
  </div>
</div>
<div class="filters-container">
  <h6 class="filters-title">Filters:</h6>
  <div class="filters-bubble-wrapper-row">
    <div class="clear-button-container-right">
      <button
        class="action-buttons"
        (click)="clearFilters(searchInput.value)">
        Clear
      </button>
    </div>
    <div class="filter-bubbles">
      <mat-chip-set aria-label="Active Filter">
        <mat-chip *ngFor="let filter of displayedFilters" class="filter-bubbles">
          <span class="filter-bubbles-content"> {{ filter }} <mat-icon class="bubble-close">clear</mat-icon></span>
        </mat-chip>
      </mat-chip-set>
    </div>
  </div>
</div>
