<div class="search-filter-wrapper">
  <div class="search-input">
    <mat-form-field>
      <mat-label>Search listings...</mat-label>
      <input
        matInput
        (keyup.enter)="inputEnterPress($event)"
        (keyup)="onKeyUp($event)"
        #searchInput
        type="text"
        maxlength="65"
        placeholder="Keyword filter on title, description, and roles..."
        [attr.aria-labelledby]="'searchInput'">
      <a
        *ngIf="searchInput.value"
        aria-label="Clear-search"
        class="search-clear"
        (click)="clearSearch(searchInput)">
        <mat-icon>clear</mat-icon>
      </a>
      <a
        matSuffix
        class="embedded-search-button"
        (click)="emitSearchAndFilter(searchInput.value)">
        Search
      </a>
    </mat-form-field>
  </div>


  <app-filter-dropdowns
    *ngIf="(layoutMode$ | async) === 'full'"
    (applyFilters)="emitFilterState()">
  </app-filter-dropdowns>


  <div class="mobile-filters-button" *ngIf="(layoutMode$ | async) === 'mobile'">
    <button
      class="action-buttons-with-icons"
      (click)="openMobileFilters()">
      <mat-icon class="filter-icon">filter_list</mat-icon>
      Filters
    </button>
  </div>
</div>
<div class="filters-container">
  <div class="filters-row" *ngIf="!((layoutMode$ | async) === 'handheld')">
    <div class="filters-title">
      <h6>Filters:</h6>
    </div>
    <div class="hidden-listings-button-container">
      <a
        class="hidden-listings"
        [matMenuTriggerFor]="hiddenListingsMenu">
        Hidden
        <mat-icon>arrow_drop_down</mat-icon>
      </a>
      <mat-menu #hiddenListingsMenu="matMenu">
          <button
            mat-menu-item
            class="options-item"
            (click)="clearHiddenListings(searchInput.value)">
              Clear
          </button>
          <button
            mat-menu-item
            class="options-item"
            (click)="undoLastHide(searchInput.value)">
              Undo Last
          </button>
      </mat-menu>
    </div>
  </div>
  <div class="filters-bubble-wrapper-row" *ngIf="!((layoutMode$ | async) === 'handheld') else handheldFiltersRow">
    <div class="clear-button-container-left">
      <button
        class="action-buttons"
        (click)="clearFilters()">
        Clear
      </button>
    </div>
    <div class="filter-bubbles">
      <mat-chip-set aria-label="Active Filter">
        <mat-chip *ngFor="let filter of displayedFilters$ | async" class="filter-bubbles">
          <span class="filter-bubbles-content"> {{ displayFilterValue(filter.value) }}
            <mat-icon (click)="removeFilter(filter.key)" class="bubble-close">clear</mat-icon>
          </span>
        </mat-chip>
      </mat-chip-set>
    </div>
  </div>
  <ng-template #handheldFiltersRow>
    <div class="handheldFiltersRow">
      <div class="handheldFiltersButton">
        <button class="action-buttons-with-icons"
                (click)="openMobileFilters()">
          <mat-icon class="filter-icon">filter_list</mat-icon>
          Filters
        </button>
      </div>
      <div class="handheldHiddenButton">
        <div class="hidden-listings-button-container">
          <a
            class="hidden-listings"
            [matMenuTriggerFor]="hiddenListingsMenu">
            Hidden
            <mat-icon>arrow_drop_down</mat-icon>
          </a>
          <mat-menu #hiddenListingsMenu="matMenu">
            <button
              mat-menu-item
              class="options-item"
              (click)="clearHiddenListings(searchInput.value)">
              Clear
            </button>
            <button
              mat-menu-item
              class="options-item"
              (click)="undoLastHide(searchInput.value)">
              Undo Last
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </ng-template>
</div>
