@use '@angular/material' as mat;

:root {
  //--bs-body-line-height: 2.5;

  @include mat.paginator-overrides((
    touch-target-display: center,
  ));

  .mat-expansion-panel-header:hover {
    background-color: rgba(65, 103, 142, 0.25) !important;
    font-size: 107%;
    cursor: pointer;
  }

  mat-spinner {
    --mdc-circular-progress-active-indicator-color: rgba(52, 135, 168, 0.75);
  }

  .searching mat-progress-bar {
    min-width: 225px;
    --mdc-linear-progress-active-indicator-color: deepskyblue;
    --mdc-linear-progress-track-color: rgba(44, 44, 44, 0.95);
  }

  .mat-mdc-paginator .mat-mdc-select-value {
    display: flex;
    padding-left: 1rem;
    text-align: center;
  }

  .mat-mdc-paginator .mat-mdc-select-arrow {
    padding-right: 2rem;
    transition: color 0.15s ease;
  }

  .mdc-notched-outline.mdc-notched-outline--no-label {
    color: rgba(188, 191, 200, .9);
    transition: color 0.15s ease;
  }

  .mdc-text-field:hover .mdc-notched-outline.mdc-notched-outline--no-label {
    color: rgba(255, 131, 7, .6);
  }

  .mdc-text-field:hover .mat-mdc-select-arrow {
    color: rgba(255, 131, 7, .6);
  }

  .mat-mdc-select-panel {
    background-color: rgba(44, 44, 44, 0.95);
  }

  .mat-mdc-select-panel .mdc-list-item {
    color: rgba(188, 191, 200, .9);
    background-color: transparent;
    transition: background-color 0.15s ease;
  }

  .mat-mdc-select-panel .mdc-list-item:hover {
    color: rgba(188, 191, 200, .9);
    background-color: rgba(255, 131, 7, .2);
  }

  .mat-mdc-paginator .mat-mdc-paginator-icon {
    transition: color 0.15s ease;
  }

  .mat-mdc-paginator-navigation-first.mdc-icon-button {
    padding-right: 2rem !important;
  }

  .mat-mdc-paginator-navigation-first.mdc-icon-button:hover {
    color: rgba(255, 131, 7, .6);
    cursor: pointer;
  }

  .mat-mdc-paginator-navigation-last.mdc-icon-button:hover {
    color: rgba(255, 131, 7, .6);
    cursor: pointer;
  }
  .mat-mdc-paginator-navigation-next.mdc-icon-button:hover {
    color: rgba(255, 131, 7, .6);
    cursor: pointer;
  }
  .mat-mdc-paginator-navigation-previous.mdc-icon-button:hover {
    color: rgba(255, 131, 7, .6);
    cursor: pointer;
  }

  @media(max-width: 480px) {
    .mat-mdc-paginator {
      font-size: clamp(0.5rem, 0.8rem, 1rem)
    }
  }

  mat-button-toggle-group {
    --mat-standard-button-toggle-divider-color: rgba(150, 168, 183, .3);
    --mat-standard-button-toggle-text-color: rgba(150, 168, 183, .55);
    --mat-standard-button-toggle-background-color: transparent;
    --mat-standard-button-toggle-selected-state-text-color: rgba(255, 255, 255, .65);
    --mat-standard-button-toggle-selected-state-background-color: rgba(63, 105, 149, 0.35);
    --mat-standard-button-toggle-hover-state-layer-opacity: 0.08;

    border: 1px solid rgba(150, 168, 183, .3);
    border-radius: 6px;
    overflow: hidden;
    width: fit-content;
    font-size: 16px;
  }

  .mat-button-toggle-checkbox-wrapper {
    display: none;
  }

  .mat-button-toggle-checked .mat-button-toggle-button:has(.mat-button-toggle-checkbox-wrapper) {
    padding-left: 0;
  }

}
