@font-face {
  font-family: 'Orbitron';
  src: url('../public/fonts/Orbitron/static/Orbitron-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --clip-all-corner: inset(15% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
  --clip-t-right-b-left: polygon(0% 0%, 87.5% 0%, 100% 12.5%, 100% 100%, 12.5% 100%, 0% 87.5%);
  --clip-t-right-b-left-border: polygon(0% 0%, 95% 0%, 100% 5%, 100% 100%, 5% 100%, 0% 95%);
  /*--stark-blue: rgba(65, 103, 142, 1);*/
  --stark-blue: rgba(60, 96, 133, 0.9);
  /*--stark-blue: rgba(57, 98, 143, 1);*/
  --button-hover-color: rgba(255, 131, 7, .5);
  --footer-height: 0px;
}

body {
  background-color: var(--bs-dark);
  font-family: 'Orbitron', sans-serif;
  margin: 0;
}

.body-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--bs-dark);
  max-height: 85vh;
  min-height: 35vh;
  margin-inline: auto;
  min-width: 90vw;
  max-width: 95vw;
  overflow: auto;
  scrollbar-width: none;
  padding: 0.5rem;
  overflow-y: scroll;

/*rgba(255, 131, 7, .25)*/
  border-left: 1px solid rgba(188, 191, 200, .5);
  border-right: 1px solid rgba(188, 191, 200, .5);
  color: rgba(223, 241, 255, 0.5) !important;
  clip-path: polygon(
    4% 0%,     /* top edge, a bit right from TL */
    100% 0%,   /* full top-right corner */
    100% 91%,  /* right edge, a bit up from BR */
    96% 100%,  /* bottom edge, a bit left from BR */
    0% 100%,   /* full bottom-left corner */
    0% 9%      /* left edge, a bit down from TL */
  );
}

.body-container::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  opacity: 0.2;
  filter: blur(4px);
  mix-blend-mode: screen;

  background-image:
    repeating-linear-gradient(
      to bottom,
      rgba(255, 131, 7, .4),
      rgba(255, 131, 7, .4), 1px,
      transparent 1px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to right,
      rgba(255, 131, 7, .4),
      rgba(255, 131, 7, .4), 1px,
      transparent 1px,
      transparent 4px
    );
}

.body-container::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  opacity: 0.05;
  z-index: -1;
  box-shadow: -3px 0 3px -3px rgba(255, 131, 7, .4);
  max-width: 98vw;

  background-image:
    repeating-linear-gradient(
      to bottom,
      rgba(255, 131, 7, .4),
      rgba(255, 131, 7, .4), 1px,
      transparent 1px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to right,
      rgba(255, 131, 7, .4),
      rgba(255, 131, 7, .4), 1px,
      transparent 1px,
      transparent 4px
    );
}

html, body { height: 100%; }

app-create-listing {
  max-width: 90vw;
}

app-update-listing {
  max-width: 90vw;
}

app-group-listings-table {
  min-width: 95% !important;
  overflow-y: scroll;
  scrollbar-width: none;
}

app-user {
  min-width: 95vw;
}

.mat-mdc-menu-content {
  padding-left: 0.5rem;
  background-color: rgb(52, 53, 58);
  border-radius: 0.25rem;
}

.mat-mdc-dialog-surface.mdc-dialog__surface {
  background-color: rgba(52, 53, 58, 1);
}

.mat-mdc-dialog-title {
  color: rgba(150, 168, 183, 1) !important;
}

.mat-mdc-dialog-content {
  color: rgba(150, 168, 183, 1) !important;
}

.mat-mdc-tooltip {
  background-color: rgb(52, 53, 58);
  font-size: 1rem;
  font-family: "Exo 2", sans-serif;
}

.tooltip-icon {
  font-size: 1rem;
}

/* the arrow and header text for when a table is sorted by a column */
.mat-sort-header-sorted {
  color: rgba(255, 131, 7, .4);
}

.cdk-overlay-container {
  z-index: 20000 !important;
  color: var(--button-hover-color);
}

.mat-mdc-snack-bar-container,
.mat-mdc-snack-bar-actions,
.mat-mdc-snack-bar-actions button.mat-mdc-button-base {
  pointer-events: auto !important;
  border-radius: 0.5rem;
}

.cdk-overlay-container .my-snackbar {
  margin-top: 75vh;
  background-color: rgba(33, 37, 41, .75);

}

.cdk-overlay-container .mobile-snackbar .mat-mdc-button-touch-target {
  /*color: rgba(255, 131, 7, .4);*/
  transition: color 5s ease !important;
}

.cdk-overlay-container .mobile-snackbar .mdc-button__label,
.cdk-overlay-container .mobile-snackbar .mat-mdc-button:hover {
  /*color: rgba(255, 131, 7, .4);*/
}

.cdk-overlay-container .mobile-snackbar .mat-mdc-button:hover .mdc-button__label {
  color: #2c2c2c !important;
}

.cdk-overlay-container .mobile-snackbar .mdc-snackbar__label {
  color: rgba(188, 191, 200, .8);
}

.cdk-overlay-container .mobile-snackbar {
  margin-top: 75vh;
  background-color: rgba(33, 37, 41, .95);
}

.cdk-overlay-container .mobile-filters-popup {
  border-radius: 0.5rem;
}

/* Styling for dropdown menu in the listing-report popup window */

.cdk-overlay-container .ng-dropdown-panel {
  background-color: rgba(33, 37, 41, 1) !important;
  scrollbar-width: thin;
  scrollbar-color: rgba(88, 92, 96, .9) transparent !important;
  pointer-events: auto !important;
  margin-left: 1rem;
}

.cdk-overlay-container .ng-dropdown-panel .ng-option-label {
  color: rgba(188, 191, 200, .75) !important;
  transition: color 0.15s ease, font-size 0.15s ease;
}

.cdk-overlay-container .ng-dropdown-panel .ng-option:hover {
  background-color: rgba(44, 44, 44, 0.7);
}

.cdk-overlay-container .ng-dropdown-panel .ng-option:hover .ng-option-label {
  color: rgba(255, 131, 7, .6) !important;
  font-size: 1.05rem;
}

.options-menu-icon:hover {
  color: rgba(255, 131, 7, .6);
  background-color: rgba(44, 44, 44, 0.7);
  border-radius: 0.25rem;
}

.options-list {
  padding-left: 0.25rem;
  padding-right: 0.5rem;
  margin-bottom: 0.75rem;
}

.options-item-disabled {
  display: block;
  min-width: 85%;
  margin: 0.0rem .5rem .25rem .5rem;
  padding: 0.5rem 0.5rem 0.25rem 0.5rem;
  clear: both;
  color: rgba(255, 131, 7, .2);
  text-align: left;
  border-bottom: 1px solid rgba(255, 131, 7, .2);
  font-size: 95%;
  transition: background-color 0.15s ease;
}

.options-item {
  display: block;
  max-width: 90%;
  margin: 0.0rem .5rem 0 .5rem !important;
  /*padding: 0.25rem 0.25rem 0 0.5rem !important;*/
  clear: both;
  color: rgba(255, 131, 7, .6);
  text-align: left;
  /*border-bottom: 1px solid rgba(255, 131, 7, .6);*/
  font-size: 95% !important;
}

.mat-mdc-menu-content {
  padding: 0 0.5rem 0.5rem 0.5rem !important;
}

.mat-mdc-menu-content .mat-mdc-menu-item {
  transition: background-color 0.15s ease, color 0.15s ease;
  padding: 0.1rem 0.25rem 0 0.5rem !important;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: rgba(188, 191, 200, .75);
}

.mat-mdc-menu-item:hover {
  background-color: rgba(255, 131, 7, .2) !important;
  color: #2c2c2c;
}

.context-menu-anchor {
  position: fixed;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  pointer-events: none;
  padding: 0;
  border: 0;
  background: transparent;
}

.has-response {
  color: rgba(255, 131, 7, .4);
}

.response-pending {
  color: rgba(29, 104, 177, .8);
}

.status-circle-icon {
  scale: 0.45;
}

.null-circle-icon {
  scale: 0.2;
  color: rgba(188, 191, 200, .2);
  transition: color 0.15s ease;
}

.null-circle-icon:hover {
  color: rgba(255, 131, 7, .5);
}


/* ------------------------------------------- ACTION BUTTONS -----------------------------------------------------*/
.action-buttons {
  border: 1px solid rgba(255, 131, 7, .75);
  padding: .42rem 1.12rem .42rem 1.12rem;
  background-color: rgba(33, 37, 41, .4);
  margin-inline: .75rem;
  color: rgba(255, 131, 7, .75);
  font-size: 0.9rem;
  border-radius: .2rem;
  transition: 0.2s ease;
}

.action-buttons-with-icons {
  display: inline-flex;
  gap: 0.25rem;
  border: 1px solid rgba(255, 131, 7, .75);
  padding: .42rem 1.12rem .42rem 1.12rem;
  background-color: rgba(33, 37, 41, .4);
  margin-inline: .75rem;
  color: rgba(255, 131, 7, .75);
  font-size: 0.9rem;
  border-radius: .2rem;
  transition: 0.2s ease;
  align-items: center;
}

.action-buttons-with-icons:hover {
  color: var(--bs-gray-900);
  border-color: rgba(255, 131, 7, .75);
  background-color: rgba(255, 131, 7, .25);
}


.action-buttons:disabled {
  border: 1px solid rgba(33, 37, 41, .4);
  padding: .42rem 1.12rem .42rem 1.12rem;
  background-color: rgba(92, 96, 101, .4);
  margin-inline: .75rem;
  color: rgba(33, 37, 41, .4);
  border-radius: .2rem;
  transition: .3s ease;
}

.action-buttons-with-icons:disabled {
  border: 1px solid rgba(33, 37, 41, .4);
  background-color: rgba(92, 96, 101, .4);
  color: rgba(33, 37, 41, .4);
}


.action-buttons-with-icons:hover:disabled {
  border: 1px solid rgba(255, 131, 7, .4);
  background-color: rgba(92, 96, 101, .4);
  color: rgba(255, 131, 7, .4);
}

.action-buttons:hover:disabled {
  border: 1px solid rgba(255, 131, 7, .4);
  padding: .42rem 1.12rem .42rem 1.12rem !important;
  background-color: rgba(92, 96, 101, .4);
  margin-inline: .75rem;
  color: rgba(255, 131, 7, .4);
  border-radius: .2rem;
}

.action-buttons:hover {
  color: var(--bs-gray-900);
  border-color: rgba(255, 131, 7, .75);
  background-color: rgba(255, 131, 7, .25);
  cursor: pointer;
}

.action-buttons-with-icons .mat-badge-content {
  background-color: rgb(52, 53, 58);
  /*color: rgba(223, 241, 255, 0.75);*/
  color: rgba(223, 241, 255, 0.5);
  font-size: .85rem !important;
  font-family: monospace;
  border: 1px solid rgba(223, 241, 255, 0.5);
  border-radius: 100rem;
}

.paginator {
  color: rgba(188, 191, 200, .9);
  padding: 1rem 2rem 1rem 0;
  margin-bottom: 5rem;
}


@media(max-width: 1700px) {
  .action-buttons {
    padding: .2rem .5rem .2rem .5rem !important;
    margin-inline: .2rem !important;
    font-size: clamp(0.5rem, 0.9rem, 1rem) !important;
    border-radius: .2rem;
  }

  .action-buttons:disabled {
    padding: .2rem .5rem .2rem .5rem !important;
    margin-inline: .2rem !important;
    font-size: clamp(0.5rem, 0.9rem, 1rem) !important;
    border-radius: .2rem;
  }

  .action-buttons:hover:disabled {
    padding: .2rem .5rem .2rem .5rem !important;
    margin-inline: .2rem !important;
    font-size: clamp(0.5rem, 0.9rem, 1rem) !important;
    border-radius: .2rem;
  }
}

@media(max-width: 1700px) {
  .action-buttons-with-icons {
    padding: .21rem .56rem .21rem .56rem !important;
  }
}

/* ------------------------------------------- 600PX MAX ----------------------------------------------------------*/
@media(max-width: 600px) {
  .cdk-overlay-container .mobile-snackbar {
    font-size: clamp(0.5rem, 0.8rem, 1rem);
  }
}
