/* label transition */
:host ::ng-deep .mat-mdc-form-field .mat-mdc-floating-label {
  padding-left: 1rem;
  padding-right: 1rem;
  transition: color 0.5s ease, font-size 0.5s ease !important;
}

/* outline transition */
:host ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mat-mdc-notch-piece {
  transition: border-color 0.5s ease !important;
  color: rgba(33, 37, 41, .75);
}

/* label hover */
:host ::ng-deep .mat-mdc-form-field:hover:not(:focus-within) .mat-mdc-floating-label {
  color: rgba(255, 131, 7, 0.5) !important;
  font-size: 105% !important;
}

/* outline hover */
:host ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled):hover .mat-mdc-notch-piece {
  border-color: rgba(255, 131, 7, 0.5) !important;
}
/* outline focused */
:host ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled):focus-within .mat-mdc-notch-piece {
  border-color: rgba(255, 131, 7, 0.5) !important;
}

/* input text/placeholder text */
:host ::ng-deep .mdc-text-field--outlined .mdc-text-field__input {
  padding-left: 1rem;
  wrap-option: wrap;
  caret-color: rgba(255, 131, 7, 0.5) !important;
}

/* character counter */
.mat-mdc-form-field-hint {
  color: rgba(33, 37, 41, .75);
  font-size: clamp(0.8rem, 1vw, 1rem);
}

/* VALIDATION STYLES */
:host ::ng-deep  .mat-mdc-form-field.ng-touched.ng-invalid .mat-mdc-notch-piece {
  border-color: rgba(161, 13, 13, 0.4);
}

mat-error {
  color: rgba(161, 13, 13, 0.4) !important;
  font-size: clamp(0.7rem, 1vw, 1rem);
}
