<div class="panel-wrapper">
  <app-waitlist-options-panel
    [waitlistMemberFilterState$]="waitlistMemberFilterState$"
    (emitFilterState)="catchFilterStateChange($event)">
  </app-waitlist-options-panel>
  <app-roster-text-field-filter
    [placeholder]="'Filter by username...'"
    [textFieldFilterCtrl]="waitlistFilterTermsCtrl">
  </app-roster-text-field-filter>
  <div *ngIf="(waitlistMembersForDisplay$ | async) as waitlistRoster"
    class="waitlist-members-list">
    @for(member of waitlistRoster; track member.userSummary.userId) {
      <app-member-chip
        [member]="member"
        (contextmenu)="rosterMemberQuickMenu.openContextMenu($event, member)"
        (touchstart)="rosterMemberQuickMenu.onTouchStart($event, member)"
        (touchend)="rosterMemberQuickMenu.onTouchEnd($event)">
      </app-member-chip>
    }
  </div>
  <ng-container *ngIf="(waitlistMembersForDisplay$ | async)?.length === 0">
    <span class="waitlist-empty-message">No matching waitlist members</span>
  </ng-container>
</div>
