<ng-container *ngIf="(hasLink && hasLink.length > 0); else noLink">
  <div class="clickable chip-self"
       (click)="routeLink(hasLink)">
    <div class="header-row">
      <ng-container *ngIf="noteType">
        <h5 class="header-context-left">{{ noteType }}</h5>
      </ng-container>
      <h5 class="header-left">{{ header }}</h5>
      <span class="header-right">
        <span class="field-label">
          Created: {{ inputNote.createdAt | date:'MMM d, h:mm a'}}</span>
      </span>
    </div>

    <div class="content-body">
      <div class="title-column">
        <p>{{ targetTitle }}</p>
      </div>
      <div class="message-column">
        <div>
          <ng-container *ngIf="isExpired; else notExpired">
              <span
                [class.archive-date]="isExpired">{{ contextLabel }} {{ archiveDate ? (archiveDate | date: 'MMM d') : '' }}</span>
          </ng-container>
          <ng-template #notExpired>
            <span class="field-label">{{ contextLabel }}</span>
            <span class="field-val has-val">{{ context }}</span>
          </ng-template>
          <ng-container *ngIf="contextElStatus">
            <span class="field-label">{{ contextElLabel }}</span>
            <span class="field-val has-val">{{ contextElStatus }}</span>
          </ng-container>
        </div>
      </div>
      <div class="action-column">
        <a (click)="deleteThisNotification()">
          <mat-icon class="delete-note">delete</mat-icon>
        </a>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #noLink>
  <div class="chip-self">
    <div class="header-row">
      <h5 class="header-left">{{ header }}</h5>
      <span class="header-right">
        <span class="field-label">
          Created: {{ inputNote.createdAt | date:'MMM d, h:mm a'}}</span>
      </span>
    </div>

    <div class="content-body">
      <div class="title-column">
        <p>{{ targetTitle }}</p>
      </div>
      <div class="message-column">
        <div>
          <ng-container *ngIf="isExpired; else notExpired">
              <span
                [class.archive-date]="isExpired">{{ contextLabel }} {{ archiveDate ? (archiveDate | date: 'MMM d') : '' }}</span>
          </ng-container>
          <ng-template #notExpired>
            <span class="field-label">{{ contextLabel }}</span>
            <span class="field-val has-val">{{ context }}</span>
          </ng-template>
        </div>
      </div>
      <div class="action-column">
        <a (click)="deleteThisNotification()">
          <mat-icon class="delete-note">delete</mat-icon>
        </a>
      </div>
    </div>
  </div>
</ng-template>
