/* popup min-height and min-width are passed in dialog.open in the method */

:host .mat-mdc-dialog-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 98%;
  justify-content: flex-start;
}

:host ::ng-deep app-generic-small-input-field .generic-input {
  margin-left: 8px;
}

:host ::ng-deep app-generic-medium-input-field .mat-mdc-text-field-wrapper {
  max-width: 90%;
  margin-inline: auto;
}

:host ::ng-deep app-generic-medium-input-field .generic-input {
  flex-direction: column;
}

:host ::ng-deep app-generic-medium-input-field mat-label {
  margin-left: 8px;
  margin-bottom: 6px;
}

:host ::ng-deep app-generic-medium-input-field mat-hint {
  margin-left: 32px;
}

h2 {
  border-bottom: 1px solid;
  width: 92%;
  min-width: 325px;
  margin-inline: auto;
  padding-left: 0;
}

.parent-details {
  margin: 15px auto 15px 20px;
}

.content-section-wrapper {
  margin: 10px 0 10px 0;
  /*background-color: rgba(108, 108, 108, 0.1);*/
  /*box-shadow: 0 0 5px rgba(188, 191, 200, .1);*/
}

.subgroup-details {
  margin: 0;
  padding-left: 0;
}

.field-row {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.field-label {
  margin-right: 4px;
  color: rgb(53, 114, 163);
}

.field-val {
  margin-right: 10px;
}

.positions-section-wrapper {
  width: 95%;
  margin-top: 20px;
  margin-inline: auto;
}

.positions-section-header {
  display: flex;
  flex-direction: row;
}

.positions-proliferation-wrapper {
  min-height: 150px;
}

.positions-chips-proliferation-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: flex-start;
}

.role-group-chip {
  border-radius: 0.4rem;
  padding: 6px 6px 6px 6px;
  height: 42px;
  /*color: rgba(69, 144, 204, 0.95);*/
  background-color: rgba(33, 37, 41, .4);
  border: 1px solid rgba(69, 144, 204, 0.95);
}

.inc-button-container {

}

.inc-dec-button {
  border: 1px solid transparent;
  padding: 0 6px 0 6px;
  background-color: rgba(33, 37, 41, .5);
  margin-left: 10px;
  color: rgba(69, 144, 204, 0.95);
  font-size: 20px;
  border-radius: .2rem;
  transition: 0.2s ease;
  min-height: 28px;
  min-width: 28px;
}

.inc-dec-button:hover {
  background-color: rgba(65, 103, 142, 0.5);
  color: rgba(33, 37, 41, 1);
}

.inc-dec-button:active {
  font-size: 15px;
}

:host ::ng-deep .dropdown-component label {
  margin-left: 10px !important;
  padding-left: 0;
  margin-right: 15px;
}

.action-buttons:hover {
  color: var(--bs-gray-900);
  border-color: rgba(255, 131, 7, .75);
  background-color: rgba(255, 131, 7, .25);
  cursor: pointer;
}

@media(min-width: 725px) and (max-width: 2000px) {

  .action-buttons {
    font-size: 0.9rem;
  }
}

@media(max-width: 1350px)  and (min-width: 725px) {
  .action-buttons {
    font-size: clamp(0.6rem, 0.8rem, 1.2rem);
  }
}

@media(max-width: 724px) {
  .action-buttons {
    font-size: .9rem;
  }
  :host ::ng-deep .ng-select .ng-select-container .ng-placeholder {
    font-size: 0.8rem;
  }

  :host ::ng-deep .ng-select .ng-select-container .ng-value-container {
    padding: 0;
    margin: 0 0 0 0;
  }

  :host ::ng-deep .ng-select.ng-select-focused .ng-select-container .ng-value-container {
    margin: 0.35rem 0.2rem 0.2rem 0.2rem;
  }

  .mat-mdc-dialog-content {
    min-height: 3rem;
  }

  .ng-select {
    padding-bottom: 0;
  }
}
