<div class="add-subgroup-popup-wrapper">
  <h2 mat-dialog-title>{{ popupTitle }}</h2>
  <mat-dialog-content>
    @if (data.parentSubgroupLabel) {
      <div class="parent-details field-row">
        <span class="field-label">Parent Subgroup: </span>
        <span class="field-val">{{ data.parentSubgroupLabel }}</span>
      </div>
    }

    <div class="content-section-wrapper">
      <app-generic-small-input-field
        [label]="'Label'"
        [errorLabel]="'Subgroup label'"
        [min]=1
        [max]=32
        [placeholder]="'Enter subgroup label/title...'"
        [inputCtrl]="subgroupLabelCtrl">
      </app-generic-small-input-field>

      <app-generic-medium-input-field
        [label]="'Notes:'"
        [errorLabel]="'Subgroup Notes'"
        [max]=255
        [placeholder]="'Optional notes...'"
        [inputCtrl]="subgroupNotesCtrl">
      </app-generic-medium-input-field>

      <div class="positions-section-wrapper">
        <div class="positions-section-header">
          <h6>Positions</h6>
        </div>
        <hr>
        <div class="positions-container">
          <div class="add-position-form">
            <app-add-position-to-new-subgroup-form
              (addPosition)="addPosition($event)">
            </app-add-position-to-new-subgroup-form>
          </div>
          <div class="positions-proliferation-wrapper">
            <div class="positions-chips-proliferation-container">
              @for (roleGroup of groupedPositions; track roleGroup.role.roleTitle) {
                <span class="role-group-chip">
                <span>{{ roleGroup.role.roleTitle }}</span>
                  <span style="margin-left: 8px">x {{ roleGroup.count }}</span>
                <span class="inc-button-container">
                  <button class="inc-dec-button"
                          (click)="decrementPosition(roleGroup.role)">
                    -
                  </button>
                  <button class="inc-dec-button"
                          (click)="addPosition(roleGroup.role)">
                    +
                  </button>
                </span>
              </span>
              }

            </div>
        </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button class="action-buttons" (click)="onCancel()">Cancel</button>
    <button class="action-buttons" (click)="onConfirm()">Create</button>
  </mat-dialog-actions>
</div>
