<div class="subgroup-label-input"
     [class.no-error-margin]="subgroupLabelCtrl.valid">
  <mat-form-field subscriptSizing="dynamic">
    <mat-error *ngIf="subgroupLabelCtrl?.hasError && (subgroupLabelCtrl.dirty || !subgroupLabelCtrl.untouched)">
        <span *ngIf="subgroupLabelCtrl?.hasError?.('minlength')">
          Label must be at least 5 characters
        </span>
      <span *ngIf="subgroupLabelCtrl?.hasError?.('required')">
          Label is required
        </span>
    </mat-error>
    <input
      matInput
      [formControl]="subgroupLabelCtrl"
      (input)="updateCharacterCount()"
      (keyup.enter)="updateLabel()"
      maxlength="32"
      placeholder="Enter listing title..."
      autocomplete="off"
      [attr.aria-labelledby]="'listing-title'">
    <button
      matSuffix
      class="embedded-save-button"
      (click)="updateLabel()">
      <mat-icon class="material-symbols-outlined dropdown-icon">save</mat-icon>
    </button>
  </mat-form-field>
  <span *ngIf="subgroupLabelCtrl.value" class="character-count">
      {{ characterCount }}/32
  </span>
</div>
