<div class="panel-wrapper">
  <app-invite-options-panel
    [inviteFilterState$]="inviteFilterState$"
    (emitFilterState)="catchFilterStateChange($event)">
  </app-invite-options-panel>
  <div class="proliferation-container">
    <ng-container *ngFor="let invite of (invitesForDisplay$ | async)">
      <app-invite-chip
        [invite]="invite"
        (inviteActionEmitter)="changeInviteStatus($event)"
        (messageRequestEmitter)="managementInteract.openConversation($event)">
      </app-invite-chip>
    </ng-container>
  </div>
</div>
<div class="bottom-button-container">
  <button class="action-buttons"
          (click)="managementInteract.openSendInvitePopup(managementInteract.sessionManager!, null)">
    Send Invite
  </button>
</div>
