@import '../../../input-fields/input-field/input-field-styles.css';
@import '../../../dropdowns/dropdown-module/dropdown-styles.css';

:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 65vh;
  width: 100%;
}

.panel-wrapper {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  max-height: 60vh;
  overflow-y: scroll;
  scrollbar-color: rgba(188, 191, 200, .1) transparent;
  scrollbar-arrow-color: transparent !important;
  scrollbar-width: thin;
}

.proliferation-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin-bottom: 10px;
  gap: 8px;
}

.bottom-button-container {
  display: flex;
  margin-top: auto;
  margin-bottom: 35px;
  justify-content: center;
  bottom: 0;
  width: 100%;
}

.dropdown-component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mat-mdc-form-field {
  width: 95%;
  margin-bottom: 8px;
}

:host ::ng-deep .panel-wrapper .dropdown-component .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

::ng-deep .dropdown-component .mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 8px;
  padding-bottom: 5px;
  min-height: 25px;
  font-size: 0.9rem;
}

::ng-deep .dropdown-component .mat-mdc-text-field-wrapper {
  margin-top: auto;
  margin-bottom: auto;
}

:host ::ng-deep .dropdown-component .mdc-text-field--outlined .mdc-floating-label {
  padding-left: 0;
  font-size: 0.9rem;
}

:host ::ng-deep .dropdown-component .mat-mdc-form-field:hover .mdc-text-field--outlined {
  font-size: 0.91rem;
}

::ng-deep .dropdown-component .mat-mdc-input-element::placeholder {
  color: rgba(150, 168, 183, 0.5) !important;
}

:host ::ng-deep .dropdown-component .mdc-text-field--outlined:not(.mdc-text-field--focused) .mdc-floating-label {
  top: 50%;
}

:host ::ng-deep .dropdown-component .mdc-text-field--outlined:not(.mdc-text-field--focused) .mdc-floating-label--float-above {
  top: 80%;
}


