:host {
  height: 100%;
  width: 100%;
}

.panel-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.proliferation-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin-bottom: 10px;
  gap: 8px;
}

.bottom-button-container {
  margin-top: auto;
  margin-bottom: 35px;
  margin-inline: auto;
}
