<div class="panel-wrapper">
  <app-invite-options-panel
    [inviteFilterState$]="inviteFilterState$"
    (emitFilterState)="inviteFilterState$.next($event)">
  </app-invite-options-panel>
  <div class="proliferation-container">
    <ng-container *ngFor="let invite of (invitesForDisplay$ | async)">
      <app-invite-chip
        [invite]="invite"
        (inviteStatusChangeEmitter)="changeInviteStatus($event)"
        (inviteAltActionEmitter)="performAltAction()">
      </app-invite-chip>
    </ng-container>
  </div>
  <div class="bottom-button-container">
    <button class="action-buttons"
      (click)="managementInteract.openSendInvitePopup(managementInteract.sessionManager!, null)">
      Send Invite
    </button>
  </div>
</div>
