:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 65vh;
  width: 100%;
}

.panel-wrapper {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  max-height: 60vh;
  overflow-y: scroll;
  scrollbar-color: rgba(188, 191, 200, .1) transparent;
  scrollbar-arrow-color: transparent !important;
  scrollbar-width: thin;
}

.proliferation-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  gap: 8px;
}

.bottom-button-container {
  display: flex;
  margin-top: auto;
  padding-top: 10px;
  margin-bottom: 2vh;
  justify-content: center;
  bottom: 0;
  width: 100%;
}

.invites-empty-message {
  color: rgba(150, 168, 183, 0.75);
  margin-top: 10px;
  margin-inline: auto;
}

