<h2 mat-dialog-title>{{ popupTitle }}</h2>
<mat-dialog-content>
  <div class="content-subsection">

      <span class="field-label">User: </span>
      <span class="field-val">{{ data.targetMember.username }}(#{{ data.targetMember.userId }})</span>


      <span class="field-label">Roster {{ data.invite.inviteDirection|titlecase }}ed: </span>
      <span class="field-val"> {{ data.invite.memberStatus|titlecase }} </span>

  </div>
  <div class="content-subsection">

      <span class="field-label">Has Mic: </span>
      <span class="field-val">{{ data.invite.hasMic }}</span>


      <span class="field-label">Has Headset: </span>
      <span class="field-val">{{ data.invite.hasHeadset }}</span>

  </div>
  <div class="content-subsection">

      <span class="field-label">Invite Status: </span>
      <span class="field-val">{{ data.invite.inviteStatus|titlecase }}</span>


      <span class="field-label">Sent At: </span>
      <span class="field-val">{{ data.invite.sentAt | date: 'MMM, dd hh:mm a'}}</span>


      <span class="field-label">Expires At: </span>
      <span class="field-val">{{ data.invite.expiresAt | date: 'MMM, dd hh:mm a'}}</span>

  </div>
  <div class="content-subsection">
    <span class="subsection-header field-label">Message: </span>
    <p>{{ data.invite.inviteMessage }}</p>
  </div>
</mat-dialog-content>
<h2 class="footer-line"></h2>
<mat-dialog-actions align="end">
  <button class="action-buttons" (click)="onCancel()">Cancel</button>
  <ng-container *ngIf="data.invite.inviteStatus === 'PENDING'; else actioned">
    <ng-container *ngIf="data.invite.inviteDirection == 'OFFER'; else requestMenu">
      <button type="button"
              class="popup-button-with-icon"
              [matMenuTriggerFor]="inviteOfferActionsMenu">
        <mat-icon>arrow_drop_down</mat-icon>
        Options
      </button>
      <mat-menu #inviteOfferActionsMenu="matMenu" yPosition="above">
        <button
          mat-menu-item
          class="options-item"
          (click)="onConfirmAction(InviteActions.MESSAGE)">
          Message
        </button>
        <button
          mat-menu-item
          class="options-item"
          (click)="onConfirmAction(InviteActions.RESCIND)">
          Rescind
        </button>
      </mat-menu>
    </ng-container>
    <ng-template #requestMenu>
      <button type="button"
              class="popup-button-with-icon"
              [matMenuTriggerFor]="inviteRequestActionsMenu">
        <mat-icon class="msg-icon">arrow_drop_down</mat-icon>
        Options
      </button>
      <mat-menu class="invite-popup-menu" #inviteRequestActionsMenu="matMenu" yPosition="above">
        <button
          mat-menu-item
          class="options-item"
          (click)="onConfirmAction(InviteActions.BLOCK)">
          <mat-icon class="material-symbols-outlined dropdown-icon">
            block
          </mat-icon>
          Block User
        </button>

        <button
          mat-menu-item
          class="options-item"
          (click)="onConfirmAction(InviteActions.DECLINE)">
          <mat-icon class="material-symbols-outlined dropdown-icon">
            cancel
          </mat-icon>
          Decline
        </button>

        <button
          mat-menu-item
          class="options-item"
          (click)="onConfirmAction(InviteActions.WAITLIST)">
          <mat-icon class="material-symbols-outlined waitlist-icon">
            acute
          </mat-icon>
          Waitlist
        </button>

        <button
          mat-menu-item
          class="options-item"
          (click)="onConfirmAction(InviteActions.ACCEPT)">
          <mat-icon class="material-symbols-outlined dropdown-icon">
            check_circle
          </mat-icon>
          Accept
        </button>

        <button
          mat-menu-item
          class="options-item"
          (click)="onConfirmAction(InviteActions.MESSAGE)">
          <mat-icon class="material-symbols-outlined dropdown-icon">
            chat_bubble
          </mat-icon>
          Message
        </button>
      </mat-menu>
    </ng-template>
  </ng-container>
  <ng-template #actioned>
    <button type="button"
            class="popup-button-with-icon"
            [matMenuTriggerFor]="inviteOfferActionsMenu">
      <mat-icon>arrow_drop_down</mat-icon>
      Options
    </button>
    <mat-menu #inviteOfferActionsMenu="matMenu" yPosition="above">
      <ng-container *ngIf="data.invite.inviteDirection === 'REQUEST'">
        <button
          mat-menu-item
          class="options-item"
          (click)="onConfirmAction(InviteActions.BLOCK)">
          <mat-icon class="material-symbols-outlined dropdown-icon">
            block
          </mat-icon>
          Block User
        </button>
      </ng-container>

      <button
        mat-menu-item
        class="options-item"
        (click)="onConfirmAction(InviteActions.DISMISS)">
        <mat-icon class="material-symbols-outlined dropdown-icon">
          cancel
        </mat-icon>
        Dismiss
      </button>

      <button
        mat-menu-item
        class="options-item"
        (click)="onConfirmAction(InviteActions.MESSAGE)">
        <mat-icon class="material-symbols-outlined dropdown-icon">
          chat_bubble
        </mat-icon>
        Message
      </button>

    </mat-menu>
  </ng-template>
</mat-dialog-actions>
