<div class="chip-self" [class.child-hovered]="isHovered">
  <ng-container *ngIf="invite.inviteDirection === 'REQUEST'; else sent">
    <div class="invite-brief-container invite-details-popup-click-target"
          (click)="openInviteDetailsPopup()"
          (mouseenter)="isHovered = true"
          (mouseleave)="isHovered = false">
      <mat-icon class="request-icon has-tooltip"
                matTooltip="Invite Request">
        call_received
      </mat-icon>
      <span class="chip-field-val username">
            {{ inviteMember.username }}
          </span>
    </div>
    <div class="actions-container">
      <button class="invite-chip-button decline"
              matTooltip="Decline Request"
              (click)="emitDeclineInviteRequest()">
        <mat-icon>close_small</mat-icon>
      </button>
      <button class="invite-chip-button accept"
              matTooltip="Accept Request">
        <mat-icon>check_small</mat-icon>
      </button>
    </div>
  </ng-container>
  <ng-template #sent>
    <div class="invite-brief-container invite-details-popup-click-target"
         (click)="openInviteDetailsPopup()"
         (mouseenter)="isHovered = true"
         (mouseleave)="isHovered = false">
      <mat-icon class="offer-icon has-tooltip"
                matTooltip="Invite Sent">
        call_made
      </mat-icon>
      <span class="chip-field-val username">
            {{ inviteMember.username }}
          </span>
    </div>
    <div class="actions-container">
      <button class="invite-chip-button decline"
              matTooltip="Rescind"
              (click)="emitDeclineInviteRequest()">
        <mat-icon>undo</mat-icon>
      </button>
    </div>
  </ng-template>
</div>

<!--
sentAt
expiresAt
inviteDirection
inviteId
inviteMessage
inviteStatus
listingId
memberStatus
senderSummary
recipientSummary
-->



