<!--
INVITATION
sentAt
expiresAt
inviteDirection
inviteId
inviteMessage
inviteStatus
listingId
memberStatus
senderSummary
recipientSummary
-->

<div class="chip-self" [class.child-hovered]="isHovered">

  <!-- PENDING && REQUEST CHIP -->
  <ng-container *ngIf="invite.inviteStatus === 'PENDING'; else actioned">
    <ng-container *ngIf="invite.inviteDirection === 'REQUEST'; else offer">
      <div class="invite-brief-container invite-details-popup-click-target"
           (click)="openInviteDetailsPopup()"
           (mouseenter)="isHovered = true"
           (mouseleave)="isHovered = false">
        <mat-icon class="request-icon has-tooltip"
                  matTooltip="Invite Request">
          call_received
        </mat-icon>
        <div class="user-column">
          <span class="chip-field-val username">
              {{ inviteMember.username }}
          </span>
          <small class="chip-field-val">For: {{ invite.memberStatus|titlecase }} {{ invite.memberStatus === 'ACTIVE' ? 'roster' : ''}}</small>
        </div>
      </div>
      <div class="actions-container">
        <button class="invite-chip-button decline"
                matTooltip="Decline Request"
                (click)="emitInviteStatusChange(inviteActions.DECLINE)">
          <mat-icon>close_small</mat-icon>
        </button>
        <button class="invite-chip-button accept"
                matTooltip="Accept Request"
                (click)="emitInviteStatusChange(inviteActions.ACCEPT)">
          <mat-icon>check_small</mat-icon>
        </button>
      </div>
    </ng-container>

    <!-- PENDING && OFFER CHIP -->
    <ng-template #offer>
      <div class="invite-brief-container invite-details-popup-click-target"
           (click)="openInviteDetailsPopup()"
           (mouseenter)="isHovered = true"
           (mouseleave)="isHovered = false">
        <mat-icon class="offer-icon has-tooltip"
                  matTooltip="Invite Sent">
          call_made
        </mat-icon>
        <div class="user-column">
          <span class="chip-field-val username">
              {{ inviteMember.username }}
          </span>
          <small class="chip-field-val">For: {{ invite.memberStatus|titlecase }} {{ invite.memberStatus === 'ACTIVE' ? 'roster' : ''}}</small>
        </div>
      </div>
      <div class="actions-container">
        <button class="invite-chip-button decline"
                matTooltip="Rescind"
                (click)="emitInviteStatusChange(inviteActions.RESCIND)">
          <mat-icon>undo</mat-icon>
        </button>
      </div>
    </ng-template>
  </ng-container>

  <!-- ACTIONED CHIP -->
  <ng-template #actioned>
    <div class="invite-brief-container invite-details-popup-click-target"
         (click)="openInviteDetailsPopup()"
         (mouseenter)="isHovered = true"
         (mouseleave)="isHovered = false">
<!--      <ng-container *ngIf="invite.inviteStatus === 'ACCEPTED'; else otherAction">-->
<!--        <mat-icon class="request-icon has-tooltip"-->
<!--                  matTooltip="Accepted">-->
<!--          check_mark-->
<!--        </mat-icon>-->
<!--      </ng-container>-->
<!--      <ng-template #otherAction>-->
<!--        <mat-icon class="offer-icon has-tooltip"-->
<!--                  matTooltip="Accepted">-->
<!--          block-->
<!--        </mat-icon>-->
<!--      </ng-template>-->
      <div class="user-column">
          <span class="chip-field-val username">
              {{ inviteMember.username }}
          </span>
        <small class="chip-field-val">For: {{ invite.memberStatus|titlecase }} {{ invite.memberStatus === 'ACTIVE' ? 'roster' : ''}}</small>
      </div>
      <span class="chip-field-val"
            [ngClass]="{
            accepted: invite.inviteStatus === InviteActions.ACCEPT,
            terminal: invite.inviteStatus !== InviteActions.ACCEPT,
            }">
        <ng-container *ngIf="invite.inviteDirection === 'OFFER'; else inviteRequest">
          <mat-icon class="chip-field-icon">call_made</mat-icon>
        </ng-container>
        <ng-template #inviteRequest>
          <mat-icon class="chip-field-icon">
            call_received
          </mat-icon>
        </ng-template>
         {{ invite.inviteStatus|titlecase }}
      </span>
    </div>
    <div class="actions-container">
      <button class="invite-chip-button decline"
              matTooltip="Dismiss"
              (click)="emitInviteAltAction(inviteActions.DISMISS)">
        <mat-icon>close_small</mat-icon>
      </button>
    </div>
  </ng-template>
</div>




