<mat-accordion class="options-accordion-panel">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="child-container-header">
        Options
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="options-body-container">
      <div class="options-subgroup">
        <span class="options-subgroup-header">Status</span>
        <mat-radio-group [value]="(inviteFilterState$ | async)?.status"
                         (change)="onStatusChange($event.value)"
                         class="radio-row">
          <mat-radio-button value="BOTH" labelPosition="before">Both:</mat-radio-button>
          <mat-radio-button value="PENDING" labelPosition="before">Pending:</mat-radio-button>
          <mat-radio-button value="ACTIONED" labelPosition="before">Actioned:</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="options-subgroup">
        <span class="options-subgroup-header">Direction</span>
        <mat-radio-group [value]="(inviteFilterState$ | async)?.direction"
                         (change)="onDirectionChange($event.value)"
                         class="radio-row">
          <mat-radio-button value="BOTH" labelPosition="before">Both:</mat-radio-button>
          <mat-radio-button value="OFFER" labelPosition="before">Offers:</mat-radio-button>
          <mat-radio-button value="REQUEST" labelPosition="before">Requests:</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
