<mat-accordion class="options-accordion-panel">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="child-container-header">
        Options
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="options-body-container">
      <div class="options-subgroup">
        <span class="options-subgroup-header">Status</span>
        <mat-button-toggle-group [value]="(inviteFilterState$ | async)?.status"
                         (change)="onStatusChange($event.value)"
                         class="toggle-button-row">
          <mat-button-toggle value="BOTH">Both</mat-button-toggle>
          <mat-button-toggle value="PENDING">Pending</mat-button-toggle>
          <mat-button-toggle value="ACTIONED">Actioned</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div class="options-subgroup">
        <span class="options-subgroup-header">Direction</span>
        <mat-button-toggle-group [value]="(inviteFilterState$ | async)?.direction"
                         (change)="onDirectionChange($event.value)"
                         class="toggle-button-row">
          <mat-button-toggle value="BOTH">Both</mat-button-toggle>
          <mat-button-toggle value="OFFER">Offers</mat-button-toggle>
          <mat-button-toggle value="REQUEST">Requests</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
