<div class="dropdown-component">
  <mat-form-field>
    <mat-label>Search Users</mat-label>
    <input type="text" matInput
      [formControl]="abstractCtrl"
      [placeholder]="'username (Or: username#1234)'"
      (keyup.enter)="searchUsers()"
      [matAutocomplete]="autoUsers">
  </mat-form-field>
  <mat-autocomplete #autoUsers="matAutocomplete" [displayWith]="displayUser">
    <ng-container *ngIf="!noResults">
      <mat-option *ngFor="let user of (searchResults$ | async)" [value]="user">
        <div class="search-results">
          <span>{{ user.username }}</span>
          <br>
          <small>In-Game: {{ user.inGameUsername }}</small>
        </div>
      </mat-option>
    </ng-container>
    <ng-container *ngIf="(searchReturned$ | async) == SearchStatus.WORKING">
      <mat-option disabled class="searching">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-option>
    </ng-container>
    <ng-container *ngIf="noResults && (searchReturned$ | async) == SearchStatus.COMPLETE">
      <mat-option disabled class="no-results-option">
        No Results Match
      </mat-option>
    </ng-container>
  </mat-autocomplete>
</div>
