<div class="title-container">
  <h5>My Groups</h5>

  <div class="header-notice">
    <ul>
      <li>Review rosters, activity details, and your assigned roles in groups that you have joined or started.</li>
      <li>For groups where you are a ranking member:
        <ul>
          <li>Respond to or send <span class="fancy-text">group invites</span></li>
          <li><span class="fancy-text">Define group structure through ship
            templates</span> with position and role slots, or <span class="fancy-text">create your own subgroups, positions,
            and roles</span> to match the activity you are planning.</li>
          <li>Assign ranks to other members to <span class="fancy-text">allow other ranking members to help organize
            the group.</span></li>
          <li><span class="fancy-text">Schedule RSVP notifications</span> to remind group members to be prepared
            for the activity.</li>
          <li>Manage <span class="fancy-text">'Active' and 'Waitlist'</span> rosters to make sure you have a full crew
            available when your activity starts.</li>
        </ul>
    </ul>
  </div>
</div>
<mat-accordion class="groups-accordion-container"
               [multi]="true">

  <mat-expansion-panel id="invites" [expanded]="invitesExpanded" (expandedChange)="invitesExpanded = $event">
    <mat-expansion-panel-header>
      <mat-panel-title class="child-container-header">
        Invites & Requests
      </mat-panel-title>
      <mat-panel-description>
        Group invites you've received and join requests you've sent for other people's groups
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="group-memberships-wrapper">

      <div class="options-panel">
        <div class="options-subgroup">
          <span class="options-subgroup-header">Status</span>
          <mat-radio-group [value]="(inviteFilterState$ | async)?.status"
                           (change)="onStatusFilterChange($event.value)"
                           class="radio-row">
            <mat-radio-button value="BOTH" labelPosition="before">Both:</mat-radio-button>
            <mat-radio-button value="PENDING" labelPosition="before">Pending:</mat-radio-button>
            <mat-radio-button value="ACTIONED" labelPosition="before">Actioned:</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="options-subgroup">
          <span class="options-subgroup-header">Direction</span>
          <mat-radio-group [value]="(inviteFilterState$ | async)?.direction"
                           (change)="onDirectionFilterChange($event.value)"
                           class="radio-row">
            <mat-radio-button value="BOTH" labelPosition="before">Both:</mat-radio-button>
            <mat-radio-button value="OFFER" labelPosition="before">Offers:</mat-radio-button>
            <mat-radio-button value="REQUEST" labelPosition="before">Requests:</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <ng-container *ngIf="myInvitesForDisplay$ | async as myInvites">
        <ng-container *ngFor="let invite of myInvites">
          <app-my-invites-chip
            [invite]="invite"
            (emitListing)="passListingEmissionToParent($event)"
            (inviteActionEmitter)="handleInviteChipAction($event)">
          </app-my-invites-chip>
        </ng-container>
        <ng-container *ngIf="invIdx < (invTotalPages - 1)">
          <div class="invites-page-info-container">
            <button class="show-more-invites-button"
              (click)="getMoreInvites()">
              Show More
            </button>
          </div>
        </ng-container>
        <div class="invites-page-info-container">
          <span>( {{ myInvites.length }} of {{ invTotalElements }} )</span>
        </div>
      </ng-container>
      <ng-container *ngIf="noInvites">
        <span class="no-memberships-msg">You don't have any active group invites or requests.</span>
      </ng-container>
      <span class="no-memberships-msg">
          Join requests and invites you have sent for your groups are found in the 'Group Memberships' section:
      </span>
      <span class="no-memberships-msg">'View Roster' or 'Manage Group'</span>
    </div>
  </mat-expansion-panel>


  <mat-expansion-panel id="memberships" [expanded]="membershipsExpanded" (expandedChange)="membershipsExpanded = $event">
    <mat-expansion-panel-header>
      <mat-panel-title class="child-container-header">
        Group Memberships
      </mat-panel-title>
      <mat-panel-description>
        Active or upcoming groups that you have joined
      </mat-panel-description>
    </mat-expansion-panel-header>

  <div class="group-memberships-wrapper">

    <div class="options-panel">
      <div class="options-subgroup">
        <span class="options-subgroup-header">Group Schedule</span>
        <mat-radio-group [value]="(membershipFilterState$ | async)?.groupStatus"
                         (change)="onMembershipGroupScheduleFilterChange($event.value)"
                         class="radio-row">
          <mat-radio-button value="BOTH" labelPosition="before">Both:</mat-radio-button>
          <mat-radio-button value="UPCOMING" labelPosition="before">Upcoming:</mat-radio-button>
          <mat-radio-button value="PAST" labelPosition="before">Past:</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="options-subgroup">
        <span class="options-subgroup-header">Management Privileges</span>
        <mat-radio-group [value]="(membershipFilterState$ | async)?.managementPrivileges"
                         (change)="onMembershipPrivilegesFilterChange($event.value)"
                         class="radio-row">
          <mat-radio-button value="BOTH" labelPosition="before">Both:</mat-radio-button>
          <mat-radio-button value="PRIVILEGES" labelPosition="before">Privileges:</mat-radio-button>
          <mat-radio-button value="NO_PRIVILEGES" labelPosition="before">None:</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="options-subgroup">
        <span class="options-subgroup-header">Ownership</span>
        <mat-radio-group [value]="(membershipFilterState$ | async)?.ownership"
                         (change)="onMembershipOwnershipFilterChange($event.value)"
                         class="radio-row">
          <mat-radio-button value="BOTH" labelPosition="before">Both:</mat-radio-button>
          <mat-radio-button value="OWNER" labelPosition="before">Owner:</mat-radio-button>
          <mat-radio-button value="NOT_OWNER" labelPosition="before">Not Owner:</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="options-subgroup">
        <span class="options-subgroup-header">Roster</span>
        <mat-radio-group [value]="(membershipFilterState$ | async)?.roster"
                         (change)="onMembershipRosterFilterChange($event.value)"
                         class="radio-row">
          <mat-radio-button value="BOTH" labelPosition="before">Both:</mat-radio-button>
          <mat-radio-button value="ACTIVE" labelPosition="before">Active:</mat-radio-button>
          <mat-radio-button value="WAITLIST" labelPosition="before">Waitlist:</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="options-subgroup">
        <span class="options-subgroup-header">Sort By</span>
        <mat-radio-group [value]="memberInteract.membershipSortField"
                          (change)="sortMemberships($event.value)"
                          class="radio-row">
          <mat-radio-button value="joinedAt" labelPosition="before">Joined At:</mat-radio-button>
          <mat-radio-button value="nearest" labelPosition="before">Nearest:</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <ng-container *ngIf="myMembershipsForDisplay$ | async as groupMemberships; else noMemberships">
      <ng-container *ngFor="let membership of groupMemberships">
        <app-groups-chip
          [membership]="membership"
          (emitListing)="passListingEmissionToParent($event)">
        </app-groups-chip>
      </ng-container>
      <ng-container *ngIf="memberInteract.membershipIdx < (memberInteract.membershipTotalPages - 1)">
        <div class="invites-page-info-container">
          <button class="show-more-invites-button"
                  (click)="getMoreMemberships()">
            Show More
          </button>
        </div>
      </ng-container>
      <div class="invites-page-info-container">
        <span>( {{ groupMemberships.length }} of {{ memberInteract.membershipTotalEl }} )</span>
      </div>
    </ng-container>

    <ng-template #noMemberships>
      <div class="no-memberships-msg">
        <span>You aren't a member of any active groups.</span>
      </div>
    </ng-template>
  </div>
  </mat-expansion-panel>
</mat-accordion>
