.footer-container {
  display: inline-block;
  background-color: var(--bs-dark) !important;
  color: rgba(188, 191, 200, .75);
  width: 98vw;
  border-top: 1px solid rgba(188, 191, 200, .25);
  min-height: 125px;
}

.disclaimer1 {
  font-weight: 300;
  font-size: 1rem;
  margin-top: clamp(1rem, 1.5rem, 2rem);
}

.disclaimer2 {
  font-weight: 300;
  font-size: 1rem;
  min-width: 100%;
}

.footer-text-wrapper {
  display: flex;
  height: 125px;
  vertical-align: center;
}

.footer-text {
  font-size: clamp(0.6rem, 1vw, 1rem);
  display: grid;
  grid-template-columns: 17.5% 66.6% 15.9%;
  margin-inline: auto;
  width: 80%;
  height: 100%;
}

#linkOfficial {
  color: rgba(255, 131, 7, .5);
  text-decoration: none;
  transition: font-size 0.15s ease, text-shadow 0.35s ease;
  font-size: 1rem;
  min-width: 100%;
}

#linkOfficial:hover {
  font-size: 101.5%;
  text-shadow: .2rem .2rem .3rem rgba(255, 131, 7, .45);
}

.disclaimer-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#communityLogo {
  position: absolute;
  top: 10px;
  opacity: 0.65;
  left: 0;
  padding-left: 10px;
  height: auto;
  width: clamp(115px, 15%, 90px);
}

@media(max-width: 925px) and (min-width: 600px){
  .disclaimer1 {
    margin-top: 1rem;
    font-size: 0.8rem;
  }

  .disclaimer2 {
    font-size: 0.8rem;
  }

  #linkOfficial {
    font-size: 0.8rem;
  }

  .footer-text {
    font-size: 0.8rem;
    grid-template-columns: 10% 90%;
  }

  #communityLogo {
    width: clamp(90px, 15%, 80px);
  }
}

/*@media(min-width: 1200px) {*/
/*  .footer-text-wrapper {*/
/*    margin-right: 1.75rem*/
/*  }*/
/*}*/



@media (max-width: 600px) {
  .footer-text {
    grid-template-columns: 15% 85%;
  }

  .disclaimer1 {
    margin-top: 1rem;
    font-size: 0.8rem;
  }

  .disclaimer2 {
    font-size: 0.8rem;
  }

  #linkOfficial {
    font-size: 0.8rem;
  }
}

@media(max-width: 600px) and (min-width: 501px) {
  #communityLogo {
    top: 12px;
    left: 0;
    width: 90px;
    padding-left: 0;
  }
}

@media(max-width: 500px) {
  #communityLogo {
    width: 90px;
    padding-left: 0;
  }
}

@media(max-width: 450px) {
  .footer-text {
    grid-template-columns: 10% 90%;
    margin-left: auto;
    margin-right: 10px;
  }

  .disclaimer1 {
    font-size: 0.7rem;
  }

  .disclaimer2 {
    font-size: 0.7rem;
  }

  #linkOfficial {
    font-size: 0.7rem;
  }
}
