.navbar.bg-body-tertiary {
  background-color: var(--stark-blue) !important;
  border: 1px groove rgba(13, 47, 67);
  border-radius: .75rem;
  color: rgba(13, 47, 67);
  flex-wrap: nowrap;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
}
#communityLogo {
  display: flex;
  justify-content: flex-start;
  opacity: 0.65;
  margin: .5rem 0 0 .5rem;
  padding: 0;
}

.footer-text {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  flex-grow: 1;
}

#disclaimer {
  display: flex;
  justify-content: flex-start;
  margin-left: 10%;
  flex-grow: 1;
  font-weight: bold;
}

#linkOfficial {
  margin-left: 21%;
  flex-wrap: wrap;
  color: rgba(255, 131, 7, .75);
  text-decoration: none;
}

#linkOfficial:hover {
  text-decoration: underline;
}
