<nav class="navbar bg-body-tertiary" data-bs-theme="light">
  <div class="container-fluid">
    <img ngSrc="/images/MadeByTheCommunity_Black.png" class="rounded float-start" id="communityLogo" alt="Star Citizen Made By the Community Logo"
         height="240" width="240">
    <div class="footer-text">
      <span id="disclaimer">Star Citizen®, Roberts Space Industries® and Cloud Imperium ® are registered trademarks of Cloud Imperium Rights LLC</span>
      <br>
      <a href="https://robertsspaceindustries.com/" title="RSI Official" id="linkOfficial">Go To Star Citizen and Roberts Space Industries Official Website</a>
    </div>
  </div>
</nav>
