.navbar.bg-body-tertiary {
  display: inline-block;
  background-color: var(--bs-dark) !important;
  color: rgba(188, 191, 200, .75);
  position: fixed;
  bottom: 0;
  left: 0;
  min-width: 100vw;
  min-height: 90px;
  z-index: 1030;
}

.disclaimer1 {
  font-weight: 300;
  font-size: clamp(0.8rem, 0.9rem, 1rem);
  margin-top: 0.25rem;
}

.disclaimer2 {
  font-weight: 300;
  font-size: clamp(0.8rem, 0.9rem, 1rem);
  min-width: 100%;
}

.footer-text {
  font-size: clamp(0.6rem, 1vw, 1rem);
  display: grid;
  grid-template-columns: 17.5% 66.6% 15.9%;
  margin-inline: auto;
  max-width: 80vw;
}

#linkOfficial {
  color: rgba(255, 131, 7, .5);
  text-decoration: none;
  transition: font-size 0.15s ease, text-shadow 0.35s ease;
  font-size: clamp(0.8rem, 0.9rem, 1rem);
  min-width: 100%;
}

#linkOfficial:hover {
  font-size: 91.5%;
  text-shadow: .2rem .2rem .3rem rgba(255, 131, 7, .45);
}

.disclaimer-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media(max-width: 925px) and (min-width: 500px){
  .disclaimer1 {
    font-size: 0.8rem;
  }

  .disclaimer2 {
    font-size: 0.8rem;
  }

  #linkOfficial {
    font-size: 0.8rem;
  }

  .footer-text {
    font-size: 0.7rem;
    grid-template-columns: 5% 95%;
  }
}

@media(min-width: 1200px) {
  .footer-text-wrapper {
    margin-right: 1.75rem
  }
}

@media(min-width: 500px) {
  #communityLogo {
    position: absolute;
    top: 6px;
    opacity: 0.65;
    left: 0;
    padding-left: 10px;
    height: auto;
    width: clamp(80px, 15%, 90px);
  }
}

@media(max-width: 500px) {
  #communityLogo {
    position: absolute;
    top: 12px;
    opacity: 0.65;
    left: 8px;
    height: auto;
    width: clamp(80px, 12%, 100px);
  }

  .footer-text {
    font-size: 0.7rem;
    grid-template-columns: 20% 80%;
  }

  .disclaimer1 {
    font-size: 0.7rem;
  }

  .disclaimer2 {
    font-size: 0.7rem;
  }

  #linkOfficial {
    font-size: 0.7rem;
  }
}
