<nav class="footer-container" data-bs-theme="light" measureFooterHeight>
  <div class="community-logo-container">
    <img ngSrc="/images/MadeByTheCommunity_Black.png" class="rounded float-start" id="communityLogo"
         alt="Star Citizen Made By the Community Logo" height="120" width="120">
  </div>
  <div class="footer-text-wrapper">
    <div class="footer-text">
      <div class="fill-space"></div>
        <div class="disclaimer-container">
          <span class="disclaimer1">This is an unofficial Star Citizen Fan Site.</span>
          <span>
            <a href="https://robertsspaceindustries.com/" title="RSI Official" id="linkOfficial">
              Star Citizen®, Roberts Space Industries® and Cloud Imperium®
            </a>
          </span>
          <span class="disclaimer2">are registered trademarks of Cloud Imperium Rights LLC</span>
        </div>
      <div class="fill-space"></div>
    </div>
  </div>
</nav>
