:host .body-container {
  max-width: 98% !important;
}

.page-title {
  display: inline-block;
  font-size: clamp(1.1rem, 3vw, 2rem);
  margin-left: 5rem;
  padding: clamp(0.35rem, 5px, 2rem);
}

.group-header-container {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  gap: 25px;
  font-family: 'Exo 2', sans-serif;
  font-size: 1rem;
  margin: 15px auto 20px 20px;
  border-bottom: 1px solid rgba(150, 168, 183, .3);
  max-width: 95%;
}

.banner-item {
  padding: 6px 10px 6px 10px;
  border: 1px solid;
  color: rgba(150, 168, 183, .75);
  box-shadow: 0 0 4px rgba(150, 168, 183, .25);
  border-radius: 8px;
  margin-bottom: 10px;
}

.banner-item.notice-me {
  color: rgba(53, 114, 163, 0.85);
}

.management-container {
  isolation: isolate;
  color: rgba(150, 168, 183, 1);
  background-color: rgb(77 80 83 / 0.3);
  min-height: 85vh;
  width: 98%;
  align-self: center;
  display: grid;
  grid-template-columns: 340px 1fr;
}

.roster-container {
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(44, 44, 44, 0.5);
  flex: 1 1 auto;
}

app-roster-management {
  height: 100%;
}

/* ------------------------------------------------------------------------------------------------------*/

.subgroup-management-container {
  height: 100%;
  max-width: 95vw;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #2c2c2c transparent;
  scrollbar-arrow-color: transparent !important;
  padding-bottom: 5rem;

}

.account-window-body {
  padding: 0.5rem 0.5rem 2rem 0.5rem;
  max-width: 95%;
  overflow: hidden;
}

.subgroups-button-header-row {
  display: flex;
  flex-direction: row;
  gap: 10%;
  margin-inline: auto;
}

.button-group-left {
  margin-left: 1rem;
}

.expansion-form-container {
  max-width: 95%;
  overflow: visible;
}

app-load-crew-template-form {
  margin-top: 0;
  margin-bottom: 0;
  overflow: visible;
  max-height: 150px;
  max-width: 90%;
  transform-origin: top left;
  transition: transform 0.5s ease, max-width 0.32s ease, max-height 0.5s ease, margin-top 0.3s ease;
}

@media(max-width: 1200px) {
  app-load-crew-template-form.show-form {
    min-width: 100%;
    flex: 0 0 auto;
    overflow-y: visible !important;
  }
}

.do-not-show-form {
  /*transform: scaleY(0) scaleX(0);*/
  max-height: 0;
  max-width: 0;
  border: 1px solid transparent;
  pointer-events: none;
  overflow: hidden;
  margin-left: 80px;
}

.show-form {
  /*transform: scaleY(1) scaleX(1);*/
  max-height: 150px;
  max-width: 90%;
  overflow-y: visible !important;
  margin-left: 80px;
  margin-top: 20px;
  border: 1px solid rgba(28, 24, 24, 0.1);
  border-radius: 10px;
}

app-load-crew-template-form.show-form.expanding {
  overflow-x: hidden !important;
}

.show-form.from-template {
  max-width: 1100px;
}

.mat-spinner-overlay {
  position: absolute;
  background-color: rgba(17, 17, 19, 0.2);
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 1px -2px,
  rgba(0, 0, 0, 0.12) 0 1px 5px 0;
  color: #aa7902;
  border: 1px solid transparent;
  z-index: 10000;
  width: 100%;
  height: 100%;
  margin-inline: auto;
  vertical-align: center;
  pointer-events: all;
}
