.page-title {
  display: inline-block;
  font-size: clamp(1.1rem, 3vw, 2rem);
  margin-left: 5rem;
  padding: clamp(0.35rem, 5px, 2rem);
}

.group-header-container {
  font-family: 'Exo 2', sans-serif;
  font-size: 1.25rem;
  margin: 15px auto 20px 20px;
  border-bottom: 1px solid rgba(150, 168, 183, .3);
  max-width: 95%;
}

.management-container {
  color: rgba(150, 168, 183, 1);
  background-color: rgba(88, 92, 96, .3);
  min-height: 85vh;
  width: 98%;
  align-self: center;
  display: grid;
  grid-template-columns: 360px 1fr;
}

.roster-container {
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(44, 44, 44, 0.5);
  flex: 1 1 auto;
}

app-roster-management {
  height: 100%;
}



/* ------------------------------------------------------------------------------------------------------*/

.subgroups-container {
  height: 100%;
  max-width: 95vw;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #2c2c2c transparent;
  scrollbar-arrow-color: transparent !important;
  padding-bottom: 5rem;
}

.account-window-body {
  padding: 0.5rem 0.5rem 2rem 0.5rem;
  max-width: 95%;
  overflow: hidden;
}
