<div class="body-container">
  <span class="page-title">Group Management</span>
  <ng-container *ngIf="!pageIsLoading; else loading">
    <div class="management-container">
      <div class="roster-container">
        <app-roster-management>
        </app-roster-management>
      </div>
      <div class="subgroups-container">
        <ng-template #doneLoading>
          <div>some stuff dude.</div>
        </ng-template>
      </div>
    </div>
  </ng-container>
  <ng-template #loading>
    <div class="mat-spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
