<table class="table table-hover">
  <thead class="table-dark">
    <tr class="table-header">
      <th>Title</th>
      <th>Listed By</th>
      <th>Group Status</th>
      <th>Server</th>
      <th>Game Environment</th>
      <th>Game Experience</th>
      <th>Gameplay Category</th>
      <th>System</th>
      <th>Legality</th>
      <th>PvP Status</th>
      <th>Voice Chat</th>
    </tr>
  </thead>

  <tbody *ngIf="groupListings">
      <tr *ngFor="let tempGroupListing of groupListings">
        <td colspan="11">
          <div class="listing-title">
              {{ tempGroupListing.listingTitle }}
          </div>
          <div class="listing-details">
            <span></span>
            <span>{{ tempGroupListing.userName }}</span>
            <span>{{ tempGroupListing.groupStatus }}</span>
            <span>{{ tempGroupListing.server }}</span>
            <span>{{tempGroupListing.environment }}</span>
            <span>{{ tempGroupListing.experience }}</span>
            <span>{{tempGroupListing.subcategory }}</span>
            <span>{{tempGroupListing.system }}</span>
            <span>{{ tempGroupListing.legality }}</span>
            <span>{{ tempGroupListing.pvpStatus }}</span>
            <span>{{ tempGroupListing.commsOption }}</span>
          </div>
        </td>
      </tr>
  </tbody>

</table>
