.listing-title {
  font-weight: bold;
  font-size: 16px;
  padding: 5px 0px 10px 10px;
  width: 100%;
  background-color: lightgray;
  clip-path: inset(10px, 10px, 10px, 10px);
}


.table th {
  background-color: #3e4144;
  padding: .5rem;
}

.table tbody tr td {
  background-color: lightslategray;
}

.listing-details {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-column-gap: 1rem;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  justify-items: center;
}

.listing-details span {
  width: 100%;
  margin-left: .75rem;
  margin-right: .25rem;
}

.table-header {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  width: 100%;
  font-size: 14px;
}

.table-header th {
  padding-left: 20px;
}

td {
  width: 100%;
}

span {
  width: 100%;
}

