:host {
  display: flex;
  flex-direction: column;
  font-family: "Exo 2", sans-serif;
  background-color: rgba(150, 168, 183, 0.1);
  border-radius: 4px;
  margin: 3px 6px 7px 4px;
  padding: 4px;
  color: rgba(150, 168, 183, 0.8);
  box-shadow: 0 0 2px 1px rgba(150, 168, 183, 0.3);
  width: 296px;
  overflow-x: hidden;
}

.note-container {
  display: grid;
  grid-template-columns: minmax(250px, max-content) auto;
  align-items: center;
}

.note-element {
  transition: opacity 200ms ease, transform 200ms ease, max-height 200ms ease, min-height 200ms ease, padding-left 200ms ease;
  opacity: 1;
  transform: translateY(0);
  max-height: 60px;
  min-height: 50px;
  padding-left: 4px;
  margin: 0;
  overflow: hidden;
}

.note-element.closing {
  opacity: 0;
  transform: translateY(-6px);
  min-height: 0;
  max-height: 0;
  padding-left: 0;
}

#remove-button {
  background-color: transparent;
  border: none;
  color: rgba(150, 168, 183, 0.8);
  border-radius: 4px;
  transition: color 0.2s ease, background-color 0.2s ease, min-height 200ms ease, transform 200ms ease !important;
  min-height: 20px !important;
}

#remove-button:hover {
  color:  rgba(255, 131, 7, .5);
  background-color: rgba(44, 30, 18, 0.3);
  align-items: center;
  line-height: 1;
}

.remove-element.closing {
  display: none !important;
}

h1 {
  font-size: 15px;
  margin-bottom: 2px;
}

p {
  margin-bottom: 1px;
  font-weight: 500;
  font-size: 12px;
}

#note-msg {
  color: rgba(52, 135, 168, 0.9);
}

.data-row {
  display: grid;
  grid-template-columns: minmax(140px, max-content) auto;
  font-weight: 500;
  font-size: 12px;
}

.ts-container {
  display: flex;
  align-items: flex-end;
}

.ts {
  width: 100%;
  text-align: right;
}
