<mat-expansion-panel
  [expanded]="true"
  disabled
  [class.is-hovered-container]="(isHoveredTarget$ | async)"
  #groupCompRootContainer
  class="group-composition-container">

  <mat-expansion-panel-header
    cdkDragHandle
    #rootListHoverTarget
    [class.is-hovered-container]="isHoveredTarget$ | async">
    <mat-panel-title class="child-container-header">
      <div class="header-title-buttons-container">
        <button class="header-action-buttons"
                type="button">
          <mat-icon class="material-symbols-outlined"
                    matTooltip="Help/Tips">
            info
          </mat-icon>
        </button>

        <button class="header-action-buttons"
                type="button"
                (click)="compositionInteract.undoLastSubgroupAction()"
                [disabled]="compositionInteract.undoIsDisabled"
                [matTooltip]="'Undo: ' + compositionInteract.peekAtLastActionLabel">
          <mat-icon class="material-symbols-outlined">
            undo
          </mat-icon>
        </button>
      </div>
      <span class="header-group-title">
        {{ listingTitle }}
      </span>

    </mat-panel-title>
    <div class="header-right">
      <button class="header-button"
              type="button"
              (click)="toggleDropListOrientation()">
        <mat-icon [matTooltip]="`Change root orientation from '${toTitleCase(rootOrientation)}' to '${toTitleCase(togglesNextOrientation)}'`">
          <span class="material-symbols-outlined"
            [class.orientation-state-horizontal]="rootOrientation === 'horizontal'"
            [class.orientation-state-vertical]="rootOrientation === 'vertical'"
            [class.orientation-state-mixed]="rootOrientation === 'mixed'">
            screen_rotation_alt
          </span>
        </mat-icon>
      </button>

      <button class="header-button"
              type="button"
              (click)="toggleCollapseAll()">
        <mat-icon class="root-subgroup-header-button-icon"
                  [class.rotate]="!(allExpanded$ | async)"
                  [matTooltip]="(allExpanded$ | async) ? 'Collapse All' : 'Expand All'">
          arrow_drop_up
        </mat-icon>
      </button>

      <button class="header-button"
              type="button"
              (click)="toggleCollapseRootsChildren()">
          <span class="material-symbols-outlined"
                [matTooltip]="(rootChildrenExpanded$ | async) ? 'Collapse Children' : 'Expand Children'">
                    <ng-container *ngIf="(rootChildrenExpanded$ | async) === true; else childrenCollapsed">
                      <span class="root-subgroup-header-button-icon">
                        collapse_content
                      </span>
                    </ng-container>
                    <ng-template #childrenCollapsed>
                      <span class="root-subgroup-header-button-icon">
                        expand_content
                      </span>
                    </ng-template>
          </span>
      </button>

      <button class="header-button"
              type="button"
              [matMenuTriggerFor]="subgroupOptionsMenu">
        <mat-icon matTooltip="Options" class="root-subgroup-header-button-icon">
          more_vert
        </mat-icon>
      </button>
      <mat-menu #subgroupOptionsMenu="matMenu" yPosition="below" panelClass="subgroup-options-menu">
        <button
          mat-menu-item
          class="options-item"
          (click)="getClientRect()">
          <mat-icon class="material-symbols-outlined dropdown-icon">add_circle_outline</mat-icon>
          <span>New subgroup</span>
        </button>

        <button
          mat-menu-item
          class="options-item">
          <mat-icon class="material-symbols-outlined dropdown-icon">file_save</mat-icon>
          <span>Save template</span>
        </button>
      </mat-menu>
    </div>
  </mat-expansion-panel-header>

  <ng-container *ngIf="(compositionInteract.subgroupTrees$ | async) as subgroups">
    <div>
      <div class="drop-list-facade">
        <div
          class="root-subgroup-drop-list"
          [class.orientation-horizontal]="rootOrientation === 'horizontal'"
          [class.orientation-vertical]="rootOrientation === 'vertical'"
          [class.orientation-mixed]="rootOrientation === 'mixed'"
          cdkDropList
          cdkDropListGroup
          #rootSubgroupListElement
          #rootSubgroupList="cdkDropList"
          [cdkDropListOrientation]="rootOrientation"
          [cdkDropListData]="subgroups"
          (cdkDropListDropped)="compositionInteract.onSubgroupDrop($event)"
          [cdkDropListEnterPredicate]="rootEnterPredicate"
          [cdkDropListConnectedTo]="connectedToSubgroups"
          (scroll)="updateHorizontalScrollButtonVisibility()">

          <ng-container *ngIf="canScrollHorizontal$ | async">
            <button class="drop-list-horizontal-scroll left"
                    [class.show-scroll-button]="showLeftScroll"
                    [class.do-not-show-scroll-button]="!showLeftScroll"
                    (click)="scrollHorizontal('left')">
              <span class="material-symbols-outlined scroll-arrow-scaled">
                arrow_back_ios
              </span>
            </button>
          </ng-container>

          @for (treeRoot of subgroups; track treeRoot.subgroupId) {
            <div cdkDrag
                 [cdkDragData]="treeRoot"
                 (cdkDragMoved)="dropListRegistry.onDragMoved($event)"
                 (cdkDragReleased)="resetAfterDragReleased($event)">
              <app-crew-subgroup
                [subgroup]="treeRoot"
                [parentContainer]="rootContainerRegistrationRef"
                [dropListParentEl]="rootListRegistrationRef"
                [expandedFromParent$]="allExpanded$"
                [rootChildrenExpanded$]="rootChildrenExpanded$"
                [parentTreeDepth]="-1"
                (emitDeleteSubgroup)="catchChildDeleteSubgroupEmission($event)">
              </app-crew-subgroup>
            </div>
          }
          <div class="add-new-button-container"
               [class.add-new-horizontal]="rootOrientation === 'horizontal'"
               [class.add-new-vertical]="rootOrientation === 'vertical'"
               [class.add-new-mixed]="rootOrientation === 'mixed'">
            <button class="add-new-button">
              <mat-icon class="material-symbols-outlined add-2">add_circle_outline</mat-icon>
            </button>
          </div>

          <ng-container *ngIf="canScrollHorizontal$ | async">
            <button class="drop-list-horizontal-scroll right"
                    [class.show-scroll-button]="showRightScroll"
                    [class.do-not-show-scroll-button]="!showRightScroll"
                    (click)="scrollHorizontal('right')">
              <span class="material-symbols-outlined scroll-arrow-scaled">
                arrow_forward_ios
              </span>
            </button>
          </ng-container>

        </div>
      </div>
    </div>
  </ng-container>
</mat-expansion-panel>


