:host ::ng-deep .mat-expansion-panel.group-composition-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: transparent 0 0 0 0,
              transparent 0 0 0 0,
              transparent 0 0 0 0;
  overflow: visible;
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
}

::ng-deep .mat-expansion-panel-content .mat-expansion-panel-body {
  padding-left: 0;
  padding-right: 0;
}

.mat-expansion-panel.is-hovered-container {
  background-color: rgba(17, 17, 19, 0.05);
  box-shadow: 0 0 7px rgba(53, 114, 163, 0.2);
  border: 1px solid rgba(53, 114, 163, 0.35) !important;
  overflow-x: visible;
}

::ng-deep .mat-expansion-panel-header {
  min-height: 60px;
  font-size: 110%;
  transition: color 0.25s ease, font-size 0.2s ease, background-color 0.2s ease !important;
  background-color: rgba(17, 17, 19, 0.15);
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 1px -2px,
              rgba(0, 0, 0, 0.12) 0 1px 5px 0;
}

::ng-deep .mat-expansion-panel-header:hover {
  cursor: auto;
  background-color: rgba(65, 103, 142, 0.25) !important;
}

.mat-expansion-panel-header:hover .child-container-header {
  font-size: 1.09rem;
}

::ng-deep .group-composition-container .mat-expansion-panel-header.is-hovered-container {
  background-color: rgba(74, 80, 89, 0.25);
  box-shadow: transparent 0 0 0 0,
              transparent 0 0 0 0;
}

mat-panel-title {
  flex: 0 0 auto;

  clip-path: polygon(
    7px 0%,        /* top-left: start */
    calc(100% - 7px) 0%,   /* top-right: start */
    100% 7px,      /* top-right: end */
    100% calc(100% - 7px), /* bottom-right: start */
    calc(100% - 12px) 100%, /* bottom-right: end */
    12px 100%,      /* bottom-left: start */
    0% calc(100% - 7px),   /* bottom-left: end */
    0% 7px         /* top-left: end */
  );
}

:host ::ng-deep .mat-expansion-indicator svg {
  display: none;
  pointer-events: none;
}

.drop-list-facade {
  display: grid;
}

.drop-list-facade > * {
  grid-area: 1 / 1;
}

.drop-list-entry-blocker {
  pointer-events: all;
  z-index: 100;
}

.root-subgroup-header {
  display: flex;
  flex-direction: row;
  width: 95%;
  color: rgba(150, 168, 183, .85);
  padding: 8px 8px 5px 8px;
  margin-left: 1rem;
  font-size: 1.15rem;
  font-family: "Orbitron", sans-serif;
}

.child-container-header {
  margin: 10px 10px 10px 10px;
  padding: 2px;
  font-size: 1.1rem;
  transition: font-size 0.2s ease;
}

.header-left {
  margin-left: 10px;
  margin-right: auto;
}

.header-right {
  display: flex;
  margin-left: auto;
  align-content: center;
}

.header-button {
  border: none;
  background: none;
  color: rgba(150, 168, 183, .85);
  line-height: 0;
  padding-top: 3px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-left: 15px;
  transition: color 0.4s ease, transform 0.3s ease;
}

.root-subgroup-header-button-icon {
  transform: scale3d(115%, 115%, 115%);
}

.header-button:hover {
  color: var(--button-hover-color)
}

.rotate {
  transform: rotate(180deg);
}

/* droplist orientation rotate button rotations */

.material-symbols-outlined.orientation-state-horizontal {
  transform: rotate(135deg);
}

.material-symbols-outlined.orientation-state-vertical {
  transform: rotate(45deg);
}

.material-symbols-outlined.orientation-state-mixed {
  transform: rotate(90deg);
}

.header-button.scaled-minus {
  display: inline-flex;
  line-height: 0;
  padding: 0 0 0 8px;
  align-items: baseline;
}

.scaled-minus mat-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
  line-height: 25px;
  padding-bottom: 0;
}

.chip-self .chip-content-wrapper:not(:has(.chip-self:hover)):hover > .subgroup-header .header-button {
  color: rgba(150, 168, 183, 1);
}

.subgroup-header .header-button:hover {
  color: var(--button-hover-color) !important;
}

.subgroup-options-menu .mat-mdc-menu-item.options-item {
  display: flex;
  flex: 1 1 auto;
  padding-left: 0 !important;
  margin-left: 0 !important;
}

:host ::ng-deep .mat-mdc-menu-content button.mat-mdc-menu-item-text {
  align-content: center;
  vertical-align: center;
}

.root-subgroup-drop-list.orientation-horizontal {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 450px;
  overflow-x: auto;
  min-height: 65vh;
}

.root-subgroup-drop-list.orientation-vertical {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  overflow-y: auto;
  min-height: 300px;
}

.root-subgroup-drop-list.orientation-mixed {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 20px;
  margin-inline: 20px;
}

/* --------------------- CHIP EXPAND/COLLAPSE ANIMATIONS --------------------------------------------*/

.group-composition-container {
  display: flex;
  flex-direction: column;
  width: 98%;
  min-height: 200px;
  margin: 1rem 1rem 100px 1rem;
}

.chip-contents:empty {
  min-height: 20px;
}

.chip-contents:empty.is-hovered-list {
  min-height: 65px;
}

.position-list:empty {
  min-height: 40px;
}

.chip-contents {
  border: 1px solid transparent;
  transform-origin: top left;
  transition: transform 0.3s ease, max-height 0.3s ease, opacity 0.2s ease;
}

.chip-subgroup-collapsed {
  transform: scale3d(0, 0, 0);
  opacity: 0;
  max-height: 0;
}

.chip-subgroup-expanded {
  transform: scale3d(1, 1, 1);
  max-height: 10000px;
  opacity: 1;
  overflow-y: scroll;
}

.chip-summary {
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.collapsed-show-summary {
  transform: scale3d(1, 1, 1);
  padding-bottom: 8px;
}

.expanded-hide-summary {
  transform: scale3d(0, 0, 0);
}

/* --------------------------------------------------------------------------------------------- */


.chip-content-wrapper {
  padding-inline: 8px;
}

.subgroup-summary-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding-inline: 10px;
}

.summary-data-left {
  display: flex;
  text-align: start;
}

.summary-data-right {
  display: flex;
  justify-content: flex-end;
}


/* ------------------------ CDK DRAG PREVIEW (PICKED UP) --------------------------------------------*/

::ng-deep .cdk-drag-preview .chip-self {
  color: rgba(150, 168, 183, 1);
  background-color: rgba(37, 37, 41, .5);
}

/* ------------------------ CDK DRAG PLACEHOLDER (DEMO SLOT DURING DRAG ------------------------------*/

::ng-deep .cdk-drag-placeholder .chip-self {
  background-color: rgba(74, 80, 89, 0.25);
  color: rgba(150, 168, 183, 0.5);
  /*background-color: rgba(37, 37, 41, .15);*/
}

/* ----------------------- DROP LIST BLOCKER / WRAPPER -----------------------------------------------*/

.drop-list-facade {
  display: grid;
}

.drop-list-facade > * {
  grid-area: 1 / 1;
}

.drop-list-entry-blocker {
  pointer-events: all;
  z-index: 100;
}


::ng-deep .add-new-button-container .add-new-button .add-2 {
  font-size: 75px;
  font-weight: 300;
  width: 75px;
  height: 75px;
  line-height: 75px;
  color: rgba(255, 131, 7, .45);
  font-variation-settings: 'wght' 300;
  transition: color 0.2s ease;
}

.add-2:hover {
  color: rgba(255, 131, 7, .65);
}

.add-new-button-container {
  display: flex;
  width: 100%;
}

.add-new-button {
  display: flex;
  width: 85px;
  height: 100%;
  margin-left: 30%;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
}


