<mat-expansion-panel
  [expanded]="true"
  disabled
  [class.is-hovered-container]="(isHoveredTarget$ | async)"
  #groupCompRootContainer
  class="group-composition-container">

  <mat-expansion-panel-header
    cdkDragHandle
    #rootListHoverTarget
    [class.is-hovered-container]="isHoveredTarget$ | async">
    <mat-panel-title class="child-container-header">
      {{ listingTitle }}
    </mat-panel-title>
    <!--    <mat-panel-description>-->
    <!--      Link your Discord to have FleetyBot send your notifications as Discord messages.-->
    <!--    </mat-panel-description>-->
    <div class="header-right">
      <button class="header-button"
              type="button"
              (click)="toggleDropListOrientation()">
        <mat-icon [matTooltip]="'set subgroup layout direction'">
          <span class="material-symbols-outlined">
            screen_rotation_alt
          </span>
        </mat-icon>
      </button>

      <button class="header-button"
              type="button"
              (click)="toggleCollapseAll()">
        <mat-icon class="root-subgroup-header-button-icon"
                  [class.rotate]="(collapseAll$ | async)"
                  [matTooltip]="!(collapseAll$ | async) ? 'Collapse to roots' : 'Expand roots'">
          arrow_drop_up
        </mat-icon>
      </button>

      <button class="header-button"
              type="button"
              (click)="toggleCollapseRootsChildren()">
          <span class="material-symbols-outlined"
                [matTooltip]="(collapseRootChildrenNotRoots$ | async) ? 'Expand Children' : 'Collapse children'">
                    <ng-container *ngIf="(collapseRootChildrenNotRoots$ | async) === false; else childrenCollapsed">
                      <span class="root-subgroup-header-button-icon">
                        collapse_content
                      </span>
                    </ng-container>
                    <ng-template #childrenCollapsed>
                      <span class="root-subgroup-header-button-icon">
                        expand_content
                      </span>
                    </ng-template>
                  </span>
      </button>

      <button class="header-button"
              type="button"
              [matMenuTriggerFor]="subgroupOptionsMenu">
        <mat-icon matTooltip="Options" class="root-subgroup-header-button-icon">
          more_vert
        </mat-icon>
      </button>
      <mat-menu #subgroupOptionsMenu="matMenu" yPosition="below" panelClass="subgroup-options-menu">
        <button
          mat-menu-item
          class="options-item"
          (click)="getClientRect()">
          <mat-icon class="material-symbols-outlined dropdown-icon">add_circle_outline</mat-icon>
          <span>New subgroup</span>
        </button>

        <button
          mat-menu-item
          class="options-item">
          <mat-icon class="material-symbols-outlined dropdown-icon">file_save</mat-icon>
          <span>Save template</span>
        </button>
      </mat-menu>
    </div>
  </mat-expansion-panel-header>

  <!--<div class="group-composition-container">-->
  <ng-container *ngIf="(subgroupInteract.subgroupTrees$ | async) as subgroups">
    <ng-container *ngIf="!reorientingDropList; else reorienting">
      <div>
        <div class="drop-list-facade">
          <!--      <div class="drop-list-entry-blocker"-->
          <!--           *ngIf="(displayListEntryBlocker$ | async)">-->
          <!--      </div>-->
          <div
            class="root-subgroup-drop-list"
            [class.orientation-horizontal]="rootOrientation === 'horizontal'"
            [class.orientation-vertical]="rootOrientation === 'vertical'"
            cdkDropList
            cdkDropListGroup
            #rootSubgroupListElement
            #rootSubgroupList="cdkDropList"
            [cdkDropListOrientation]="rootOrientation"
            [cdkDropListData]="subgroups"
            (cdkDropListDropped)="subgroupInteract.onSubgroupDrop($event)"
            [cdkDropListEnterPredicate]="rootEnterPredicate"
            [cdkDropListConnectedTo]="connectedToSubgroups">
            <div *ngFor="let treeRoot of subgroups"
                 cdkDrag
                 [cdkDragData]="treeRoot"
                 (cdkDragMoved)="dropListRegistry.onDragMoved($event)"
                 (cdkDragReleased)="resetAfterDragReleased($event)">
              <app-crew-subgroup
                [subgroup]="treeRoot"
                [parentContainer]="rootContainerRegistrationRef"
                [dropListParentEl]="rootListRegistrationRef"
                [collapseAllFromRoot$]="collapseAll$"
                [collapseChildrenFromRoot$]="collapseRootChildrenNotRoots$"
                [parentTreeDepth]="-1">
              </app-crew-subgroup>
            </div>
            <div class="add-new-button-container">
              <button class="add-new-button">
                <mat-icon class="material-symbols-outlined add-2">add_circle_outline</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #reorienting>
      <div>
        <mat-progress-spinner></mat-progress-spinner>
      </div>
    </ng-template>
  </ng-container>



</mat-expansion-panel>


