<div class="table-container">
  <div class="background-color-container">
    <div class="search-criteria-container">
      <div class="search-bar-wrapper">
        <app-search-bar
          (applySearchAndFilters)="applyFiltersFromChild($event)" [submittedState]="submittedState">
        </app-search-bar>
      </div>
    </div>
  </div>
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

    <!-- Checkbox Column -->
    <ng-container matColumnDef='options'>
      <th mat-header-cell *matHeaderCellDef>
        Options
      </th>
      <td mat-cell *matCellDef="let row; let i = index">
        <button mat-icon-button [matMenuTriggerFor]="listingOptionsMenu">
          <mat-icon class="options-menu-icon">more_vert</mat-icon>
        </button>
        <mat-menu #listingOptionsMenu="matMenu">
          <ul class="options-list">
            <li class="options-item">
              <a>
                Message
              </a>
            </li>
            <li class="options-item">
              <a>
                Bookmark
              </a>
            </li>
            <li class="options-item">
              <a>
                Report
              </a>
            </li>
          </ul>
        </mat-menu>
        <ng-container *ngIf="!(isMobile$ | async)">
          <button mat-icon-button
            matTooltip="Bookmark"
            [matTooltipPosition]="positionOptions[0]"
            (click)="addBookmark(row.groupId)">
            <mat-icon class="bookmark-icon">bookmark_border</mat-icon>
          </button>
        </ng-container>
      </td>
    </ng-container>


    <!-- Title Column -->
    <ng-container matColumnDef='title'>
      <th mat-header-cell *matHeaderCellDef
          mat-sort-header="listingTitle"
          sortActionDescription="Sort alphabetically by Title"> Title</th>
      <td mat-cell *matCellDef="let row" (click)="onRowClick(row)">
        {{ row.listingTitle.length > 45 ? (row.listingTitle|slice:0:42) + '...' : row.listingTitle}}
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef='status'>
      <th mat-header-cell *matHeaderCellDef
          mat-sort-header="groupStatus"
          sortActionDescription="Sort alphabetically by group status">
        Group Status
      </th>
      <td mat-cell *matCellDef="let row" (click)="onRowClick(row)"> {{ row.groupStatus }}</td>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef='category'>
      <th mat-header-cell *matHeaderCellDef
          mat-sort-header="category"
          sortActionDescription="Sort alphabetically by category">
        Category
      </th>
      <td mat-cell *matCellDef="let row" (click)="onRowClick(row)">
        {{ row.category }}
      </td>
    </ng-container>

    <!-- PvP Status Column -->
    <ng-container matColumnDef='pvp'>
      <th mat-header-cell *matHeaderCellDef
          mat-sort-header="pvpStatus"
          sortActionDescription="Sort alphabetically by PvP status">
        PvP Status
      </th>
      <td mat-cell *matCellDef="let row" (click)="onRowClick(row)"> {{ row.pvpStatus }}</td>
    </ng-container>

    <!-- Planetary System Column -->
    <ng-container matColumnDef='system'>
      <th mat-header-cell *matHeaderCellDef
          mat-sort-header="system"
          sortActionDescription="Sort alphabetically by system">
        System
      </th>
      <td mat-cell *matCellDef="let row" (click)="onRowClick(row)"> {{ row.system }}</td>
    </ng-container>

    <!-- Available Roles Column -->
    <ng-container matColumnDef='roles'>
      <th mat-header-cell *matHeaderCellDef
          mat-sort-header="availableRoles"
          sortActionDescription="Sort alphabetically by listed roles">
        Avail. Roles
      </th>
      <td mat-cell *matCellDef="let row" (click)="onRowClick(row)">
        {{ row.availableRoles.length > 14 ? (row.availableRoles|slice:0: 11) + '...' : row.availableRoles}}</td>
    </ng-container>

    <!-- Last Updated TS Column -->
    <ng-container matColumnDef='updated'>
      <th mat-header-cell *matHeaderCellDef
          mat-sort-header="lastUpdated"
          sortActionDescription="Sort by date">
        Last Updated
        <mat-icon class="tooltip-icon"
                  matTooltip="Converted from the user's time-zone, to your browser time.">
          help_outline
        </mat-icon>
      </th>
      <td mat-cell *matCellDef="let row" (click)="onRowClick(row)">
        {{ row.lastUpdated | date: 'MMM d, yyyy h:mm a' }}
      </td>
    </ng-container>

    <!-- header declarations -->
    <tr mat-header-row class="header-row" *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="saveRowClick(row.groupId)"
        [class.row-is-clicked]="isRowClicked(row)"></tr>
  </table>
</div>

<!-- Paginator -->
<div class="paginator">
  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 50]"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [length]="totalElements"
    showFirstLastButtons>
  </mat-paginator>
</div>

<app-group-listing-modal
  *ngIf="isModalVisible"
  [isVisible]="isModalVisible"
  [selectedListing]="selectedListing"
  (close)="onModalClose()"
></app-group-listing-modal>
