.table-container {
  display: block !important;
  overflow-y: scroll !important;
  overflow-x: scroll !important;
  max-height: 85% !important;
  min-width: 100%;
  scrollbar-width: none;
  box-shadow: -3px 0 2px -2px rgba(255, 131, 7, .4);
}

.background-color-container {
  background-color: rgba(44, 44, 44, .75);
  min-width: 100%;
}

.search-criteria-container {
  background-color: rgba(44, 44, 44, .75);
  color: rgba(188, 191, 200, .9);
  z-index: 1;
  min-width: 100%;
}

.search-bar-wrapper {
  padding-left: 2rem;
  padding-top: 1rem;
}

.mat-mdc-header-row {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgba(44, 44, 44, .75);
  color: rgba(188, 191, 200, .9);
  box-shadow: 1px 1px 1px rgba(255, 131, 7, .4);
  font-family: Orbitron, sans-serif;
  font-weight: 500;
  font-size: 1.15rem;
}

.mdc-data-table__row.mat-mdc-row {
  color: rgba(188, 191, 200, .9);
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
  background-color: rgba(44, 44, 44, 0.15);
  transition: 0.08s ease;
}

.mdc-data-table__row.mat-mdc-row.row-is-clicked {
  background-color: rgba(44, 44, 44, 0.1);
  color: rgba(188, 191, 200, .5) !important;
}

.row-is-clicked.field-label {
  color: rgba(188, 191, 200, .5) !important;
}

.mat-mdc-row:hover {
  background-color: rgba(255, 131, 7, .05) !important;
  cursor: pointer;
}

.indicators-column {
  padding-right: 0;
  padding-left: 0.5rem;
  align-content: center;
}

.indicators-column-icon {
  scale: 0.85;
  transition: color 0.15s ease;
}

.indicators-column-icon:hover {
  color: rgba(255, 131, 7, .4);
  background-color: rgba(44, 44, 44, 0.7);
  border-radius: 0.25rem;
}

.status-circle-icon.is-fresh {
  color: #478028;
}

.status-circle-icon.is-recent {
  color: rgba(218, 165, 32, 0.75);
}

.status-circle-icon.is-stale {
  color: rgba(255, 131, 7, .6);
}

.status-circle-icon.is-inactive {
  color: rgba(90, 2, 2, 0.6);
}

.no-results-container {
  text-align: center;
  padding: 1rem;
  font-size: 1.1rem;
  color: rgba(188, 191, 200, .9);
}

.feed-element {
  display: flex;
  flex-direction: column;
  min-height: 15vh;
}

.feed-data-row {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  padding-top: 0.1rem;
  margin: 0;
}

.title-row {
  padding-top: 0.25rem;
  font-size: 1rem;
}

.feed-label-value-pair {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  padding: 0;
  margin: 0;
}

.field-label {
  color: rgba(255, 131, 7, .6);
  padding: 0;
  margin: 0;
}

.description-row {
  text-wrap: wrap;
  padding-bottom: 0.25rem;
}

@media(min-width: 1530px) and (max-width: 2000px) {

  .action-buttons {
    font-size: 0.9rem;
  }

  .action-button-container-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 20%;
    margin: 1rem 1rem 1rem auto;
  }
}

@media(min-width: 725px) and (max-width: 1529px) {
  .mat-mdc-header-row {
    font-size: clamp(0.8rem, 1rem, 1.5rem);
  }
  .mat-mdc-row {
    font-size: clamp(0.7rem, 0.9rem, 1rem) !important;
  }

  .indicators-column-icon {
    scale: 0.7;
  }
}

@media(max-width: 724px) {
  .mat-mdc {
    overflow: scroll;
  }

  .search-bar-wrapper {
    padding-left: 0;
    padding-top: 0.1rem;
  }

  .mat-mdc-header-row {
    font-size: clamp(0.5rem, 0.8rem, 1.5rem) !important;
  }

  .table-container {
    max-height: 90% !important;
    padding-bottom: 1rem;
  }

  .action-buttons-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: left;
    column-gap: 0;
    margin: 1rem auto 1rem 1rem;
  }
  .action-button-container-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 80%;
    margin: 1rem 0.25rem 1rem auto;
  }

  .mat-mdc-row {
    font-size: clamp(0.5rem, 0.7rem, 1.5rem) !important;
  }

  .action-buttons {
    font-size: .7rem;
  }

  .paginator {
    font-size: clamp(0.5rem, 0.8rem, 1rem);
  }
}

.groups-table tbody tr:hover {
  background-color: rgba(186, 97, 8, 0.2);
}

.pvp-color {
  color: rgba(103, 10, 10, 0.88);
}

.pvx-color {
  color: rgba(186, 97, 8, 1);
}

.pve-color {
  color: rgba(37, 106, 37, 0.86);
}


/* ------ DATE PICKER POPUP CONTAINER -------------------------------------------------------------------- */
@media(min-width: 725px) {
  /* datepicker calendar container */
  ::ng-deep .mat-datepicker-content {
    background-color: var(--bs-gray-900) !important;
    color: rgba(188, 191, 200, .7) !important;
    border-radius: 1rem !important;
  }
}

@media(max-width: 724px) {
  /* datepicker calendar container */
  ::ng-deep .mat-datepicker-content {
    margin-bottom: 5rem;
    border-radius: 1rem;
    background-color: var(--bs-gray-900) !important;
    color: rgba(188, 191, 200, .7) !important;
  }
}

/* datepicker calendar */
::ng-deep .mat-datepicker-content .mat-calendar {
  border: 1px solid rgba(255, 131, 7, 0.5);
  border-radius: 1rem !important;
  max-height: 40vh;
  overflow: auto;
  scrollbar-width: none;
}

::ng-deep .custom-datepicker .mat-calender-body-in-preview .mat-calendar-body-cell {
  border: none;
}

::ng-deep .custom-datepicker .mat-calendar-body-preview-start .mat-calendar-body-cell-preview {
  border-left: 1px solid rgba(255, 131, 7, 0.5) !important;
}

::ng-deep .custom-datepicker .mat-calendar-body-preview-end .mat-calendar-body-cell-preview {
  border-right: 1px solid rgba(255, 131, 7, 0.5) !important;
}

/* the datepicker range 'pill' */
::ng-deep .custom-datepicker .mat-calendar-body-in-preview .mat-calendar-body-cell-preview {
  background-color: rgba(44, 44, 44, .7) !important;
  border-top: 1px solid rgba(255, 131, 7, 0.5) !important;
  border-bottom: 1px solid rgba(255, 131, 7, 0.5) !important;
}

/* the datepicker cells within the selected pill */
::ng-deep .custom-datepicker .mat-calendar-body-in-preview .mat-calendar-body-cell-content {
  background-color: transparent !important;
  border: 1px solid rgba(255, 131, 7, 0.1) !important;
}

/* datepicker calendar days */
::ng-deep .mat-calendar-body-cell-content {
  background-color: rgba(44, 44, 44, .9) !important;
  color: var(--stark-blue) !important;
  transition: box-shadow 0.3s ease, border-color 0.3s ease, font-size 0.3s ease, color 0.4s ease;
}

/* datepicker calendar days NOT disabled hover */
::ng-deep .mat-calendar-body-cell-content:not(.mat-calendar-body-disabled):hover {
  font-size: 103%;
  border-color: rgba(255, 131, 7, 0.5) !important;
  box-shadow: 0 0 1px 1px rgba(255, 131, 7, 0.5) !important;
  color: rgba(255, 131, 7, 0.5) !important;
}

/* datepicker year change dropdown arrow */
::ng-deep .mat-calendar .mat-calendar-arrow {
  display: none; /* not displayed, not a button */
  fill: var(--stark-blue) !important;
}

/* datepicker year dropdown button, making it not a button */
::ng-deep .mat-mdc-button:not(:disabled) {
  pointer-events: none;
}

/* datepicker year dropdown button hover*/
::ng-deep .mat-mdc-button:not(:disabled):hover {
  font-size: 105%;
}

/* disabled/previous dates */
::ng-deep .mat-calendar-body-cell.disabled-date .mat-calendar-body-cell-content{
  background-color: rgba(108, 117, 125, 0.2) !important;
  color: rgba(188, 191, 200, .2) !important;
}

/* disabled/previous dates hover */
::ng-deep .mat-calendar-body-cell.disabled-date:hover .mat-calendar-body-cell-content {
  border-color: rgba(27, 72, 120, 100) !important;
  box-shadow: 0 0 3px 2px rgba(27, 72, 120, 0.75) !important;
}

/* calendar month pervious/next buttons */
::ng-deep .mat-calendar-previous-button,
::ng-deep .mat-calendar-next-button {
  transition: filter 0.3s ease;
}

/* calendar month previous/next buttons hover */
::ng-deep .mat-calendar-previous-button:hover,
::ng-deep .mat-calendar-next-button:hover {
  color: rgba(255, 131, 7, 0.5) !important;
  filter: drop-shadow(0 0 6px rgba(255, 131, 7, 0.75)) drop-shadow(0 0 12px rgba(255, 131, 7, 0.75)) !important;
}
