<table class="table table-hover">
  <thead class="table-dark">
    <tr>
      <th>Listed By</th>
      <th>Title</th>
      <th>Play Style</th>
      <th>Group Status</th>
      <th>Server</th>
      <th>Game Environment</th>
      <th>Game Experience</th>
      <th>Gameplay Category</th>
      <th>Subcategory</th>
      <th>System</th>
      <th>Legality</th>
      <th>PvP Status</th>
      <th>Voice Chat</th>
      <th>Last Updated</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let tempGroupListing of groupListings">
        <td>{{ tempGroupListing.listingUser }}</td>
        <td>{{ tempGroupListing.listingTitle }}</td>
        <td>{{ tempGroupListing.gameplayStyle.playStyle }}</td>
        <td>{{ tempGroupListing.groupStatus }}</td>
        <td>{{ tempGroupListing.server.serverName }}</td>
        <td>{{tempGroupListing.environment.environmentType }}</td>
        <td>{{ tempGroupListing.experience.experienceType }}</td>
        <td>{{tempGroupListing.gameplayCategory.categoryName }}</td>
        <td>{{tempGroupListing.gameplaySubcategory.subcategoryName }}</td>
        <td>{{tempGroupListing.systemName }}</td>
        <td>{{ tempGroupListing.legality }}</td>
        <td>{{ tempGroupListing.pvpStatus }}</td>
        <td>{{ tempGroupListing.commsOptions }}</td>
        <td>{{tempGroupListing.updateTimestamp | date: 'MM/dd/yy HH:mm'}}</td>
    </tr>
  </tbody>

</table>
