<table
  mat-table
  class="handheld-table"
  [dataSource]="dataSource">

  <!-- Checkbox Column -->
  <ng-container matColumnDef='select'>
    <th mat-header-cell *matHeaderCellDef class="select-column">
      <mat-checkbox (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-labelledby]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row; let i = index" class="select-column">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-labelledby]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef='details'>
    <th mat-header-cell *matHeaderCellDef>
      Listing Details
    </th>
    <td class="feed-element"
        mat-cell *matCellDef="let row"
        (click)="listingSelected(row)"
        (contextmenu)="quickMenu.openContextMenu($event, row)"
        (touchstart)="quickMenu.onTouchStart($event, row)"
        (touchend)="quickMenu.onTouchEnd($event)">
      <div class="feed-data-row title-row">
        <span>{{ row.listingTitle.length > 40 ? (row.listingTitle|slice: 0:40) + '...' : row.listingTitle}}</span>
      </div>
      <div class="feed-data-row">
        <span>{{ row.userName.length > 15 ? (row.userName|slice: 0:15) + '...' : row.userName }}</span>
        <span>|</span>
        <span>{{ row.lastUpdated | date: 'MM/d, h:mm a' }}</span>
      </div>
      <div class="feed-data-row">
        <span class="feed-label-value-pair"><p class="field-label">Category:</p> {{ row.category }}</span>
      </div>
      <div class="feed-data-row">
        <span class="feed-label-value-pair"><p class="field-label">Legality:</p> {{ row.legality }}</span>
        <span>|</span>
        <span class="feed-label-value-pair"><p class="field-label">Pv?:</p> {{ row.pvpStatus }}</span>
        <span>|</span>
        <span class="feed-label-value-pair"><p class="field-label">System:</p> {{ row.system }}</span>
      </div>
      <div class="feed-data-row description-row">
            <span> {{
                row.listingDescription.length > 110 ?
                  (row.listingDescription|slice: 0:110) + '...' : row.listingDescription
              }}
            </span>
      </div>

    </td>
  </ng-container>
  <!-- header declarations -->
  <tr mat-header-row class="header-row" *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns" (click)="listingSelected(row)"
      [class.row-is-clicked]="isRowClicked(row)"></tr>

</table>

<!-- Context Menu -->
<div
  #contextMenuAnchor
  class="context-menu-anchor"
  [matMenuTriggerFor]="listingOptionsMenu"
  #menuTrigger="matMenuTrigger">
</div>

<mat-menu #listingOptionsMenu="matMenu">
  <ng-container *ngIf="!(listingInteract.userIsListingOwner(listingInteract.selectedListing?.groupId) | async); else ownerMenu">
    <button
      mat-menu-item
      class="options-item"
      (click)="chatHostSrv.provisionConversation(listingInteract.selectedListing!.listingTitle,
                                                 listingInteract.selectedListing!.userId)">
      Message
    </button>
    <button
      mat-menu-item
      class="options-item"
      (click)="listingInteract.openRequestInvitePopup()">
      Join Request
    </button>
    <button
      mat-menu-item
      class="options-item"
      (click)="listingInteract.hideSelected()">
      Hide
    </button>
    <ng-container *ngIf="(listingInteract.selectedIsBookmarked$ | async) === true; else notBookmarked">
      <button
        mat-menu-item
        class="options-item"
        (click)="listingInteract.deleteSelectedBookmark()">
        Unmark
      </button>
    </ng-container>
    <ng-template #notBookmarked>
      <button mat-menu-item
              class="options-item"
              (click)="listingInteract.bookmarkSelected()">
        Bookmark
      </button>
    </ng-template>
    <button
      mat-menu-item
      class="options-item"
      (click)="listingInteract.reportSelected()">
      Report
    </button>
  </ng-container>
  <ng-template #ownerMenu>
    <button mat-menu-item class="options-item"
            (click)="ownerService.userUpdateSelected(listingInteract.selectedListing!)">
      Update
    </button>
    <button mat-menu-item class="options-item"
            (click)="ownerService.createTemplateFromListing(listingInteract.selectedListing!)">
      Template
    </button>
    <button mat-menu-item class="options-item"
            (click)="ownerService.openConfirmDelete(listingInteract.selectedListing!)">
      Delete
    </button>
    <button mat-menu-item class="options-item">
      Cancel
    </button>
  </ng-template>
</mat-menu>

