<div class="chip-self">

  <div class="header-row">
    <div id="header-left">
      <span id="header-left-label">Group Title:</span>
      <span id="header-left-value">{{ listingDetails.listingTitle.length > 120 ?
      (listingDetails.listingTitle|slice:0: 120) : listingDetails.listingTitle }}</span>
    </div>
    <span id="header-right">
      <span class="field-label">
        Joined: {{ membership.joinedAt | date:'MM/dd/yyyy'}}
      </span>
    </span>
  </div>


  <div class="data-wrapper">
    <div class="template-column">
        <span class="template-column-header">
          Listing Details
          <mat-icon class="open-in-new-icon"
                    (click)="showListingModal()">open_in_new</mat-icon></span>
      <div class="label-val-pair">
        <span class="field-label">Group Status: </span>
        <span class="field-val has-val">{{ listingDetails.groupStatus }}</span>
      </div>
      <ng-container *ngIf="(listingDetails.groupStatus === 'Future/Scheduled')">
        <div class="label-val-pair sub-pair">
          <span class="field-label">Event Schedule:</span>
          <span class="field-val has-val">{{ listingDetails.eventSchedule | date: 'MM/dd/yyyy hh:mm' }}</span>
        </div>
      </ng-container>
      <div class="label-val-pair">
        <span class="field-label">Category:</span>
        <span class="field-val has-val">{{ listingDetails.category }}</span>
      </div>
      <ng-container *ngIf="listingDetails.subcategory">
        <div class="label-val-pair sub-pair">
          <span class="field-label">Subcategory: </span>
          <span class="field-val has-val">{{ listingDetails.subcategory }}</span>
        </div>
      </ng-container>
    </div>
    <div class="template-column">
      <span class="template-column-header">Member Details</span>
      <div class="label-val-pair">
        <span class="field-label">Assigned to Roster:</span>
        <span class="field-val has-val">
          {{ membership.memberStatus|titlecase }}
          </span>
      </div>
      <div class="label-val-pair">
        <span class="field-label">Your In-Group Rank:</span>
        <span class="hoverable-field-val has-val"
              matTooltip="{{ membership.memberRank.rankNotes }}">
          {{ membership.memberRank.rankTitle }}
          </span>
      </div>
      <div class="label-val-pair">
        <span class="field-label">Your Role: </span>
        <span class="field-val" [class.has-val]="membership.memberRole != null">
            {{ membership.memberRole != null ? membership.memberRole.roleSummary.roleTitle : 'Unassigned' }}
          </span>
      </div>
      <div class="label-val-pair">
        <span class="field-label">RSVP Status:</span>
        <span class="field-val" [class.has-val]="membership.rsvpStatus">
            {{ membership.rsvpStatus != null ? membership.rsvpStatus : 'Not sent yet.' }}
          </span>
      </div>
    </div>
    <!--    </div>-->

    <!--    <div class="template-column" id="last-column">-->
    <div id="last-column">
      <button class="chip-buttons"
        (click)="toggleCollapse()">
        <mat-icon>group</mat-icon>
        View Roster
      </button>
      <ng-container *ngIf="membership.isAuthorizedManager; else notOwner">
        <button class="chip-buttons"
          [routerLink]="`/group-management/${membership.listing.groupId}`">
          <mat-icon>manage_accounts</mat-icon>
          Manage Group
        </button>
      </ng-container>
      <ng-template #notOwner>
        <button class="chip-buttons"
                (click)="chatHostSrv.provisionConversation(listingDetails)">
          <i class="bi bi-chat-fill chat-icon"></i>
          Message Owner
        </button>
      </ng-template>
      <button class="chip-buttons"
         [disabled]="membership.memberRank.rankTitle === 'Owner'">
        <mat-icon>logout</mat-icon>
        Leave Group
      </button>
    </div>
  </div>
  <div class="group-collapsible-container"
    [class.collapsed]="collapsed">
    <div class="roster">

    </div>
  </div>
</div>
