@import '../input-field/input-field-styles.css';

.comms-service-input {
  display: flex;
  flex: 1;
  padding: 0.9rem 0 0 5rem;
  width: 100%;
}

.mat-mdc-form-field {
  width: 80%;
  font-family: 'Orbitron', sans-serif;
  transition: color 0.5s ease, font-size 0.5s ease;
  color: rgba(33, 37, 41, .75);
  font-size: clamp(0.7rem, 1vw, 1rem);
}


