.chat-border {
  background-color: rgba(188, 191, 200, .5);
  padding: 1px;
  border-radius: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  clip-path: polygon(
    5.8% 0%,     /* top edge, a bit right from TL */
    100% 0%,   /* full top-right corner */
    100% 90%,  /* right edge, a bit up from BR */
    94% 100%,  /* bottom edge, a bit left from BR */
    0% 100%,   /* full bottom-left corner */
    0% 11.2%      /* left edge, a bit down from TL */
  );
}
.chat-container {
  display: grid;
  grid-template-rows: 48px auto;
  height: 400px;
  width: 600px;
  /*background-color: rgb(41, 45, 50);*/
  background-color: var(--bs-dark);
  clip-path: polygon(
    35px 0%,     /* top edge, a bit right from TL */
    100% 0%,   /* full top-right corner */
    100% 90%,  /* right edge, a bit up from BR */
    94% 100%,  /* bottom edge, a bit left from BR */
    0% 100%,   /* full bottom-left corner */
    0% 45px      /* left edge, a bit down from TL */
  );
}

@media(max-width: 620px) {
  .chat-border {
    background-color: transparent;
    /*min-height: 68vh;*/
    /*clip-path: polygon(*/
    /*  9% 0%,     !* top edge, a bit right from TL *!*/
    /*  100% 0%,   !* full top-right corner *!*/
    /*  100% 90%,  !* right edge, a bit up from BR *!*/
    /*  94% 100%,  !* bottom edge, a bit left from BR *!*/
    /*  0% 100%,   !* full bottom-left corner *!*/
    /*  0% 11.2%      !* left edge, a bit down from TL *!*/
    /*);*/
  }

  .chat-container {
    width: 100%;
    min-height: 68vh;
  }
}

.h-left {
  margin-left: 2.5rem;
}

.h-end {
  margin-left: 1rem;
}

.chat-header {
  position: relative;
  height: 40px;
  padding: 0.5rem 1rem 4px 0;
  inset: 2px;
  min-width: 98%;
  display: grid;
  grid-template-columns: 2fr auto auto;
  margin: 0.3rem 0.5rem 0.25rem auto;
  color: rgba(188, 191, 200, .8);
  overflow: hidden;

  clip-path: polygon(
    34px 0,
    100% 0,
    100% 100%,
    0 100%,
    0 44px
  );
}

.chat-header::before {
  content: "";
  position: absolute;
  inset: 0 0 4px 0;
  pointer-events: none;
  opacity: 0.2;
  filter: blur(4px);
  mix-blend-mode: screen;
  clip-path: inherit;

  background-image:
    repeating-linear-gradient(
      to bottom,
      rgba(223, 241, 255, .3),
      rgba(223, 241, 255, .3), 1px,
      transparent 1px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to right,
      rgba(223, 241, 255, .3),
      rgba(223, 241, 255, .3), 1px,
      transparent 1px,
      transparent 4px
    );
}

.chat-header::after {
  content: "";
  position: absolute;
  inset: 0 0 4px 0;
  pointer-events: none;
  opacity: 0.05;
  z-index: -1;
  box-shadow: -3px 0 3px -3px rgba(255, 131, 7, .4);
  max-width: 98vw;
  clip-path: inherit;

  background-image:
    repeating-linear-gradient(
      to bottom,
      rgba(223, 241, 255, .3),
      rgba(223, 241, 255, .3), 1px,
      transparent 1px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to right,
      rgba(223, 241, 255, .3),
      rgba(223, 241, 255, .3), 1px,
      transparent 1px,
      transparent 4px
    );
}

.chat-columns {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 4px 4px 4px;
  border-top: 1px solid rgba(188, 191, 200, .25);
  /*border: 1px solid rgba(188, 191, 200, .75);*/
  min-height: 95%;
}

#messages_column {
  border-left: 1px solid rgba(188, 191, 200, .25);
  justify-content: end;
  padding: 4px;
}

#conversations_column {
  padding: 4px;
}
