:host {
  display: inline-block;
  position: fixed;
  right: 16px;
  bottom: calc(var(--footer-height) + 4px);
  width: auto;
  z-index: 9999;
  color: rgba(223, 241, 255, 0.5) !important;
}

.chat-panel-wrapper {
  width: 602px;
  height: 402px;
  transform-origin: right bottom;
  transition: width 300ms ease, height 300ms ease;
  /*will-change: transform;*/
}

:host(.is-collapsed) .chat-panel-wrapper {
  width: 312px;
  height: 52px;
  transform: translate(0, 0);
}

.chat-border {
  display: block;
  position: relative;
  background-color: rgba(188, 191, 200, .5);
  /*background-color: rgba(65, 103, 142, 1);*/
  /*background-color: rgba(255, 131, 7, 0.75);*/
  padding: 1px;
  width: 100%;
  height: 100%;
  border-radius: 0;
  justify-content: center;
  overflow: hidden;
  clip-path: polygon(
    5.8% 0%,     /* top edge, a bit right from TL */
    100% 0%,   /* full top-right corner */
    100% 90%,  /* right edge, a bit up from BR */
    94% 100%,  /* bottom edge, a bit left from BR */
    0% 100%,   /* full bottom-left corner */
    0% 11.2%      /* left edge, a bit down from TL */
  );
  transition: clip-path 300ms ease, background-color 300ms ease;
}

.chat-panel {
  inset: 1px;
  display: grid;
  grid-template-rows: 48px 1fr;
  width: 100%;
  height: 100%;
  /*background-color: rgb(41, 45, 50);*/
  background-color: var(--bs-dark);
  clip-path: polygon(
    5.8% 0%,     /* top edge, a bit right from TL */
    100% 0%,   /* full top-right corner */
    100% 90%,  /* right edge, a bit up from BR */
    94% 100%,  /* bottom edge, a bit left from BR */
    0% 100%,   /* full bottom-left corner */
    0% 11.2%      /* left edge, a bit down from TL */
  );
  transition: clip-path 300ms ease;
}

.chat-header {
  position: relative;
  height: 40px;
  padding: 0.25rem 0.5rem 4px 0;
  inset: 2px;
  min-width: 98%;
  display: grid;
  grid-template-columns: 2fr auto auto;
  margin: 0.3rem 0.5rem 0.25rem auto;
  color: rgba(188, 191, 200, .8);
  overflow: hidden;
  align-content: center;

  clip-path: polygon(
    34px 0,
    100% 0,
    100% 100%,
    0 100%,
    0 44px
  );
}

.chat-header::before {
  content: "";
  position: absolute;
  inset: 0 0 4px 0;
  pointer-events: none;
  opacity: 0.2;
  filter: blur(4px);
  mix-blend-mode: screen;
  clip-path: inherit;

  background-image:
    repeating-linear-gradient(
      to bottom,
      rgba(223, 241, 255, .3),
      rgba(223, 241, 255, .3), 1px,
      transparent 1px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to right,
      rgba(223, 241, 255, .3),
      rgba(223, 241, 255, .3), 1px,
      transparent 1px,
      transparent 4px
    );
}

.chat-header::after {
  content: "";
  position: absolute;
  inset: 0 0 4px 0;
  pointer-events: none;
  opacity: 0.05;
  z-index: -1;
  box-shadow: -3px 0 3px -3px rgba(255, 131, 7, .4);
  max-width: 98vw;
  clip-path: inherit;

  background-image:
    repeating-linear-gradient(
      to bottom,
      rgba(223, 241, 255, .3),
      rgba(223, 241, 255, .3), 1px,
      transparent 1px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to right,
      rgba(223, 241, 255, .3),
      rgba(223, 241, 255, .3), 1px,
      transparent 1px,
      transparent 4px
    );
}

/*:host(.is-collapsed) .chat-border {*/
/*  height: 52px;*/
/*  width: 312px;*/
/*}*/

:host(.is-collapsed) .chat-panel,
:host(.is-collapsed) .chat-border {
  margin-right: 0;

  clip-path: polygon(
    4.8% 0%,     /* top edge, a bit right from TL */
    100% 0%,   /* full top-right corner */
    100% 100%,  /* right edge, a bit up from BR */
    94% 100%,  /* bottom edge, a bit left from BR */
    0% 100%,   /* full bottom-left corner */
    0% 28.8%      /* left edge, a bit down from TL */
  );
}

:host(.is-collapsed) .chat-border {
  /*background-color: rgba(255, 131, 7, .25);*/
  background-color: rgba(188, 191, 200, .5);
  /*background-color: rgba(65, 103, 142, 1);*/
}

:host(.is-collapsed) .chat-header {
  padding-left: 4px;
  padding-right: 4px;

  clip-path: polygon(
    12px 0,
    100% 0,
    100% 100%,
    0 100%,
    0 12px
  );
}

:host(.is-collapsed) .chat-header:before,
:host(.is-collapsed) .chat-header:after {
  margin-left: 4px;
}

.h-left {
  margin-left: 2.5rem;
}

:host(.is-collapsed) .h-left {
  margin-left: 0.5rem;
}

.h-end {
  margin-left: 1rem;
  margin-right: 0.5rem;
}

:host(.is-collapsed) .h-end {
  margin-right: 0;
}

.close {
  display: grid;
  place-items: center;
  border: solid 1px rgba(255, 131, 7, .7);
  margin-bottom: 4px;
  border-radius: .25rem;
  padding: 9px;
  background-color: transparent;
  line-height: 1;
  align-self: center;
  color: rgba(255, 131, 7, .7);
  opacity: .75;
  scale: 0.9;
  transition: background-color 0.15s ease;
}

.close:hover {
  color: var(--bs-gray-900);
  border-color: rgba(255, 131, 7, .75);
  background-color: rgba(255, 131, 7, .25);
}

.close-icon {
  line-height: 0.35;
  display: block;
  scale: 1.35;
}

.window-state-toggle {
  background-color: transparent;
  border: none;
  color: rgba(188, 191, 200, .8);
  transition: background-color 0.15s ease;
  border-radius: 0.25rem;
}

.window-state-toggle:hover {
  color: rgba(33, 37, 41, 0.75);
  background-color: rgba(255, 131, 7, .25);
}

.dropdown-arrow {
  padding-top: 2px;
  transition: color 0.15s ease;
}

.dropdown-arrow:hover {
  cursor: pointer;
}

:host(.is-collapsed) .dropdown-arrow {
  rotate: 180deg;
  padding-top: 0;
  line-height: 0.75;
}

.chat-sidenav-container {
  margin: 0 4px 4px 4px;
  border-top: 1px solid rgba(188, 191, 200, .25);
  height: 100%;
  min-width: 95%;
  opacity: 1;
  transition: max-height 300ms ease, opacity 300ms ease, margin 300ms ease;

  color: rgba(150, 168, 183, 1);
  overflow-y: scroll;
  scrollbar-width: none;
  /*scrollbar-color: #2c2c2c transparent;*/
  /*scrollbar-arrow-color: transparent !important;*/
}

.conversations-nav {
  width: 204px;
  background-color: var(--bs-dark);
  border-right: 1px solid rgba(188, 191, 200, .25);
  padding-right: 4px;
}

#conversations-column {
  height: 85%;
  min-height: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-color: rgba(188, 191, 200, .1) transparent;
  scrollbar-arrow-color: transparent !important;
  scrollbar-width: thin;
}

.collapsing {
  scrollbar-width: none !important;
}

.conversation-tab-icon {
  display: inline-block;
  min-width: 0;
  border-radius: 3rem;
  font-size: clamp(0.8rem, 1.1rem, 1.8rem);
  color: rgba(255, 131, 7, .5) !important;
  line-height: 1;
  transition: transform 200ms ease;
  transform-origin: center;
  position: relative;
  top: 0;
}

.mat-mdc-button {
  pointer-events: auto !important;
}

.tabs-button-rotated {
  transform: rotate(180deg);
}

.tabs-button-container {
  align-self: flex-end;
  align-content: center;
  margin-right: 4px;
}

#tabs-label {
  align-self: center;
  font-size: 0.9rem;
  padding-left: 8px;
  color: rgba(150, 168, 183, 1);
}

/*--------------------------------------- CONVERSATIONS TABLE ---------------------------------------*/
.conv-table.mat-mdc-table {
  border-collapse: separate;
  border-spacing: 0 2px;
}

.conv-table .mat-mdc-header-cell {
  position: sticky;
  padding: 5px 0 3px 0;
  margin-bottom: 0;
  margin-top: 0;
  vertical-align: top;
  line-height: normal;
  height: 20px;
  top: 0;
}

.conv-table .mat-mdc-header-row {
  position: sticky;
  padding-top: 0;
  margin-top: 0;
  top: 0;
  z-index: 10;
  background-color: var(--bs-dark);
  color: rgba(150, 168, 183, 1);
  font-family: Orbitron, sans-serif;
  font-weight: 500;
  height: fit-content;
}

.conv-header {
  color: rgba(188, 191, 200, .8);
  border-bottom: none;
  padding-left: 5px !important;
}

.conversation-row {
  display: grid;
  row-gap: 0;
  font-family: "exo 2", sans-serif;
  color: rgba(188, 191, 200, .8);
  padding-left: 4px;
}

.conv-table .mdc-data-table__cell {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: rgba(188, 191, 200, .05);
  border-radius: 4px;
  transition: background-color 0.15s ease, scale 0.15s ease;
  box-shadow: 0 0 1px transparent;
}

.conv-table .mdc-data-table__cell:hover {
  background-color: rgba(255, 131, 7, .03);
  cursor: pointer;
}

.conv-table .mat-mdc-row {
  height: 25px;
  padding-bottom: 2px;
}

.conv-user-row{
  display: flex;
  flex-direction: row;
  /*color: rgba(255, 131, 7, .5);*/
  font-size: 0.9rem;
  padding-top: 0;
}

#other-username {
  color: rgba(65, 103, 142, 1);
}

.conv-date-row {
  font-size: 0.75rem;
}

.conv-title-row {
  font-size: 0.75rem;
  color: rgba(188, 191, 200, .5);
}

.updated-at {
  margin-left: auto;
  margin-right: 4px;
  color: rgba(188, 191, 200, .5);
  font-size: 0.75rem;
}

.selected {
  background-color: rgba(255, 131, 7, .05);
}

.no-convs-message {
  display: flex !important;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
  flex-direction: row;
  margin-top: 5px;
  text-align: center;
  font-size: 1rem;
  justify-self: center;
  font-family: "Exo 2", sans-serif;
  color: rgba(150, 168, 183, 0.5);
  background-color: #2c2c2c;
}

/*------------------------------------ MESSAGES PANEL ---------------------------------------------*/
#messages-column {
  display: flex;
  flex-direction: column;
  padding: 4px;
  height: 100%;
}

.messages {
  width: 100%;
  height: 275px;
  overflow-y: scroll;
  padding-bottom: 12px;
  scrollbar-color: rgba(188, 191, 200, .1) transparent;
  scrollbar-arrow-color: transparent !important;
  scrollbar-width: thin;
}

.no-messages-messages {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 15px;
  color: rgba(150, 168, 183, 0.5);
}

/* -------------------------------- MAX WIDTH 620px -----------------------------------------------*/

@media(max-width: 620px) and (min-width: 411px) {
  :host {
    right: 1vw;
  }

  .chat-panel-wrapper {
    width: 402px;
    /*min-width: 98vw;*/
    /*min-height: 65vh;*/
    margin-inline: auto;
  }

  #messages-column {
    width: 400px;
    overflow-x: hidden;
  }

  #messages-column,
  .mat-drawer-content {
    overflow-x: hidden;
    min-width: 0;
  }

  .messages {
    height: 375px;
    margin-bottom: 60px;
  }
}

@media(max-width: 410px) {
  :host {
    right: 1vw;
  }

  .chat-panel-wrapper {
    width: 98vw;
  }

  #messages-column,
  .mat-drawer-content {
    overflow-x: hidden;
    min-width: 0;
  }

  .messages {
    height: 375px;
    margin-bottom: 65px;
  }
}

