<div class="chat-panel-wrapper">
  <div class="chat-border">
    <div class="chat-panel">

      <div class="chat-header">
        <div class="h-left">
          <button type="button"
                  class="window-state-toggle"
                  (click)="toggleWindowState()">
            <mat-icon class="dropdown-arrow">arrow_drop_down</mat-icon>
          </button>
        </div>
        <div class="h-right">
          <span>Unread: 12</span>
        </div>
        <div class="h-end">
          <button type="button" class="close" (click)="terminateChat()" aria-label="Close chat">
            <span aria-hidden="true" class="close-icon">&times;</span>
          </button>
        </div>
      </div>

      <ng-container *ngIf="(chatHostSrv.windowState$ | async) === ChatWindowState.expanded">
        <mat-sidenav-container class="chat-sidenav-container" [class.collapsing]="isCollapsing">
          <mat-sidenav #drawer
                       [mode]="(chatLayoutMode$ | async) === 'handheld' ? 'over' : 'side'"
                       [opened]="(chatLayoutMode$ | async) !== 'handheld'"
                       class="conversations-nav">
            <div id="conversations-column" [class.collapsing]="isCollapsing">
              <table class="conv-table" mat-table [dataSource]="convDataSource">
                <ng-container matColumnDef='convDetails'>
                  <th mat-header-cell *matHeaderCellDef class="conv-header">
                    Conversations
                  </th>
                  <td mat-cell *matCellDef="let conv">
                    <div class="conversation-row">
                      <div class="conv-user-row">
                    <span id="other-username">
                      {{
                        conv.otherUserName.length >= 15 ?
                          (conv.otherUserName|slice: 0:15) + '...' : conv.otherUserName
                      }}
                    </span>
                        <ng-container *ngIf="isSameDay(conv.updatedAt); else older">
                          <span class="updated-at">{{ conv.updatedAt | date: 'h:mma' }}</span>
                        </ng-container>
                        <ng-template #older>
                          <span class="updated-at">{{ conv.updatedAt | date: 'MMM d' }}</span>
                        </ng-template>
                      </div>
                      <div class="conv-title-row">
                    <span id="conv-title">
                      {{
                        conv.conversationTitle.length >= 32 ?
                          (conv.conversationTitle|slice: 0:32) + '...' : conv.conversationTitle
                      }}
                    </span>
                      </div>
                    </div>
                  </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="convColumns"></tr>
                <tr mat-row *matRowDef="let conv; columns: convColumns"
                    (click)="onConvClick(conv)"
                    [class.selected]="isSelected(conv)">
                </tr>
              </table>

              <ng-container *ngIf="noConvs">
                <div class="no-convs-message">
                  <div>No Active <br> Conversations</div>
                </div>
              </ng-container>
            </div>
          </mat-sidenav>

          <mat-sidenav-content style="overflow: hidden">

            <div id="messages-column" [class.collapsing]="isCollapsing">
              <ng-container *ngIf="(chatLayoutMode$ | async) === 'handheld'">
                <div class="tabs-button-container">
                  <button mat-button
                          (click)="drawer.toggle()">
                    <label [class.tabs-button-rotated]="drawer.opened" class="conversation-tab-icon">
                      >>
                    </label>
                    <label id="tabs-label">
                      Convs.
                    </label>
                  </button>
                </div>
              </ng-container>
              <div class="messages" #msgScroll>
                @if (messages$ | async; as messages) {
                  @if (messages.length > 0) {
                    @for (msg of messages; track msg.msgId ?? msg.clientMessageId) {
                      <app-message [msg]="msg">
                      </app-message>
                    }
                  } @else if ((chatStoreSrv.selectedConvId$ | async)) {
                      <span class="no-messages-messages">This conversation has no messages</span>
                  } @else {
                    <span class="no-messages-messages">Select or start a conversation to send and view messages</span>
                  }
                }
              </div>
              <ng-container *ngIf="this.selectedConv.selected[0]">
                <app-message-input
                  [class.collapsing]="isCollapsing"
                  (sendMessage)="sendDmMessage($event)">
                </app-message-input>
              </ng-container>
            </div>

          </mat-sidenav-content>
        </mat-sidenav-container>
      </ng-container>
    </div>
  </div>
</div>
