<div class="container-clip-path-wrapper">
  <div class="body-container">
    <h1>Need a better crew?</h1>
    <div class="welcome-main-body">
      <div class="image-container">
        <div class="image-border">
          <img src="/images/Pico%20Gunners.jpg" id="welcome-image" alt="Pico is the best">
        </div>
      </div>
      <div class="text-body-container">
        <span id="body-title"><h2>Welcome to FleetFinder</h2></span>
        <div id="entry-buttons-container">
            <a [routerLink]="['/create-listing']">
              <button class="action-buttons">Create a Listing</button>
            </a>
            <a [routerLink]="['/group-listings']">
              <button class="action-buttons">Search Listings</button>
            </a>
            <a>
              <button (click)="auth.register()" class="action-buttons">Create Account</button>
            </a>
            <a>
              <button [routerLink]="['/how-to']" class="action-buttons">How To</button>
            </a>
        </div>
        <div class="text-body dev-text">
          <p>If you've ever thought, <span class="highlight-text">"I want to do more in
            <span style="font-style: italic">Star Citizen</span>, but I can't find people to do it with,"</span> that's exactly what
            FleetFinder is for. Solo player who wants to try Bock Breaker but need a group? Need a hand on your mining
            operation? Org looking for another org to have a fleet battle with? This is what FleetFinder is for.
          </p>
          <h2>What's New?</h2>
          <ul>
            <li>Discord account linking for login and notifications</li>
            <li>External notifications through Discord and/or push notifications</li>
            <li>Custom notifications to send you alerts when a new listing matches your criteria</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
