<div class="container-clip-path-wrapper">
  <div class="body-container">
    <h1>Welcome to FleetFinder</h1>
    <div class="welcome-main-body">
      <div class="image-container">
        <div class="image-border">
          <img src="/images/Pico%20Gunners.jpg" id="welcome-image" alt="Pico is the best">
        </div>
      </div>
      <div class="text-body-container">
        <span id="body-title"><h2>Need a better crew?</h2></span>
        <span class="text-body">FleetFinder is a fan-operated companion tool for the
          <span style="font-style: italic">Star Citizen</span> MMO, helping players connect and form groups based on shared interests.</span>
        <div id="entry-buttons-container">
          <a [routerLink]="['/create-listing']">
            <button class="action-buttons">Create a Listing</button>
          </a>
          <a [routerLink]="['/group-listings']">
            <button class="action-buttons">Search Listings</button>
          </a>
        </div>
        <div class="text-body dev-text">
          <h3>Hi all!</h3>
          <p>Thanks for checking out FleetFinder.</p>

          <p>Things are still getting off the ground, so activity is light right now, but it works best when
          people <span class="highlight-text">post listings</span> and check back in. If you're not sure exactly
            when you'll play, that's totally fine, just make a listing with a future date you might play on, and add
            something like "usually on weekends" or "weekdays after 6pm CST" in the description. </p>

          <p>I think I went a little heavy on the create-listing form. That's getting simplified, and Discord login
            is coming soon to reduce friction on that front as well.</p>

          <p>If you've ever thought, "I want to do more in <span style="font-style: italic">Star Citizen</span>, but I don't have the
            crew for it," that's exactly what this is for. <span class="highlight-text">No big events needed, just
              post what you want to do and see who bites.</span></p>
          <h4>o7</h4>
        </div>
      </div>
    </div>
  </div>
</div>
