.image-container {
  max-width: clamp(300px, 95%, 700px);
  height: auto;
  padding: 0.1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-inline: auto;
}

@media(max-width: 699px) {
  .image-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.image-border {
  max-width: clamp(300px, 100%, 700px);
  height: auto;
  padding: .2rem;
  background: rgba(188, 191, 200, .5);
  clip-path: polygon(0% 0%, 88% 0%, 100% 12%, 100% 100%, 100% 100%, 12% 100%, 0% 88%, 0% 0%);
}

#welcome-image {
  box-sizing: border-box;
  display: block;
  max-width: 100%;
  height: auto;
  line-height: 0;
  clip-path: polygon(0% 0%, 88% 0%, 100% 12%, 100% 100%, 100% 100%, 12% 100%, 0% 88%, 0% 0%);
}

@media(min-width: 700px) {
  h1 {
    padding: 2rem 4rem 2rem 4rem;
    margin-left: 5rem;
    border-bottom: 1px solid rgba(188, 191, 200, .5);
  }
}

@media(max-width: 699px){
  h1 {
    padding: 1rem 4rem 2rem 4rem;
    font-size: 1.6rem;
  }
}

@media(max-width: 375px){
  h1 {
    padding: 1rem 4rem 1rem 4rem;
    font-size: 1.4rem;
  }
}

@media(min-width: 700px) {
  .welcome-main-body {
    display: grid;
    grid-template-columns:
      repeat(auto-fit, minmax(400px, 1fr));
  }
}

.text-body-container {
  display: flex;
  /*align-content: center;*/
  flex-direction: column;
  width: 95%;
  margin-inline: auto;
  margin-bottom: 25vh;
}

@media(min-width: 500px) {
  #body-title h2 {
    display: flex;
    margin: 4rem 5rem 2rem 3rem;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.8rem;
  }
}

@media(max-width: 499px) {
  #body-title h2 {
    display: flex;
    margin: 1rem 1.5rem 2rem 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
    font-size: clamp(1.2rem, 20%, 1.6rem);
  }
}

@media(min-width: 720px) {
  .text-body {
    color: rgba(150, 168, 183, 0.6) !important;
    margin-inline: 1.5rem;
    font-family: "Andale Mono", monospace;
    font-size: clamp(1.1rem, 100%, 1.5rem);
  }
}

@media(max-width: 719px) {
  .text-body {
    margin-inline: 1.5rem;
    font-family: "Andale Mono", monospace;
    font-size: clamp(1rem, 80%, 1.1rem);
    color: rgba(150, 168, 183, 0.6) !important;
  }
}

#entry-buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*width: 90%;*/
  margin-inline: auto;
  gap: 3rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.entry-buttons {
  position: relative;
  padding: 0.35rem 1rem 0.35rem 1rem;
  background: rgba(33, 37, 41, .4);
  border: 1px solid rgba(255, 131, 7, .75); /* full rectangle frame */
  border-radius: 0.2rem;
  color: rgba(255, 131, 7, .75);
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  overflow: hidden;
  /*transform: skewX(-8deg)*/
}

.entry-buttons span {
  display: inline-block;
  /*transform: skewX(8deg);*/
}

.entry-buttons:hover {
  color: var(--bs-gray-900);
  border-color: rgba(255, 131, 7, .75);
  background-color: rgba(255, 131, 7, .25);
}

@media (max-width: 1199px) {
  .entry-buttons {
    border: 1px solid rgba(255, 131, 7, .75);
    background-color: rgba(33, 37, 41, .4);
    margin-inline: .75rem;
    color: rgba(255, 131, 7, .75);
    font-size: .9rem;
    transition: background-color 0.15s ease;
  }

  #entry-buttons-container {
    gap: 1rem;
  }
}

.dev-text {
  margin-bottom: 20vh;
}


