<div class="container-clip-path-wrapper">
  <div class="body-container">
    <h1>Welcome to FleetFinder</h1>
    <div class="welcome-main-body">
      <div class="image-container">
        <div class="image-border">
          <img src="/images/Pico%20Gunners.jpg" id="welcome-image" alt="Pico is the best">
        </div>
      </div>
      <div class="text-body-container">
        <span id="body-title"><h2>Need a better crew?</h2></span>
        <div id="entry-buttons-container">
            <a [routerLink]="['/create-listing']">
              <button class="action-buttons">Create a Listing</button>
            </a>
            <a [routerLink]="['/group-listings']">
              <button class="action-buttons">Search Listings</button>
            </a>
            <a>
              <button (click)="auth.register()" class="action-buttons">Create Account</button>
            </a>
            <a>
              <button [routerLink]="['/how-to']" class="action-buttons">How To</button>
            </a>
        </div>
        <div class="text-body dev-text">
          <p>If you've ever thought, <span class="highlight-text">"I want to do more in
            <span style="font-style: italic">Star Citizen</span>, but I can't find people to do it with,"</span> that's exactly what
            FleetFinder is for. Solo player who wants to try contested zones with a group? Running cargo and need an
            escort? Org looking for another org to have a fleet battle with? This is what FleetFinder is for.
          </p>

          <p>If you don't see a listing that matches the gameplay you are looking for,
            <a [routerLink]="['/create-listing']" class="highlight-text">create a listing</a> and then check back.
            If you're not sure exactly when you'll play or a specific thing you are going to do, make a listing
            with a future date you might play on and a general description about what gameplay you are interested in.</p>

          <p><span class="highlight-text">I'm always looking for ways to improve the platform and/or make it easier
            to engage with.</span> For feedback, suggestions, or reporting issues, you can email me at
            scfleetfinder&#64;gmail.com, or respond to one of my (doctortalos) listings here with a message.</p>
          <p>Happy fleet finding,</p>
          <h4>o7</h4>
        </div>
      </div>
    </div>
  </div>
</div>
