.title-container {
  margin: 1rem 0 1rem 1rem;
}

.button-row {
  display: flex;
  flex-direction: row;
}

.action-buttons-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: left;
  column-gap: 0.75rem;
  margin: 1rem auto 1rem 1rem;
}

.user-table {
  display: block;
  overflow-y: scroll;
  overflow-x: scroll;
  max-height: 50vh;
  scrollbar-color: #2c2c2c transparent;
}

.no-results-container {
  text-align: center;
  padding: 1rem;
  font-size: 1.1rem;
  color: rgba(188, 191, 200, .9);
}

.paginator {
  color: rgba(188, 191, 200, .9);
  padding: 1rem 2rem 1rem 0;
}

@media(min-width: 725px) and (max-width: 1529px) {
  .mat-mdc-header-row {
    font-size: clamp(0.8rem, 1rem, 1.5rem);
  }
  .mat-mdc-row {
    font-size: clamp(0.7rem, 0.9rem, 1rem) !important;
  }

  .indicators-column-icon {
    scale: 0.7;
  }
}

@media(max-width: 724px) {

  .search-bar-wrapper {
    padding-left: 0;
    padding-top: 0.1rem;
  }

  .table-container {
    max-height: 90% !important;
    padding-bottom: 1rem;
  }

  .action-buttons-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: left;
    column-gap: 0;
    margin: 1rem auto 1rem 1rem;
  }
  .action-button-container-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 80%;
    margin: 1rem 0.25rem 1rem auto;
  }

  .action-buttons {
    font-size: .7rem;
  }

  .paginator {
    font-size: clamp(0.5rem, 0.8rem, 1rem);
  }
}
