<div class="tab-group-container">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab
      label="Notification Settings"
      class="tab-widget">
      <ng-template matTabContent>
        <app-profile-notification-settings-tab>
        </app-profile-notification-settings-tab>
      </ng-template>
    </mat-tab>
    <mat-tab label="Notifications">
      <ng-template matTabContent>
        <app-profile-notifications-tab>
        </app-profile-notifications-tab>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
