<div>
  <ul *ngIf="user">
    <li>Username: {{ user.username }}</li>
    <li>Email: {{ user.email }}</li>
    <li>Preferred Server: {{ user.server }}</li>
    <li>Organization: {{ user.org }}</li>
    <li>About user: {{ user.about }}</li>
    <li>Fleets account created: {{ user.acctCreated | date:'MM/dd/yyyy'}}</li>
  </ul>
  <h5>Current Group Listings</h5>
  <div *ngIf="user && user.groupListingsDto && user.groupListingsDto.length > 0; else noListings"></div>
  <app-group-listings-table [groupListings]="user?.groupListingsDto ?? []"></app-group-listings-table>
</div>

<ng-template #noListings>
  <p>User has no current group listings.</p>
</ng-template>
