<div class="body-container">
  <ng-container *ngIf="localUser$ | async as user; else notLoggedIn">
    <div class="page-title"><h2>User Profile:</h2></div>
    <div class="header-line"></div>
    <mat-sidenav-container class="account-sidenav-container">
      <mat-sidenav #drawer
                   [mode]="(isMobile$ | async) ? 'over' : 'side'"
                   [opened]="!(isMobile$ | async)"
                   class="side-nav-the-side-nav"
                   >
        <mat-nav-list class="side-nav-list">
          <a mat-list-item class="mat-nav-list-item"
             [class.active]="selectedTab==='listings'"
             (click)="selectTab('listings')">
            My Listings
          </a>
          <a mat-list-item class="mat-nav-list-item"
            [class.active]="selectedTab==='bookmarks'"
            (click)="selectTab('bookmarks')">
            Bookmarks
          </a>
          <a mat-list-item class="mat-nav-list-item"
          [class.active]="selectedTab==='templates'"
          (click)="selectTab('templates')">
            Templates
          </a>
          <a mat-list-item class="mat-nav-list-item"
             [class.active]="selectedTab==='profile'"
             (click)="selectTab('profile')">
            Profile
          </a>
          <ng-container *ngIf="shouldDisplayMod$">
            <a mat-list-item class="mat-nav-list-item"
              [class.active]="selectedTab==='content_mod'"
              (click)="selectTab('content_mod')">
              Mod Tools
            </a>
          </ng-container>
          <a mat-list-item class="mat-nav-list-item"
             (click)="auth.logout()">Logout</a>
        </mat-nav-list>

      </mat-sidenav>
      <mat-sidenav-content class="side-nav-main-body">
        <div class="account-tabs-button-container">
          <button mat-button class="account-tabs-button" (click)="drawer.toggle()">
            <ng-container *ngIf="drawer.opened; else drawerClosed">
              <span class="account-tabs-button-arrow">
                <<
              </span>
            </ng-container>
            <ng-template #drawerClosed>
              <span class="account-tabs-button-arrow">
                >>
              </span>
            </ng-template>
            Account Tabs
          </button>
        </div>

        <div class="account-window-body">

          <!-- MY LISTINGS TAB -->
          <ng-container *ngIf="selectedTab === 'listings'">
            <app-user-acct-listings-table
              [userListings]="(user.groupListingsDto)" class="user-table"
              (listingForModal)="onListingSelected($event)">
            </app-user-acct-listings-table>
          </ng-container>

          <!-- USER BOOKMARKED LISTINGS TAB -->
          <ng-container *ngIf="selectedTab === 'bookmarks'">
            <app-user-bookmarks-table
              (listingForModal)="onListingSelected($event)">
            </app-user-bookmarks-table>
          </ng-container>

          <!-- LISTING TEMPLATES TAB -->
          <ng-container *ngIf="selectedTab === 'templates'">
            <app-user-profile-templates
              (templateForModal)="onTemplateSelected($event)">
            </app-user-profile-templates>
          </ng-container>

          <!-- PROFILE TAB -->
          <ng-container *ngIf="selectedTab === 'profile'">
            <ul class="user-profile-list">
              <li class="user-profile-row">
                <span class="user-profile-field-name">Username: </span>
                <span class="user-profile-field-val">{{ user.username }}</span>
              </li>
              <li class="user-profile-row">
                <span class="user-profile-field-name">Email: </span>
                <span class="user-profile-field-val"> {{ user.email }}</span>
              </li>
              <li class="user-profile-row">
                <span class="user-profile-field-name">Preferred Server: </span>
                <span class="user-profile-field-val"> {{ user.server }} </span>
              </li>
              <li class="user-profile-row">
                <span class="user-profile-field-name">Org: </span>
                <span class="user-profile-field-val"> {{ user.org }} </span>
              </li>
              <li class="user-profile-row">
                <span class="user-profile-field-name">About: </span>
                <span class="user-profile-field-val"> {{ user.about }} </span>
              </li>
              <li class="user-profile-row">
                <span class="user-profile-field-name">Account Created: </span>
                <span class="user-profile-field-val"> {{ user.acctCreated | date: 'MMM d, yyyy h:mm a' }} </span>
              </li>
            </ul>
          </ng-container>

          <!-- MODERATOR TAB -->
          <ng-container *ngIf="selectedTab === 'content_mod'">
            <app-mod-parent-panel
              (listingForModal)="onListingSelected($event)">
            </app-mod-parent-panel>
<!--            <app-mod-listings-table-->
<!--              (listingForModal)="onListingSelected($event)">-->
<!--            </app-mod-listings-table>-->
          </ng-container>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </ng-container>
</div>

<ng-template #notLoggedIn>
    <span class="page-title"><h2>Not Authorized</h2></span>
    <div class="header-line"></div>
    <div>
      <span>Please log in to view user account details.</span>
    </div>
</ng-template>


<app-group-listing-modal
  *ngIf="listingInteract.isModalVisible"
  [isVisible]="listingInteract.isModalVisible"
  [selectedListing]="selectedListing"
  [isBookmarked$]="listingInteract.selectedIsBookmarked$"
  (close)="listingInteract.onModalClose($event)"
></app-group-listing-modal>

<app-listing-template-modal
  *ngIf="templatesModal.templateModalIsVisible"
  [templateModalIsVisible]="templatesModal.templateModalIsVisible"
  [selectedTemplate]="selectedTemplate"
  (close)="listingInteract.onModalClose($event)">
</app-listing-template-modal>
