<div class="title-container">
  <h5>My Listings:</h5>
</div>
<div class="button-row">
  <ng-container *ngIf="!(isMobile$ | async)">
    <div class="action-buttons-container">
      <a>
        <button type="submit" class="action-buttons"
                (click)="openConfirmDelete(this.selection.selected)"
                [disabled]="!(selection.hasValue())">
          Remove Listing
        </button>
      </a>
      <a>
        <button class="action-buttons"
                (click)="userUpdateSelected()"
                [disabled]="!(selection.hasValue()) || !singleSelected()">
          Update Listing
        </button>
      </a>
      <a>
        <button class="action-buttons"
                [disabled]="!(selection.hasValue()) || !singleSelected()">
          Save Template
          <!--            (click)="userSaveTemplate()" -->
        </button>
      </a>
    </div>
  </ng-container>
  <div class="action-button-container-right">
    <a>
      <button [routerLink]="['/create-listing']" class="action-buttons">
        New Listing
      </button>
    </a>
  </div>
</div>
<div class="user-table">
  <table mat-table [dataSource]="dataSource">

    <!-- MOBILE ONLY < 499px: Options column -->
    <ng-container matColumnDef='options'>
      <th mat-header-cell *matHeaderCellDef>

      </th>
      <td mat-cell *matCellDef="let row; let i = index">
        <button mat-icon-button [matMenuTriggerFor]="listingOptionsMenu">
          <mat-icon class="options-menu-icon">more_vert</mat-icon>
        </button>
        <mat-menu #listingOptionsMenu="matMenu">
          <ul class="options-list">
            <li class="options-item">
              <a (click)="mobileUserUpdateSingle(row)">
                 Update
              </a>
            </li>
            <li class="options-item">
              <a (click)="openConfirmDelete(row)">
                Delete
              </a>
            </li>
            <li class="options-item">
              <a>
                Save Template
              </a>
            </li>
          </ul>
        </mat-menu>
      </td>
    </ng-container>

    <!-- Checkbox Column -->
    <ng-container matColumnDef='select'>
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row; let i = index">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef='title'>
      <th mat-header-cell *matHeaderCellDef> Title</th>
      <td mat-cell *matCellDef="let row" (click)="onRowClick(row)"> {{ row.listingTitle }}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef='status'>
      <th mat-header-cell *matHeaderCellDef> Group Status</th>
      <td mat-cell *matCellDef="let row" (click)="onRowClick(row)"> {{ row.groupStatus }}</td>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef='category'>
      <th mat-header-cell *matHeaderCellDef> Category</th>
      <td mat-cell *matCellDef="let row" (click)="onRowClick(row)"> {{ row.category }}</td>
    </ng-container>

    <!-- PvP Status Column -->
    <ng-container matColumnDef='pvp'>
      <th mat-header-cell *matHeaderCellDef> PvP Status</th>
      <td mat-cell *matCellDef="let row" (click)="onRowClick(row)"> {{ row.pvpStatus }}</td>
    </ng-container>

    <!-- Planetary System Column -->
    <ng-container matColumnDef='system'>
      <th mat-header-cell *matHeaderCellDef> System</th>
      <td mat-cell *matCellDef="let row" (click)="onRowClick(row)"> {{ row.system }}</td>
    </ng-container>

    <!-- Available Roles Column -->
    <ng-container matColumnDef='roles'>
      <th mat-header-cell *matHeaderCellDef> Avail. Roles</th>
      <td mat-cell *matCellDef="let row" (click)="onRowClick(row)"> {{ row.availableRoles }}</td>
    </ng-container>

    <!-- Last Updated TS Column -->
    <ng-container matColumnDef='updated'>
      <th mat-header-cell *matHeaderCellDef> Last Updated</th>
      <td mat-cell *matCellDef="let row" (click)="onRowClick(row)"> {{ row.lastUpdated | date: 'MMM d, yyyy h:mm a' }}</td>
    </ng-container>

    <!-- header declarations -->
    <ng-container *ngIf="!(isMobile$ | async) ? largeColumns : mobileColumns as displayedCols">
      <tr mat-header-row *matHeaderRowDef="displayedCols"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedCols"></tr>
    </ng-container>
  </table>
</div>


