.title-container {
  margin: 1rem 0 1rem 1rem;
}

.button-row {
  display: flex;
  flex-direction: row;
}

.action-buttons-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: left;
  column-gap: 0.75rem;
  margin: 1rem auto 1rem 1rem;
}

.action-button-container-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 15%;
  margin: 1rem 1rem 1rem auto;
}

/*.action-buttons {*/
/*  border: 1px solid rgba(255, 131, 7, .75);*/
/*  padding: .42rem 1.12rem .42rem 1.12rem !important;*/
/*  background-color: rgba(33, 37, 41, .4);*/
/*  margin-inline: .75rem;*/
/*  color: rgba(255, 131, 7, .75);*/
/*  font-size: 1rem;*/
/*  border-radius: .2rem;*/
/*  transition: 0.2s ease;*/
/*}*/

/*.action-buttons:disabled {*/
/*  border: 1px solid rgba(33, 37, 41, .4);*/
/*  padding: .42rem 1.12rem .42rem 1.12rem !important;*/
/*  background-color: rgba(92, 96, 101, .4);*/
/*  margin-inline: .75rem;*/
/*  color: rgba(33, 37, 41, .4);*/
/*  border-radius: .2rem;*/
/*  transition: .3s ease;*/
/*}*/

/*.action-buttons:hover:disabled {*/
/*  border: 1px solid rgba(255, 131, 7, .4);*/
/*  padding: .42rem 1.12rem .42rem 1.12rem !important;*/
/*  background-color: rgba(92, 96, 101, .4);*/
/*  margin-inline: .75rem;*/
/*  color: rgba(255, 131, 7, .4);*/
/*  border-radius: .2rem;*/
/*}*/

/*.action-buttons:hover {*/
/*  color: var(--bs-gray-900);*/
/*  border-color: rgba(255, 131, 7, .75);*/
/*  background-color: rgba(255, 131, 7, .25);*/
/*  cursor: pointer;*/
/*}*/

/*.mat-mdc-table__content {*/

/*}*/

.mat-mdc-header-row {
  position: sticky !important;
  top: 0 !important;
  z-index: 1 !important;
  background-color: rgba(45, 45, 45, 0.9);
  color: rgba(150, 168, 183, 1);
  font-family: Orbitron, sans-serif !important;
  font-weight: 700 !important;
  font-size: 1.1rem !important;
}

.mdc-data-table__row.mat-mdc-row {
  color: rgba(150, 168, 183, 1);
  font-family: "Exo 2", sans-serif !important;
  font-weight: 400 !important;
  font-size: 1rem !important;
  background-color: rgba(44, 44, 44, 0.2);
  transition: 0.2s ease;
}

.mat-mdc-row:hover {
  background-color: rgba(255, 131, 7, .07) !important;
  cursor: pointer;
}

.user-table {
  display: block;
  overflow-y: scroll;
  overflow-x: scroll;
  max-height: 50vh;
  scrollbar-color: #2c2c2c transparent;
}

@media(min-width: 725px) and (max-width: 2000px) {

  .action-buttons {
    font-size: 0.9rem;
  }

  .action-button-container-right {
    width: 20%;
    margin: 1rem 1rem 1rem auto;
  }

  .user-table {
    max-height: 50vh;
  }
}

@media(max-width: 1350px) and (min-width: 725px) {
  .mat-mdc-header-row {
    font-size: clamp(0.8rem, 0.7rem, 1.5rem) !important;
  }

  .mdc-data-table__row.mat-mdc-row {
    font-size: clamp(0.6rem, 0.8rem, 1.2rem) !important;
  }

  .action-buttons {
    font-size: clamp(0.6rem, 0.8rem, 1.2rem);
  }
}

@media(max-width: 724px) {
  .mat-mdc {
    overflow: scroll;
  }

  .user-table {
    max-height: 50vh;
  }

  .mat-mdc-header-row {
    font-weight: 700 !important;
    font-size: clamp(0.5rem, 0.8rem, 1.5rem) !important;
  }

  .action-buttons-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: left;
    column-gap: 0;
    margin: 1rem auto 1rem 1rem;
  }
  .action-button-container-right {
    width: 80%;
    margin: 1rem 0.25rem 1rem auto;
  }
  .mat-mdc-row {
    font-size: clamp(0.5rem, 0.7rem, 1.5rem) !important;
  }

  .action-buttons {
    font-size: .7rem;
  }

  /* MOBILE ONLY < 499px: Options Menu */
  .options-menu-icon {
    transition: color 0.15s ease;
  }

  .options-menu-icon:hover {
    color: rgba(255, 131, 7, .6);
    background-color: rgba(44, 44, 44, 0.7);
    border-radius: 0.25rem;
  }

  .options-list {
    padding-left: 0.25rem;
    padding-right: 0.5rem;
    margin-bottom: 0.75rem;
  }

  /*.options-item {*/
  /*  display: block;*/
  /*  min-width: 85%;*/
  /*  margin: 0.0rem .5rem .25rem .5rem;*/
  /*  padding: 0.5rem 0.5rem 0.25rem 0.5rem;*/
  /*  clear: both;*/
  /*  color: rgba(255, 131, 7, .6);*/
  /*  text-align: left;*/
  /*  border-bottom: 1px solid rgba(255, 131, 7, .6);*/
  /*  font-size: 95%;*/
  /*  transition: background-color 0.15s ease;*/
  /*}*/

  .options-item:hover {
    background-color: rgba(255, 131, 7, .25);
    color: #2c2c2c;
    border-radius: 0.25rem;
    border-bottom: 1px solid #2c2c2c;
    cursor: pointer;
  }
}
