<div class="title-container">
  <h5>My Listings:</h5>
</div>
<div class="button-row">
  <ng-container *ngIf="(layoutMode$ | async) !== 'handheld'; else forHandheld">
    <div class="action-buttons-container">
      <button type="submit" class="action-buttons"
              (click)="deleteListings()"
              [disabled]="!(selection.hasValue())">
        Delete Listing
      </button>
      <button class="action-buttons"
              (click)="updateListing()"
              [disabled]="!(selection.hasValue()) || !singleSelected()">
        Update Listing
      </button>
      <button class="action-buttons"
              [disabled]="!(selection.hasValue()) || !singleSelected()"
              (click)="createTemplateFromListing()">
        Save Template
      </button>
    </div>
  </ng-container>

  <ng-template #forHandheld>
    <div class="action-buttons-container">
      <button class="action-buttons-with-icons"
              [disabled]="!selection.hasValue()"
              [matMenuTriggerFor]="listingOptionsMenu">
        Options
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #listingOptionsMenu="matMenu">
        <button mat-menu-item class="options-item"
                [disabled]="!(selection.hasValue()) || !singleSelected()"
                (click)="updateListing()">
          Update
        </button>
        <button mat-menu-item class="options-item"
                [disabled]="!(selection.hasValue()) || !singleSelected()"
                (click)="createTemplateFromListing()">
          Template
        </button>
        <button mat-menu-item class="options-item"
                [disabled]="!(selection.hasValue())"
                (click)="deleteListings()">
          Delete
        </button>
      </mat-menu>
    </div>
  </ng-template>
  <div class="action-button-container-right">
    <button [routerLink]="['/create-listing']" class="action-buttons">
      New Listing
    </button>
  </div>
</div>
<div class="user-table">
  <ng-container *ngIf="(layoutMode$ | async) !== 'handheld'; else feedview">
    <app-desktop-table-view
      [dataSource]="dataSource"
      [columns]="fullColumns"
      (listingToEmit)="emitChildClick($event)"
      (selected)="changeSelectedFromChild($event)">
    </app-desktop-table-view>
  </ng-container>

  <ng-template #feedview>
    <app-mobile-feed-view
      [dataSource]="dataSource"
      [columns]="mobileColumns"
      (listingForModal)="emitChildClick($event)"
      (theseSelected)="changeSelectedFromChild($event)">
    </app-mobile-feed-view>
  </ng-template>
</div>


