.main-body {
  display: flex;
  flex-direction: column;
  background-color: rgba(108, 117, 125, 100);
  width: 75%;
  height: 100vh;
  margin: 3rem auto auto auto;
  border-top: 5px solid var(--stark-blue);
  border-left: 5px solid var(--stark-blue);
  clip-path: polygon(0% 0%, 93% 0%, 100% 12%, 100% 100%, 100% 100%, 07% 100%, 0% 88%, 0% 0%);
  color: var(--bs-gray-900);
}

.page-title {
  margin: 1rem auto 0 5rem;
  color: var(--bs-gray-900);
}

.header-line {
  border-top: 2px solid var(--bs-gray-900);
  width: 95%;
  margin: .5rem auto 1.5rem auto;
}

.form-body {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 0 3rem 0;
}

.dropdown-component {
  display: flex;
  flex-direction: row;
  width: 100%;
  wrap-option: nowrap;
}
