<div class="main-body">
  <span class="page-title"><h2>Create your group listing</h2></span>
  <div class="header-line"></div>
  <div>
    <form class="form-body" [formGroup]="listingFormGroup">

      <!-- titleGroup -->
      <div formGroupName="titleGroup">
        <h4 class="form-group-heading1">Listing Title</h4>
        <div class="form-title-row">
          <app-listing-title-input [parentForm]="titleGroup"></app-listing-title-input>
        </div>
      </div>

      <!-- sessionEnvInfoGroup -->
      <div formGroupName="sessionEnvInfoGroup">
        <h4 class="form-group-heading2">Game Environment</h4>
        <div class="form-row">
          <app-server-dropdown [parentForm]="sessionEnvInfoGroup"></app-server-dropdown>
          <app-environment-dropdown [parentForm]="sessionEnvInfoGroup"></app-environment-dropdown>
          <app-experience-dropdown [parentForm]="sessionEnvInfoGroup"></app-experience-dropdown>
        </div>
      </div>

      <!-- gameplayInfoGroup -->
      <div formGroupName="gameplayInfoGroup">
        <h4 class="form-group-heading2">Gameplay Details</h4>
        <div class="form-row">
          <app-playstyle-dropdown [parentForm]="gameplayInfoGroup"></app-playstyle-dropdown>
          <app-category-dropdown [parentForm]="gameplayInfoGroup"></app-category-dropdown>
          <app-subcategory-dropdown [parentForm]="gameplayInfoGroup"></app-subcategory-dropdown>
        </div>
        <div class="form-row">
          <app-legality-dropdown [parentForm]="gameplayInfoGroup"></app-legality-dropdown>
          <app-pvp-status-dropdown [parentForm]="gameplayInfoGroup"></app-pvp-status-dropdown>
        </div>
        <div class="form-row">
          <app-system-dropdown [parentForm]="gameplayInfoGroup"></app-system-dropdown>
          <app-planet-dropdown [parentForm]="gameplayInfoGroup"></app-planet-dropdown>
        </div>
        <div class="form-row">
          <app-listing-description-input [parentForm]="gameplayInfoGroup"></app-listing-description-input>
        </div>
      </div>

      <!-- groupSpecInfoGroup -->
      <div formGroupName="groupSpecInfoGroup">
        <h4 class="form-group-heading2">Group Specs</h4>
        <div class="form-row">
          <app-group-status-dropdown [parentForm]="groupSpecInfoGroup"></app-group-status-dropdown>
          <app-event-schedule-datepicker-input [eventDateControl]="groupSpecInfoGroup"></app-event-schedule-datepicker-input>
        </div>
        <div class="form-row">
          <app-current-party-size-dropdown [parentForm]="groupSpecInfoGroup"></app-current-party-size-dropdown>
          <app-desired-party-size-dropdown [parentForm]="groupSpecInfoGroup"></app-desired-party-size-dropdown>
        </div>
        <div class="form-row">
          <app-available-roles-input [parentForm]="groupSpecInfoGroup"></app-available-roles-input>
        </div>
        <div class="form-row">
          <app-comms-option-dropdown [parentForm]="groupSpecInfoGroup"></app-comms-option-dropdown>
          <app-comms-service-input [parentForm]="groupSpecInfoGroup"></app-comms-service-input>
        </div>
      </div>
    </form>
  </div>
</div>

