<div class="panel-wrapper">
  <app-active-roster-options-panel
    [activeMemberFilterState$]="activeMemberFilterState$"
    (emitFilterState)="catchFilterStateChange($event)">
  </app-active-roster-options-panel>
  <app-roster-text-field-filter
    [placeholder]="'Filter by username...'"
    [textFieldFilterCtrl]="memberFilterTermsCtrl">
  </app-roster-text-field-filter>
  <div *ngIf="(activeRosterForDisplay$ | async) as activeRoster"
    cdkDropList
    [cdkDropListData]="activeRoster"
    [cdkDropListEnterPredicate]="dropListRegistry.isCompatibleDrop"
    [cdkDropListSortingDisabled]="true"
    class="active-members-list">
    <div>
      TODO:
      <ol>
        <li>Save templates</li>
        <li>Implement depth limits on subgroups</li>
        <li>Make 'edit subgroup label' close when no longer focused</li>
        <li>Check 'positions' chips alignment on different orientations</li>
        <li>Create RSVPs</li>
        <li>Create info page/popup</li>
      </ol>
    </div>
    @for(member of activeRoster; track member.userSummary.userId) {
      <div cdkDrag
        [cdkDragDisabled]="member.memberPosition != null"
        [cdkDragData]="member"
        (cdkDragMoved)="dropListRegistry.onDragMoved($event)"
        (cdkDragEnded)="subgroupInteract.onMemberDrop($event)">
        <app-member-chip
          [member]="member"
          [class.member-assigned]="member.memberPosition != null">
        </app-member-chip>
      </div>
    }

    @if(activeRoster.length === 0) {
      <span class="roster-empty-message">No matching active members</span>
    }
  </div>
</div>
