<div class="panel-wrapper">
  <app-active-roster-options-panel>
  </app-active-roster-options-panel>
  <div *ngIf="(managementInteract.activeRoster$ | async)?.content as activeRoster"
    cdkDropList
    [cdkDropListData]="activeRoster"
    [cdkDropListEnterPredicate]="dropListRegistry.isCompatibleDrop"
    class="active-members-list">
    @for(member of activeRoster; track member.userSummary.userId) {
      <div cdkDrag
        [cdkDragDisabled]="member.memberPosition != null"
        [cdkDragData]="member"
        (cdkDragMoved)="dropListRegistry.onDragMoved($event)"
        (cdkDragEnded)="subgroupInteract.onMemberDrop($event)">
        <app-member-chip
          [class.member-assigned]="member.memberPosition != null"
          [member]="member">
        </app-member-chip>
      </div>
    }
  </div>
</div>
