.navbar.bg-primary {
  background-color: var(--stark-blue) !important;
  /*border: 1px groove rgba(13, 47, 67, 1);*/
  border-radius: .75rem;
  font-weight: 600;
  position: sticky;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 65px;
  z-index: 1030;

}
#navbar-title {
  color: rgba(255, 131, 7, .75);
  font-weight: 600;
  padding-left: 1vw;
  margin-right: 2vw;
}

.navbar .navbar-expand-xl bg-primary {
  line-height: 1rem !important;
}

.navbar-text {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: rgba(25, 40, 44, .75);
}

.nav-link {
  color: rgba(25, 40, 44, .75);
}

.navbar-nav .nav-link.show {
  color: rgba(255, 131, 7, .6);
}

@media(min-width: 1200px) {
  .nav-item-toggle-only {
    display: none;
  }

  .toggle-listings-nav {
    display: none;
  }
}

/*@media(max-width: 1199px) {*/
/*  .nav-item-toggle-only {*/
/*    color: var(--bs-gray-900);*/
/*    display: none;*/
/*  }*/
/*}*/

/* custom dropdown for full display navbar */
.dropdown-item {
  display: block;
  max-width: 85%;
  margin: 0.0rem .5rem .5rem .5rem;
  padding: 0.25rem 0.15rem 0.25rem 0.5rem;
  clear: both;
  color: rgba(188, 191, 200, .75);
  text-align: left;
  border-bottom: 1px solid rgba(188, 191, 200, .3);
  transition: color .15s ease, border .15s ease, background-color .15s ease;
  clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
}

/* custom dropdown for full display navbar */
.dropdown-item:hover {
  background-color: rgba(186, 97, 8, 0.15);
  color: rgb(24, 26, 28);
  border-radius: 0.25rem;
  border-bottom: 1px solid transparent;
}

/* Custom dropdown for full-display navbar dropdown */
.navbar-nav .dropdown-menu {
  background-color: var(--bs-gray-dark);
  clip-path: var(--clip-t-right-b-left);
  border-radius: 0;
  font-size: 85%;
  /*border-left: 1px solid var(--stark-blue);*/
  /*border-bottom: 1px solid var(--stark-blue);*/

  /*border-bottom: 1px solid rgba(255, 131, 7, .5);*/
  /*border-left: 1px solid rgba(255, 131, 7, .5);*/

}

.navbar-icons {
  margin-left: 0;
  padding-left: 1rem;
}

.navbar-icons .dropdown-menu {
  background-color: var(--bs-gray-dark);
  clip-path: var(--clip-t-right-b-left);
  font-size: 85%;
  border-radius: 0;
  /*border-bottom: 1px solid var(--stark-blue);*/
  /*border-left: 1px solid var(--stark-blue);*/
  /*border-bottom: 1px solid rgba(255, 131, 7, .5);*/
  /*border-left: 1px solid rgba(255, 131, 7, .5);*/
}

.navbar-nav {
  display: flex;
  gap: 1vw;
  list-style: none;
  justify-content: flex-start;

}

.navbar-nav.me-auto.mb-lg-0 {
  margin-right: 0 !important;
}

/* removing searchbar and icons when navbar dropdown toggle appears */
@media(max-width: 1199px) {
  .navbar-search,
  .blank-welcome,
  .navbar-icons {
    display: none;
  }
}

/* bootstrap transition styles */
/* without this the dropdown starts on the left without styling */
.navbar-collapse.collapsing {
  position: absolute !important;
  left: auto;
  top: 100%;
  right: 2% !important;
  padding-bottom: .5rem;
  z-index: 1050;
  background-color: var(--bs-gray-dark);
  clip-path: var(--clip-t-right-b-left);
  /*border-bottom: 1px solid rgba(255, 131, 7, .5);*/
  /*border-left: 1px solid rgba(255, 131, 7, .5);*/
  font-size: 110%;
}

/* small viewport navbar dropdown */
.collapse.show {
  position: absolute !important;
  left: auto;
  top: 100%;
  right: 2%;
  width: auto;
  padding-bottom: .5rem;
  z-index: 1050;
  background-color: var(--bs-gray-dark);
  clip-path: polygon(0% 0%, 87.5% 0%, 100% 12.5%, 100% 100%, 12.5% 100%, 0% 87.5%);
  /*border-bottom: 1px solid rgba(255, 131, 7, .5);*/
  /*border-left: 1px solid rgba(255, 131, 7, .5);*/
  font-size: 110%;
  overflow: visible;
  text-align: left;
}

@media(max-width: 1199px) {
  .navbar-nav {
    padding-bottom: 0.5rem;
    margin-left: 1vw;
  }

  .navbar-nav .nav-link {
    color: rgba(188, 191, 200, .75);
    font-weight: 500;
    border-bottom: 1px solid rgba(188, 191, 200, .3);
    padding: 0.5rem 0.0rem 0.25rem 0.5rem;
    clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
    cursor: pointer;
  }

  .navbar-nav .nav-link:hover {
    color: rgba(52, 135, 168, 0.25);
    font-size: 105%;
    cursor: pointer;
  }

  .navbar-brand {
    padding-bottom: 0;
  }

  a.nav-link:hover {
    cursor: pointer !important;
  }

  .navbar-nav .nav-item {
    text-align: left;
    padding: 0.25rem 0.6rem 0.25rem 0.6rem;
    margin-inline: 0.5rem;
    color: rgba(52, 135, 168, 0.9) !important;
  }
  .navbar-nav .nav-item.dropdown {
    display: none;
  }

  .navbar .nav-item.dropdown .nav-link.show {
    color: rgba(150, 168, 183, 0.8) !important;
  }

}

.navbar-nav form {
  display: flex;
  justify-content: center;
  margin-inline: 0;
  width: 100%;
}

.form-control {
  width: 22vw;
  border: 1px solid rgba(210, 213, 221, 0.7);
  box-shadow: inset 0 0 2px 1px rgba(44, 44, 44, .75);
}



.form-control.form-control.me-2 {
  background-color: rgba(210, 213, 221, 0.8);

}

.form-control:focus {
  box-shadow: 0 0 0.2rem 0.1rem rgba(150, 168, 183, .4);
}

input::placeholder {
  color: rgba(25, 40, 44, .6) !important;
}

.navbar-search {
  margin-left: 3.6vw;
  left: 0;
  margin-right: auto;
}

#navbar-search-button {
  color: rgba(255, 131, 7, .75);
  border: 1px solid rgba(255, 131, 7, .75);
  border-radius: .5rem;
  padding: 0 .5rem 0 .5rem !important;
  transition: background-color 0.15s ease, color 0.15s ease;
}

#navbar-search-button:hover {
  color: rgba(13, 47, 67, 0.75);
  border-color: rgba(255, 131, 7, .75);
  background-color: rgba(255, 131, 7, .25);
}

.navbar-welcome-msg {
  margin-left: auto;
  margin-right: 0;
  right: 0;
  font-size: clamp(0.9rem, 1vw, 1.1rem);
}

.bi-person-fill {
  color: rgba(15, 24, 27, 0.75);
  font-size: 1.5rem;
  padding: .5rem 1vw .5rem .25rem;
}

.bi-person-fill:hover {
  color: rgba(25, 40, 44, .8);
}

.bi-bell-fill {
  color: rgba(15, 24, 27, 0.75);
  font-size: 1.25rem;
  margin: .5rem;
}

.bi-bell-fill:hover {
  color: rgba(25, 40, 44, .8);
}

.bi-chat-fill {
  color: rgba(15, 24, 27, 0.75);
  font-size: 1.25rem;
  margin: .5rem .5rem .5rem 1rem;
}


.nav-link {
  display: inline-block;
  transition: transform 120ms ease, padding-bottom 120ms ease;
}

.nav-link:active {
  padding-bottom: 0.1rem;
  transform: scale(1.1);
}

@media(max-width: 1301px) {
  .navbar-icons {
    margin-left: 0;
  }
  .bi-chat-fill {
    margin-left: 0;
  }
  .navbar-search {
    margin-left: 0;
  }
}

.bi-chat-fill:hover {
  /*color: rgba(188, 191, 200, .8);*/
  color: rgba(25, 40, 44, .8);
}

.mat-badge-content {
  color: rgba(25, 40, 44, .85);
  font-family: "Exo 2", sans-serif;
  background-color: rgba(255, 131, 7, .6);
  /*background-color: rgba(188, 191, 200, .75);*/
  border-radius: 99px;
  font-size: 0.9rem;
  justify-content: center;
  align-items: center;
  transform: translate(-4px, 2px) !important;
}

.mobile-nav-buttons {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.mobile-nav-icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 6px 15px 0 0;
}

