<nav class="navbar navbar-expand-xl bg-primary" data-bs-theme="light" >
  <div class="container-fluid">
    <a class="navbar-brand" id="navbar-title" href="#">scFleetFinder</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"
             [routerLink]="['user-account']"
             (click)="closeDropdown()"
          >Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             aria-current="page"
             data-bs-toggle="collapse"
             [routerLink]="''"
             (click)="closeDropdown()"
          >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             [routerLink]="['about']"
             (click)="closeDropdown()"
          >About</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Listings
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['group-listings']">Search Listings</a></li>
            <li><a class="dropdown-item" href="#">My Listings</a></li>
            <li><a class="dropdown-item" [routerLink]="['create-listing']">Create Listing</a></li>
          </ul>
        </li>
        <li class="nav-item toggle-listings-nav">
          <a class="nav-link"
             [routerLink]="['group-listings']"
             (click)="closeDropdown()"
          >Search Listings</a>
        </li>
        <li class="nav-item toggle-listings-nav">
          <a class="nav-link"
             [routerLink]="['create-listing']"
             (click)="closeDropdown()"
          >Create Listing</a>
        </li>

        <div class="navbar-search">
          <li>
            <form class="navbar-nav form" role="search">
              <input class="form-control me-2" type="search" placeholder="Search listings..." aria-label="Search">
              <button class="btn btn-outline-secondary" id="navbar-search-button" type="submit">Search</button>
            </form>
          </li>
        </div>

      </ul>
      <div class="navbar-icons">
        <span class="navbar-text">
          <a href="#">
            <i class="bi bi-chat-fill"></i>
          </a>
          <a href="#">
            <i class="bi bi-bell-fill"></i>
          </a>
          <a [routerLink]="['user-account']">
            <i class="bi bi-person-fill"></i>
          </a>
        </span>
      </div>
    </div>
  </div>
</nav>
