<nav class="navbar navbar-expand-xl bg-primary" data-bs-theme="light" >
  <div class="container-fluid">
    <a class="navbar-brand" id="navbar-title" href="#">scFleetFinder</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"
             aria-current="page"
             data-bs-toggle="collapse"
             [routerLink]="['/user-account']"
             (click)="closeDropdown()"
          >Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             aria-current="page"
             data-bs-toggle="collapse"
             [routerLink]="''"
             (click)="closeDropdown()"
          >How&nbsp;To</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             [routerLink]="['/about']"
             (click)="closeDropdown()"
          >About</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Listings
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/group-listings']">Search Listings</a></li>
            <li><a class="dropdown-item" [routerLink]="['/user-account']">My Listings</a></li>
            <li><a class="dropdown-item" [routerLink]="['/create-listing']">Create Listing</a></li>
          </ul>
        </li>
        <li class="nav-item toggle-listings-nav">
          <a class="nav-link"
             [routerLink]="['/group-listings']"
             (click)="closeDropdown()">
            Search Listings
          </a>
        </li>
        <li class="nav-item toggle-listings-nav">
          <a class="nav-link"
             [routerLink]="['/create-listing']"
             (click)="closeDropdown()">
            Create Listing
          </a>
        </li>
      </ul>
    </div>
  </div>
<!--  <div class="container-fluid">-->
<!--    <div class="collapse navbar-collapse navbar-search">-->
<!--      <form class="navbar-nav form" role="search">-->
<!--        <input class="form-control me-2" type="search" placeholder="Search listings..." aria-label="Search">-->
<!--        <button class="btn btn-outline-secondary" id="navbar-search-button" type="submit">Search</button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
  <div class="container-fluid collapse navbar-collapse navbar-text">
      <ng-container *ngIf="auth.isLoggedIn$ | async; else blankWelcome">
        <span class="navbar-icons navbar-welcome-msg">Welcome, {{ userService.localUsername$ | async }}</span>
      </ng-container>
      <ng-template #blankWelcome>
        <span class="blank-welcome"></span>
      </ng-template>
      <div class="navbar-icons">
        <span class="navbar-text">
          <a href="#">
            <i class="bi bi-chat-fill"></i>
          </a>
          <a href="#">
            <i class="bi bi-bell-fill"></i>
          </a>
          <div class="nav-item dropdown" ngbDropdown>
          <button
            ngbDropdownToggle
            class="nav-link"
            type="button"
            aria-haspopup="true"
            aria-expanded="false">
            <i class="bi bi-person-fill"></i>
          </button>
          <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
            <ng-container *ngIf="auth.isLoggedIn$ | async; else loggedOut">
              <li><button class="dropdown-item" [routerLink]="['/user-account']">Profile</button></li>
              <li><button class="dropdown-item" (click)="auth.logout()">Logout</button></li>
            </ng-container>
            <ng-template #loggedOut>
              <li><button class="dropdown-item" (click)="auth.login(); closeDropdown()">Login</button></li>
              <li><button class="dropdown-item"
                          (click)="auth.register(); closeDropdown()">Sign Up</button></li>
            </ng-template>
          </ul>
          </div>
        </span>
      </div>
  </div>
</nav>
