.navbar.bg-primary {
  background-color: var(--stark-blue) !important;
  border: 1px groove rgba(13, 47, 67, 1);
  border-radius: .75rem;
  color: rgba(13, 47, 67, 1);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  z-index: 1030;
}
#navbar-title {
  color: rgba(255, 131, 7, .75);
  font-weight: 600;
  padding-left: 1vw;
}

.navbar-text {
  display: flex;
  align-items: center;
  color: var(--bs-gray-900)
}

.nav-item {
  color: var(--bs-gray-900)
}
@media(min-width: 1200px) {
  .nav-item-toggle-only {
    color: var(--bs-gray-900);
    display: none;
  }

  .toggle-listings-nav {
    display: none;
  }
}

/*@media(max-width: 1199px) {*/
/*  .nav-item-toggle-only {*/
/*    color: var(--bs-gray-900);*/
/*    display: none;*/
/*  }*/
/*}*/

/* custom dropdown for full display navbar */
.dropdown-item {
  display: block;
  width: 80%;
  margin: 0.0rem .5rem .5rem .5rem;
  padding: 0.25rem 0.0rem 0.25rem 0.5rem;
  clear: both;
  color: rgba(52, 135, 168, 0.9);
  text-align: left;
  border-bottom: 1px ridge rgba(52, 135, 168, 0.75);
  clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
}

/* custom dropdown for full display navbar */
.dropdown-item:hover {
  background-color: rgba(52, 135, 168, 0.25);
}

/* Custom dropdown for full-display navbar dropdown */
.navbar-nav .dropdown-menu {
  background-color: var(--bs-gray-dark);
  clip-path: var(--clip-t-right-b-left);
  border-bottom: 1px solid var(--stark-blue);
  border-right: 1px solid var(--stark-blue);
  font-size: 85%;
}

.navbar-nav {
  display: flex;
  gap: 1vw;
  list-style: none;
  justify-content: flex-start;
  margin-left: 3vw;
}

/* removing searchbar and icons when navbar dropdown toggle appears */
@media(max-width: 1199px) {
  .navbar-search,
  .navbar-icons {
    display: none;
  }
}

/* bootstrap transition styles */
/* without this the dropdown starts on the left without styling */
.navbar-collapse.collapsing {
  position: absolute !important;
  left: auto;
  top: 100%;
  right: 2% !important;
  width: auto;
  z-index: 1050;
  background-color: var(--bs-gray-dark);
  clip-path: var(--clip-t-right-b-left);
  border-bottom: 2px solid var(--stark-blue);
  border-left: 2px solid var(--stark-blue);
  font-size: 110%;
}

/* small viewport navbar dropdown */
.collapse.show {
  position: absolute !important;
  left: auto;
  top: 100%;
  right: 2%;
  width: auto;
  z-index: 1050;
  background-color: var(--bs-gray-dark);
  clip-path: polygon(0% 0%, 87.5% 0%, 100% 12.5%, 100% 100%, 12.5% 100%, 0% 87.5%);
  border-bottom: 2px solid var(--stark-blue);
  border-left: 2px solid var(--stark-blue);
  font-size: 110%;
  overflow: visible;
  text-align: left;
}

@media(max-width: 1199px) {
  .navbar-nav {
    padding-bottom: 0.5rem;
    margin-left: 1vw;
  }

  .navbar-nav .nav-link {
    color: rgba(52, 135, 168, 0.75) !important;
    border-bottom: 1px ridge rgba(52, 135, 168, 0.75);
    padding: 0.5rem 0.0rem 0.25rem 0.5rem;
    clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
  }

  .navbar-nav .nav-link:hover {
    background-color: rgba(52, 135, 168, 0.25);
    font-size: 105%;
  }

  .navbar-nav .nav-item {
    text-align: left;
    padding: 0.25rem 0.6rem 0.25rem 0.6rem;
    margin-inline: 0.5rem;
    color: rgba(52, 135, 168, 0.9) !important;
  }
  .navbar-nav .nav-item.dropdown {
    display: none;
  }

}

.navbar-nav form {
  display: flex;
  justify-content: center;
  padding-left: 5vw;
  width: 100%;
}

.form-control {
  width: 22vw;
}

.form-control:focus {
  border-color: rgba(255, 131, 7, .75);
  box-shadow: 0 0 0 0.25rem rgba(255, 131, 7, .25);
}

input::placeholder {
  color: rgba(13, 47, 67, 0.35) !important;
}

#navbar-search-button {
  color: rgba(255, 131, 7, .75);
  border: 2px solid rgba(255, 131, 7, .75);
  border-radius: .5rem;
  padding: 0 .5rem 0 .5rem !important;
  transition: background-color 0.15s ease;
}

#navbar-search-button:hover {
  color: rgba(13, 47, 67, 0.75);
  border-color: rgba(255, 131, 7, .75);
  background-color: rgba(255, 131, 7, .25);
}

.bi-person-fill {
  color: var(--bs-gray-900);
  font-size: 1.5rem;
  padding: .5rem 1vw .5rem .25rem;
}

.bi-person-fill:hover {
  color: rgba(255, 131, 7, .5);
}

.bi-bell-fill {
  color: var(--bs-gray-900);
  font-size: 1.25rem;
  margin: .5rem;
}

.bi-bell-fill:hover {
  color: rgba(255, 131, 7, .5);
}

.bi-chat-fill {
  color: var(--bs-gray-900);
  font-size: 1.25rem;
  margin: .5rem .5rem .5rem 4vw;
}

.bi-chat-fill:hover {
  color: rgba(255, 131, 7, .5);
}

