<div class="settings-container">
  <div class="toggles-container">
    <span class="child-container-header">External Notification Preferences</span>
    <div class="toggle-row">
      <mat-label class="toggle-label">System Notifications:</mat-label>
      <mat-slide-toggle
        [formControl]="sysNotesControl"
        (change)="updateDiscordSysNotesPref()"
        [disabled]="sysDisabled">
      </mat-slide-toggle>
    </div>
    <div class="toggle-row">
      <mat-label class="toggle-label">Group Notifications:</mat-label>
      <mat-slide-toggle
        [formControl]="groupNotesControl"
        (change)="updateDiscordGroupNotesPref()"
        [disabled]="groupDisabled">
      </mat-slide-toggle>
    </div>
    <div class="toggle-row">
      <mat-label class="toggle-label">Social Notifications:</mat-label>
      <mat-slide-toggle
        [formControl]="socialNotesControl"
        (change)="updateDiscordSocialNotesPref()"
        [disabled]="socialDisabled">
      </mat-slide-toggle>
    </div>
  </div>
  <div class="custom-notes-parent-container">
    <span class="child-container-header">Custom Notifications:</span>
    <div class="button-row">
      <button class="action-buttons-with-icons"><mat-icon>add</mat-icon>Create New</button>
    </div>
    <div class="proliferation-container">

    </div>
  </div>
</div>
