.position-chip {
  min-height: 60px;
  max-width: 400px;
  margin-inline: auto;
  margin-top: 10px;
  border: 1px solid rgba(150, 168, 183, .15);
  border-radius: 10px;
  padding: 8px;
  overflow: hidden;
  font-family: "Exo 2", sans-serif;
}

.position-header {
  display: flex;
  align-content: center;
}

.position-header.header-left {
  margin-right: auto;
  overflow: hidden;
  text-overflow: ellipsis !important;
}

.header-button {
  border: none;
  background: none;
  color: transparent;
  line-height: 0;
  padding-top: 3px;
  padding-bottom: 0;
  margin-bottom: 0;
  transition: color 0.4s ease, transform 0.3s ease;
}

.header-button.scaled-minus {
  display: inline-flex;
  line-height: 0;
  padding: 0 0 0 8px;
  align-items: baseline;
  margin-right: 10px;
}

.scaled-minus mat-icon {
  font-size: 18px;
  width: 18px;
  height: 18px;
  line-height: 22px;
  padding-bottom: 0;
}

.header-button.options-button {
  font-size: 20px;
  width: 20px;
  height: 20px;
  line-height: 23px;
  padding-bottom: 0;
  margin-top: 0;
  padding-top: 0;
  margin-right: 4px;
}

.position-chip:not(:has(.position-chip:hover)):hover > .position-header .header-button {
  color: rgba(150, 168, 183, 1);
}

.position-header .header-button:hover {
  color: var(--button-hover-color) !important;
}

.header-right {
  display: flex;
  margin-left: auto;
  margin-top: 0;
  padding-top: 0;
  margin-right: 0;
  align-content: flex-start;
}

#position-drag-handle {
  width: 100%;
}

#position-drag-handle:hover {
  cursor: grab;
}

#position-drag-handle:active {
  cursor: grabbing;
}

.subgroup-options-menu .mat-mdc-menu-item.options-item {
  display: flex;
  flex: 1 1 auto;
  padding-left: 0 !important;
  margin-left: 0 !important;
}

:host ::ng-deep .mat-mdc-menu-content button.mat-mdc-menu-item-text {
  align-content: center;
  vertical-align: center;
}

/* ------------------------ CDK DRAG PREVIEW (PICKED UP) --------------------------------------------*/

::ng-deep .cdk-drag-preview {
  height: fit-content;
  overflow: visible;
}

::ng-deep .cdk-drag-preview .position-chip {
  color: rgba(150, 168, 183, 1);
  background-color: rgba(74, 80, 89, 0.45);
}

/* ------------------------ CDK DRAG PLACEHOLDER (DEMO SLOT DURING DRAG ------------------------------*/

::ng-deep .cdk-drag-placeholder .position-chip {
  background-color: rgba(74, 80, 89, 0.25);
  color: rgba(150, 168, 183, 0.5);
  /*background-color: rgba(37, 37, 41, .15);*/
}

/* --------------------- CHIP EXPAND/COLLAPSE ANIMATIONS --------------------------------------------*/



.position-member-slot:empty {
  min-height: 20px;
  /*border: 1px solid deeppink;*/
}

.position-header.has-member {
  margin-bottom: 6px;
}
