<!-- TABLE ITEM MODAL -->
<div *ngIf="isVisible"
  class="modal fade"
  tabindex="-1"
  [ngClass]="{'show': isVisible}"
  [style.display]="isVisible ? 'block' : 'none'"
  role="dialog"
  aria-modal="true"
  (click)="closeOnBackdropClick($event)"
>
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-dash">//</h1><h4 class="modal-title">{{ selectedListing?.listingTitle}}</h4>
        <button type="button" class="close" (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container-fluid">

          <!-- FIRST GRID BLOCK COLUMN LEFT -->
          <div class="modal-listing-container-grid">
            <div class="modal-listing-block column-left">
              <div class="modal-listing-row">
                <span class="modal-listing-field">Listed By:</span>
                <span class="modal-listing-val">{{selectedListing?.userName}}</span>
              </div>
              <div class="modal-listing-row">
                <span class="modal-listing-field">Server Region:</span>
                <span class="modal-listing-val">{{selectedListing?.server}}</span>
              </div>
              <div class="modal-listing-row">
                <span class="modal-listing-field">Play Style:</span>
                <span class="modal-listing-val">{{selectedListing?.playStyle}}</span>
              </div>
            </div>

            <!-- FIRST GRID BLOCK COLUMN RIGHT -->
            <div class="modal-listing-block column-right">
              <div class="modal-listing-row column-right">
                <span class="modal-listing-field">Last Updated: </span>
                <span class="modal-listing-val">{{selectedListing?.lastUpdated | date:'MMM d, h:mm a'}}</span>
              </div>
              <div class="modal-listing-row column-right">
                <span class="modal-listing-field">Group Status:</span>
                <span class="modal-listing-val">{{selectedListing?.groupStatus}}</span>
              </div>
              <div *ngIf="selectedListing?.groupStatus === 'Future/Scheduled' && selectedListing?.eventSchedule as
                    eventSchedule" class="modal-listing-row column-right">
                      <span class="modal-listing-field">Event Scheduled: </span>
                      <span class="modal-listing-val">{{ eventSchedule | date: 'MMM d, h:mm a' }}</span>
              </div>
            </div>
          </div>
          <!-- END OF FIRST GRID BLOCK -->


          <!-- SECOND GRID BLOCK COLUMN LEFT -->
          <div class="modal-listing-container-grid">
            <div class="modal-listing-block column-left">
              <div class="modal-listing-row">
                <span class="modal-listing-field">Environment:</span>
                <span class="modal-listing-val">{{selectedListing?.environment}}</span>
              </div>
              <div class="modal-listing-row">
                <span class="modal-listing-field">Experience:</span>
                <span class="modal-listing-val">{{selectedListing?.experience}}</span>
              </div>

          <!-- SECOND GRID BLOCK COLUMN RIGHT -->
            </div>
            <div class="modal-listing-block column-right">
              <div class="modal-listing-row column-right">
                <span class="modal-listing-field">Comms:</span>
                <span class="modal-listing-val">{{selectedListing?.commsOption}}</span>
              </div>
              <div class="modal-listing-row column-right">
                <span class="modal-listing-field">Comms Service:</span>
                <ng-container *ngIf="selectedListing?.commsService; else emptyCommsService">
                  <span class="modal-listing-val">{{selectedListing?.commsService}}</span>
                </ng-container>
              </div>
              <div>
                <ng-template #emptyCommsService>
                  <!--Blank if no comms service -->
                </ng-template>
              </div>
            </div>
          </div>
          <!-- END OF SECOND GRID BLOCK -->


          <!-- THIRD GRID BLOCK COLUMN LEFT -->
          <div class="modal-listing-container-grid">
            <div class="modal-listing-block column-left">
              <div class="modal-listing-row">
                <span class="modal-listing-field">System:</span>
                <span class="modal-listing-val">{{selectedListing?.system}}</span>
              </div>
              <div class="modal-listing-row column-left-indent">
                <span class="modal-listing-field">Planet/Moon:</span>
                <span> {{selectedListing?.planetMoonSystem}} </span>
              </div>
              <div class="modal-listing-row column-left">
                  <span class="modal-listing-field">Gameplay Category:</span>
                  <span class="modal-listing-val">{{selectedListing?.category}}</span>
              </div>
              <div class="modal-listing-row column-left-indent">
                  <span class="modal-listing-field">Subcategory:</span>
                  <span class="modal-listing-val"> {{ selectedListing?.subcategory}} </span>
              </div>
            </div>


          <!-- THIRD LISTING BLOCK COLUMN RIGHT -->
            <div class="modal-listing-block column-right">
              <div class="modal-listing-row column-right">
                <span class="modal-listing-field">PvP Status:</span>
                <span class="modal-listing-val">{{ selectedListing?.pvpStatus }}</span>
              </div>

              <div class="modal-listing-row column-right">
                <span class="modal-listing-field">Legality:</span>
                <span class="modal-listing-val">{{ selectedListing?.legality }}</span>
              </div>

              <div class="modal-listing-row column-right">
                <span class="modal-listing-field">Group Size:</span>
                <!-- Group size is fraction: current party size divided by desired party size -->
                <span class="modal-listing-val">{{ selectedListing?.currentPartySize }}
                  / {{ selectedListing?.desiredPartySize }}</span>
              </div>
            </div>
          </div>
          <!-- END OF THIRD LISTING BLOCK -->


          <!-- DESCRIPTION BLOCK -->
          <div class="modal-listing-block column-left">
            <div class="modal-listing-row column-left">
              <span class="modal-listing-field">Description:</span>
            </div>
            <div class="modal-listing-block column-left-indent">
              <span class="modal-listing-val">{{selectedListing?.listingDescription}}</span>
            </div>
          </div>

          <!-- AVAILABLE ROLES BLOCK -->
          <div class="modal-listing-block column-left">
            <div class="modal-listing-row column-left">
              <span class="modal-listing-field">Available Roles:</span>
            </div>
            <div class="modal-listing-row column-left-indent">
              <span class="modal-listing-val">{{selectedListing?.availableRoles}}</span>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="modal-buttons" (click)="closeModal()">Close</button>
            <button type="button" class="modal-buttons">Message</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
