.modal-content {
  background-color: var(--bs-gray-900);
  color: rgba(216, 216, 216, 0.7);
  font-size: 1.1rem;
  margin-inline: auto;
  overflow-y: auto;
  scrollbar-width: none;
  transform-origin: left top;
  transform: scale(1, 1);
  transition: transform 0.2s ease;
}

.modal.fade.hiding .modal-content {
  /*max-width: 0;*/
  transform: scale(0, 0) !important;
}

.modal-header {
  display: flex;
  flex-direction: row;
}

.modal-dash {
  color: rgba(255, 131, 7, .65);
  margin-left: .25rem;
  margin-right: .25rem;
  padding-left: .25rem;
}

.close,
.modal.fade .close,
.modal.fade.show .close {
  display: flex;
  margin: -1rem .25rem -1rem auto;
  border: solid 2px rgba(255, 131, 7, .75);
  border-radius: .25rem;
  padding: 0 .5rem .25rem .5rem;
  background-color: transparent;
  float: right;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
  color: rgba(255, 131, 7, .65);
  opacity: .75;
  transition: background-color 0.25s ease;
}

.modal.fade {
  transition: opacity 0.25s ease;
}

.close:hover,
.modal.fade .close:hover,
.modal.fade.show .close:hover {
  color: var(--bs-gray-900);
  border-color: rgba(255, 131, 7, .75);
  background-color: rgba(255, 131, 7, .25);
}

.modal-body {
  padding-top: 0;
}

.listing-details-scoped-block {
  min-height: 100px;
  width: 100%;
  max-width: 80vw;
  margin-inline: auto;
  border: rgba(188, 191, 200, .3);
  border-radius: 8px;
  margin-top: 20px;
  padding: 0 8px 8px 8px;
  background-color: rgba(108, 108, 108, 0.03);
  box-shadow: 0 0 5px rgba(188, 191, 200, .1);
  overflow: hidden;
  font-family: "Exo 2", sans-serif;
}

.label-wrapper {
  display: flex;
  margin: 0.5rem;
  width: fit-content;
  padding-right: 5rem;
  /*border-bottom: 1px solid;*/
}

.scope-label {
  font-size: 1.2rem;

}

/*The actual main container for the modal: LARGE VW*/
@media(min-width: 1368px) {
  .modal-title {
    font-size: clamp(1.2rem, 1.4rem, 2.2rem);
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
  }

  .modal-dialog.modal-xl.modal-dialog-centered {
    max-width: 50vw;
  }

  /* Grid container for modal listing blocks LARGE VW */
  .modal-listing-container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: .25rem 0 .25rem 0;
  }
}


@media(min-width: 992px) and (max-width: 1367px) {
  /*The actual main container for the modal: MED VW*/
  .modal-dialog.modal-xl.modal-dialog-centered {
    max-width: 70vw;
  }

  .modal-title {
    font-size: clamp(1.2rem, 1.4rem, 2.2rem);
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
  }
}

/*The actual main container for the modal  SMALL VW*/
@media (max-width: 991px) {
  .modal-title {
    font-size: clamp(1.2rem, 1.2rem, 2rem);
    padding: clamp(0.25rem, 1vw, 1rem);
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
  }

  .modal-dialog.modal-xl.modal-dialog-centered {
    max-width: 95vw;
  }

  .modal-content {
    font-size: clamp(0.8rem, 1rem, 1.2rem);
  }
}

/* Grid container for modal listing blocks: MED VW*/
@media(min-width: 624px) and (max-width: 1367px) {
  .modal-listing-container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

/* individual row for listing field + listing value */
.modal-listing-row {
  display: flex;
  flex-direction: row;
  padding: 0.25rem 0 0.25rem 0;
}

.column-left {
  text-align: start;
  margin-right: auto;
}

@media(min-width: 624px) {
  /* sub-container within grid for creating separate columns i.e. R/L */
  .modal-listing-block {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
  }

  .column-right {
    margin-left: auto;
    margin-right: 0;
    text-align: end;
  }

  .column-left-indent {
    margin-right: auto;
    margin-left: 1.25rem;
  }
}

@media(max-width: 623px) {
  /* Grid container for modal listing blocks: SMALL VW*/
  .modal-listing-container-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: .25rem 0 .25rem 0;
  }

  /* reversed to push everything to the left side at this viewport size */
  .column-right {
    margin-right: auto;
  }

  .column-left-indent {
    margin-right: auto;
    margin-left: 0.75rem;
  }

  .modal-listing-block {
    display: flex;
    flex-direction: column;
    max-width: 98vw;
  }

  .modal-button-with-icon {
    font-size: 0.8rem !important;
  }

  .modal-button-with-icon mat-icon {
    scale: 0.7;
  }

  .modal-buttons {
    font-size: 0.8rem !important;
  }

  .modal-footer {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    padding-right: 0;
    margin-right: 0;
    border-top: transparent;
  }

  .footer-buttons-right {
    gap: 0 !important;
  }
}

/* Field labels */
.modal-listing-field {
  padding: 0 0.25rem 0 0.25rem;
  color: rgba(255, 131, 7, .6);
  font-family: 'Exo 2', sans-serif;
  font-weight: 500;
}

/* Field values */
.modal-listing-val {
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  margin-inline: 0.25rem;
}

.modal-buttons {
  display: inline-flex;
  border: 1px solid rgba(255, 131, 7, .75);
  padding: .25rem .75rem .25rem .75rem !important;
  background-color: rgba(33, 37, 41, .4);
  color: rgba(255, 131, 7, .75);
  font-size: clamp(0.9rem, 1.1rem, 1.6rem);
  border-radius: .2rem;
  transition: background-color 0.15s ease, color 0.15s ease;
  align-items: center;
}

.modal-button-with-icon {
  display: inline-flex;
  gap: 0.25rem;
  border: 1px solid rgba(255, 131, 7, .75);
  padding: .26rem .56rem .25rem .56rem;
  background-color: rgba(33, 37, 41, .4);
  margin-inline: .75rem;
  color: rgba(255, 131, 7, .75);
  font-size: clamp(0.9rem, 1.1rem, 1.6rem);
  border-radius: .2rem;
  transition: 0.2s ease;
  align-items: center;
}

.modal-button-with-icon:hover {
  color: var(--bs-gray-900);
  border-color: rgba(255, 131, 7, .75);
  background-color: rgba(255, 131, 7, .25);
}

.msg-icon {
  scale: 0.8 !important;
}

.footer-buttons-right {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
}

.footer-buttons-left {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
}

.modal-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-top: transparent;
}

#copied-hint {
  align-self: center;
  margin-left: 10px;
  color:  rgba(188, 191, 200, .5);
}

.options-button {
  color: rgba(188, 191, 200, .9);
  border: 1px solid rgba(188, 191, 200, .9);
}

.modal-buttons:hover {
  color: var(--bs-gray-900);
  border-color: rgba(255, 131, 7, .75);
  background-color: rgba(255, 131, 7, .25);
}
