<div class="dropdown-component">
  <label id="subcategories-dropdown">
    <ng-container *ngIf="!altLabel; else hasAltLabel">
      Subcategory:
      <mat-icon class="tooltip-icon"
                matTooltip="Optional">
        help_outline
      </mat-icon>
    </ng-container>
    <ng-template #hasAltLabel>
      {{ altLabel }}
    </ng-template>
  </label>
  <ng-select
    [items]="filteredSubcategories"
    bindLabel="subcategoryName"
    bindValue="subcategoryId"
    [formControl]="subcategoryControl"
    placeholder="Select subcategory..."
    [attr.aria-labelledby]="'subcategories-dropdown'">
  </ng-select>
</div>
