<div  class="listing-title-input">
    <mat-form-field>
      <mat-label>Listing Title</mat-label>
      <mat-error *ngIf="titleControl?.hasError && (titleControl.dirty || !titleControl.untouched)">
        <span *ngIf="titleControl?.hasError?.('minlength')">
          Title must be at least 5 characters
        </span>
        <span *ngIf="titleControl?.hasError?.('required')">
          Title is Required
        </span>
      </mat-error>
      <input
        matInput
        [formControl]="titleControl"
        (input)="updateCharacterCount()"
        maxlength="65"
        placeholder="Enter listing title..."
        [attr.aria-labelledby]="'listing-title'">
      <mat-hint align="start">{{ characterCount }}/65</mat-hint>
    </mat-form-field>
</div>
