<div #chipWrapperContainer
     class="chip-self"
     [class.is-hovered-container]="(this.isHoveredTarget$ | async)"
     [class.full-width-chip-collapsed]="(subgroup.dropListOrientation === 'horizontal' || subgroup.dropListOrientation === 'mixed') && !selfExpanded"
     [class.chip-self-orientation-horizontal-mixed]="subgroup.dropListOrientation === 'horizontal' || subgroup.dropListOrientation === 'mixed'"
     [class.chip-self-orientation-vertical]="subgroup.dropListOrientation === 'vertical'"
     [class.deeply-nested]="selfDepth > 1" >
  <div class="chip-content-wrapper">
    <div class="subgroup-header drag-handle"
         cdkDragHandle
         #subgroupHoverTarget>
      <ng-container *ngIf="!editingTitle; else editing">
        <button
          class="sort-icon"
          (mousedown)="move_disableSorting()">
          <mat-icon matTooltip="Move: disable sort">drag_indicator</mat-icon>
        </button>
        <div class="header-left">
          <span>{{ subgroup.subgroupLabel }}</span>
          <button class="header-button scaled-minus"
                  (click)="enableSubgroupLabelEditing()">
            <mat-icon class="scaled-minus" matTooltip="Edit title">edit</mat-icon>
          </button>
        </div>
        <div class="header-right">

          <button class="header-button rotate-button"
                  type="button"
                  (click)="toggleDropListOrientation()">
            <mat-icon class="material-symbols-outlined"
                      [class.orientation-state-horizontal]="subgroup.dropListOrientation === 'horizontal'"
                      [class.orientation-state-vertical]="subgroup.dropListOrientation === 'vertical'"
                      [class.orientation-state-mixed]="subgroup.dropListOrientation === 'mixed'"
                      [matTooltip]="`Change content orientation from '${toTitleCase(subgroup.dropListOrientation)}' to '${toTitleCase(nativeTogglesNextOrientation)}'`">
              screen_rotation_alt
            </mat-icon>
          </button>

          <button class="header-button"
                  type="button"
                  (click)="toggleCollapseSelf()">
            <mat-icon [class.rotate]="!selfExpanded"
                      [matTooltip]="selfExpanded ? 'Collapse self' : 'Expand self'">
              arrow_drop_up
            </mat-icon>
          </button>

          <button *ngIf="hasChildSubgroups"
                  class="header-button"
                  type="button"
                  (click)="toggleCollapseChildren()">
        <span class="material-symbols-outlined"
              [matTooltip]="childrenExpanded ? 'Collapse children' : 'Expand Children'">
          <ng-container *ngIf="childrenExpanded; else childrenCollapsed">
            collapse_content
          </ng-container>
          <ng-template #childrenCollapsed>
            expand_content
          </ng-template>
        </span>
          </button>

          <button class="header-button"
                  type="button"
                  [matMenuTriggerFor]="subgroupOptionsMenu">
            <mat-icon matTooltip="Options">more_vert</mat-icon>
          </button>
          <mat-menu #subgroupOptionsMenu="matMenu" yPosition="below" panelClass="subgroup-options-menu">
            <button
              mat-menu-item
              class="options-item"
              (click)="compositionInteract.createNewPosition(subgroup)">
              <mat-icon class="material-symbols-outlined dropdown-icon">add_circle_outline</mat-icon>
              <span>New position</span>
            </button>

            <button
              mat-menu-item
              class="options-item"
              (click)="compositionInteract.openAddNewSubgroupPopup(selfDepth, subgroup)">
              <mat-icon class="material-symbols-outlined dropdown-icon">add_circle_outline</mat-icon>
              <span>New subgroup</span>
            </button>

            <button
              mat-menu-item
              class="options-item"
              (click)="emitDeleteSubgroup.emit(subgroup)">
              <mat-icon class="material-symbols-outlined dropdown-icon">remove_circle_outline</mat-icon>
              <span>Delete</span>
            </button>

            <button
              mat-menu-item
              class="options-item"
              [disabled]="mgmtRsvpService.hasGlobalMaster"
              (click)="mgmtRsvpService.openScheduleGranularRsvpPopup(subgroup)">
              <mat-icon class="material-symbols-outlined dropdown-icon">schedule_send</mat-icon>
              <span>Schedule RSVP</span>
            </button>

            <button
              mat-menu-item
              class="options-item"
              (click)="this.compositionInteract.saveCompositionAsTemplate('nested', [subgroup])">
              <mat-icon class="material-symbols-outlined dropdown-icon">file_save</mat-icon>
              <span>Save template</span>
            </button>
          </mat-menu>
        </div>
      </ng-container>
      <ng-template #editing>
        <app-edit-subgroup-label-input
          [subgroup]="subgroup"
          (cancelTitleEdit)="cancelLabelUpdate($event)"
          (emitEditingTitle)="updateSubgroupLabel($event)">
        </app-edit-subgroup-label-input>
      </ng-template>
    </div>
    <div class="both-lists-wrapper">

      <div class="drop-list-facade" [class.chip-self-collapsed]="!selfExpanded">
        <div class="drop-list-entry-blocker"
             *ngIf="(displayListEntryBlocker$ | async)">
        </div>

        <div class="chip-contents subgroups"
             cdkDropList
             #nativeSubgroupListElement
             #nativeSubgroupList="cdkDropList"
             [cdkDropListOrientation]="subgroup.dropListOrientation"
             [cdkDropListData]="subgroup.subgroups"
             (cdkDropListDropped)="compositionInteract.onSubgroupDrop($event)"
             [cdkDropListConnectedTo]="connectedToSubgroups"
             [cdkDropListEnterPredicate]="dropListRegistry.isCompatibleDrop"
             [class.chip-subgroup-expanded]="selfExpanded"
             [class.chip-subgroup-collapsed]="!selfExpanded"
             [class.orientation-horizontal]="subgroup.dropListOrientation === 'horizontal'"
             [class.orientation-vertical]="subgroup.dropListOrientation === 'vertical'"
             [class.orientation-mixed]="subgroup.dropListOrientation === 'mixed'"
             [class.is-hovered-list]="(isHoveredTarget$ | async)"
             [class.deeply-nested]="selfDepth > 1"
             (scroll)="updateHorizontalScrollButtonVisibility()">

          <ng-container *ngIf="canScrollHorizontal$ | async">
            <button class="drop-list-horizontal-scroll left"
                    [class.show-scroll-button]="showLeftScroll"
                    [class.do-not-show-scroll-button]="!showLeftScroll"
                    (click)="scrollHorizontal('left')">
              <span class="material-symbols-outlined scroll-arrow-scaled">
                arrow_back_ios
              </span>
            </button>
          </ng-container>

          @for (childSubgroup of subgroup.subgroups; track childSubgroup.subgroupId) {
            <div cdkDrag
                 [cdkDragData]="childSubgroup"
                 [cdkDragDisabled]="childEditingLabel"
                 (cdkDragMoved)="onDragMoved($event)"
                 (cdkDragReleased)="resetAfterDragReleased($event)"
                 class="chip-list">
              <app-crew-subgroup
                [subgroup]="childSubgroup"
                [parentContainer]="containerRegistrationRef"
                [parentTreeDepth]="selfDepth"
                [dropListParentEl]="subgroupListRegistrationRef"
                [expandedFromParent$]="selfExpandedPropagateToChildren$"
                (emitDeleteSubgroup)="catchChildDeleteSubgroupEmission($event)"
                (emitEditingLabel)="updateChildEditingLabel($event)"
                [class.nested-subgroup]="childSubgroup.parentSubgroupId != null">
              </app-crew-subgroup>
            </div>
          }

          <ng-container *ngIf="canScrollHorizontal$ | async">
            <button class="drop-list-horizontal-scroll right"
                    [class.show-scroll-button]="showRightScroll"
                    [class.do-not-show-scroll-button]="!showRightScroll"
                    (click)="scrollHorizontal('right')">
              <span class="material-symbols-outlined scroll-arrow-scaled">
                arrow_forward_ios
              </span>
            </button>
          </ng-container>

        </div>
      </div>

      <!--      [class.empty-subgroup]="emptyPositionTree && emptySubgroupTree"-->
      <div class="positions-list-wrapper">
        <div *ngIf="listNativeTotalPositionsCount !== 0 && selfExpanded" class="positions-collapse-button-container">
          <span>Positions</span>
          <button class="chip-positions-collapse-button"
                  type="button"
                  (click)="toggleCollapsePositions()">
            <mat-icon [class.rotate]="positionsExpanded"
                      [matTooltip]="(positionsExpanded) ? 'Collapse positions' : 'Expand positions'">
              arrow_drop_up
            </mat-icon>
          </button>
        </div>
        <div class="chip-contents position-list"
           cdkDropList
           #nativePositionListElement
           #nativePositionList="cdkDropList"
           cdkDropListOrientation="vertical"
           [cdkDropListData]="subgroup.crewPositions"
           [cdkDropListConnectedTo]="connectedToPositions"
           [cdkDropListEnterPredicate]="dropListRegistry.isCompatibleDrop"
           (cdkDropListDropped)="compositionInteract.onPositionDrop($event, subgroup)"
           [class.chip-subgroup-expanded]="selfExpanded"
           [class.chip-subgroup-collapsed]="!selfExpanded"
           [class.orientation-horizontal]="subgroup.dropListOrientation === 'horizontal'"
           [class.orientation-vertical]="subgroup.dropListOrientation === 'vertical'"
           [class.vertical-and-root]="subgroup.dropListOrientation === 'vertical' && subgroup.parentSubgroupId === null"
           [class.orientation-mixed]="subgroup.dropListOrientation === 'mixed'"
           [class.is-hovered-list]="(isHoveredTarget$ | async)">
          <ng-container *ngIf="!positionsExpanded; else notCollapsed">
            <div class="chip-positions-collapsed"
                 [class.orientation-horizontal]="subgroup.dropListOrientation === 'horizontal'"
                 [class.orientation-mixed]="subgroup.dropListOrientation === 'mixed'">
              <span class="summary-data-left">
                Positions: {{ listNativeAssignedPositionsCount }}/{{ listNativeTotalPositionsCount }}
              </span>
            </div>
          </ng-container>
          <ng-template #notCollapsed>
            @for(position of subgroup.crewPositions; track position.positionId) {
              <div cdkDrag
                   class="position-chip-container"
                   [cdkDragData]="position"
                   (cdkDragMoved)="onDragMoved($event)"
                   (cdkDragReleased)="resetAfterDragReleased($event)">
                <app-crew-position-chip
                  [position]="position"
                  (emitPositionDelete)="catchPositionDeleteEmission($event)"
                  (emitPositionEdit)="catchPositionEditEmission($event)">
                </app-crew-position-chip>
              </div>
            }
          </ng-template>
        </div>

      </div>
    </div>

    <div class="chip-summary"
         [class.collapsed-show-summary]="!selfExpanded || (subgroup.subgroups.length === 0
                                          && subgroup.crewPositions.length === 0)"
         [class.expanded-hide-summary]="selfExpanded && (subgroup.subgroups.length > 0 || subgroup.crewPositions.length > 0)">
      <div class="subgroup-summary-data">
        <span class="summary-data-left">Positions: {{ assignedPositionsCountTotalNested }}/{{ totalPositionsCount }}</span>
        <span class="summary-data-right">Subgroups: {{ totalSubgroupsCount }}</span>
      </div>
    </div>
  </div>
</div>
