.chip-self {
  isolation: isolate;
  max-width: 400px;
  margin-inline: auto;
  margin-top: 10px;
  border: 1px solid rgba(28, 24, 24, 0.1);
  border-radius: 10px;
  /*padding: 0 8px 0 8px;*/
  background-color: rgba(37, 37, 41, .5);
  box-shadow: 0 0 7px rgba(37, 37, 37, 0.5);
  overflow: hidden;
  font-family: "Exo 2", sans-serif;
}

/*-------------------- CHIP DRAG HANDLE ---------------------------------------------------------*/

.drag-handle {
  position: relative;
  /*height: 20px;*/
  /*padding: 0.25rem 0.5rem 4px 0;*/
  inset: 2px;
  width: 100%;
  margin-inline: auto;
  margin-top: 5px;
  display: grid;
  grid-template-columns: 2fr auto auto auto;
  overflow: hidden;
  align-content: center;

  clip-path: polygon(
    12px 0,
    100% 0,
    100% 100%,
    0 100%,
    0 11px
  );
}

.drag-handle:hover {
  cursor: all-scroll;
}

.drag-handle:active {
  cursor: move;
}

.drag-handle::before {
  content: "";
  position: absolute;
  inset: 0 0 4px 0;
  pointer-events: none;
  opacity: .1;
  filter: blur(4px);
  mix-blend-mode: screen;
  clip-path: inherit;
  border-radius: 6px;

  background-image:
    repeating-linear-gradient(
      to bottom,
      rgba(223, 241, 255, .3),
      rgba(223, 241, 255, .3), 1px,
      transparent 1px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to right,
      rgba(223, 241, 255, .3),
      rgba(223, 241, 255, .3), 1px,
      transparent 1px,
      transparent 4px
    );
}

.drag-handle::after {
  content: "";
  position: absolute;
  inset: 0 0 4px 0;
  pointer-events: none;
  opacity: 0.1;
  z-index: -1;
  box-shadow: -3px 0 3px -3px rgba(255, 131, 7, .4);
  max-width: 98vw;
  clip-path: inherit;
  border-radius: 6px;

  background-image:
    repeating-linear-gradient(
      to bottom,
      rgba(53, 114, 163, 0.5),
      rgba(53, 114, 163, 0.5), 1px,
      transparent 1px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to right,
      rgba(53, 114, 163, 0.5),
      rgba(53, 114, 163, 0.5), 1px,
      transparent 1px,
      transparent 4px
    );
}

/* ------------------------ CDK DRAG PREVIEW (PICKED UP) --------------------------------------------*/

::ng-deep .cdk-drag-preview .chip-self {
  color: rgba(150, 168, 183, 1);
  background-color: rgba(37, 37, 41, .5);
}

/* ------------------------ CDK DRAG PLACEHOLDER (DEMO SLOT DURING DRAG ------------------------------*/

::ng-deep .cdk-drag-placeholder .chip-self {
  background-color: rgba(74, 80, 89, 0.25);
  color: rgba(150, 168, 183, 0.5);
  /*background-color: rgba(37, 37, 41, .15);*/
}

/* --------------------- CHIP EXPAND/COLLAPSE ANIMATIONS --------------------------------------------*/

.chip-contents.empty-subgroup {
  min-height: 50px;
}

.chip-contents {
  transform-origin: top left;
  transition: transform 0.3s ease, max-height 0.3s ease, opacity 0.2s ease;
}

.chip-subgroup-collapsed {
  transform: scale3d(0, 0, 0);
  opacity: 0;
  max-height: 0;
}

.chip-subgroup-expanded {
  transform: scale3d(1, 1, 1);
  max-height: 10000px;
  opacity: 1;
  overflow-y: scroll;
}

.chip-summary {
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.collapsed-show-summary {
  transform: scale3d(1, 1, 1);
  padding-bottom: 8px;
}

.expanded-hide-summary {
  transform: scale3d(0, 0, 0);
}

/* --------------------------------------------------------------------------------------------- */


.chip-content-wrapper {
  padding-inline: 8px;
}

.subgroup-header {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  border-bottom: 1px solid rgba(150, 168, 183, .3);
  margin-inline: auto;
  padding-bottom: 0;
  font-size: 1.15rem;
  font-family: "Orbitron", sans-serif;
}

.nested-subgroup .chip-self {
  border: 1px solid rgba(150, 168, 183, .25);
  /*background-color: rgba(37, 37, 41, 1) !important;*/
}

.nested-subgroup .subgroup-header {
  font-size: 0.95rem;
}

.header-left {
  margin-left: 10px;
  margin-right: auto;
}

.header-right {
  margin-left: auto;
  margin-right: 0;
  align-content: baseline;
}

.header-button {
  border: none;
  background: none;
  color: transparent;
  line-height: 0;
  padding-top: 3px;
  padding-bottom: 0;
  margin-bottom: 0;
  transition: color 0.4s ease, transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

.header-button.scaled-minus {
  display: inline-flex;
  line-height: 0;
  padding: 0 0 0 8px;
  align-items: baseline;
}

.scaled-minus mat-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
  line-height: 25px;
  padding-bottom: 0;
}

.chip-self .chip-content-wrapper:not(:has(.chip-self:hover)):hover > .subgroup-header .header-button {
  color: rgba(150, 168, 183, 1);
}

.subgroup-header .header-button:hover {
  color: var(--button-hover-color) !important;
}

.subgroup-options-menu .mat-mdc-menu-item.options-item {
  display: flex;
  flex: 1 1 auto;
  padding-left: 0 !important;
  margin-left: 0 !important;
}

:host ::ng-deep .mat-mdc-menu-content button.mat-mdc-menu-item-text {

  align-content: center;
  vertical-align: center;
}

.subgroup-summary-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding-inline: 10px;
}

.summary-data-left {
  display: flex;
  text-align: start;
}

.summary-data-right {
  display: flex;
  justify-content: flex-end;
}
