<div #chipWrapperContainer
     class="chip-self"
     [class.is-hovered-container]="(this.isHoveredTarget$ | async)"
     [class.full-width-chip-collapsed]="selfDropListOrientation === 'horizontal' && !selfExpanded"
     [class.chip-self-orientation-horizontal]="this.selfDropListOrientation === 'horizontal'">
  <div class="chip-content-wrapper">
    <div class="subgroup-header drag-handle"
         cdkDragHandle
         #subgroupHoverTarget>
      <button
        class="sort-icon"
        (mousedown)="move_disableSorting()">
        <mat-icon>drag_indicator</mat-icon>
      </button>
      <div class="header-left">
        <span>{{ subgroup.subgroupLabel }}</span>
        <button class="header-button scaled-minus">
          <mat-icon class="scaled-minus" matTooltip="Edit title">edit</mat-icon>
        </button>
      </div>
      <div class="header-right">
        <button class="header-button"
                type="button"
                (click)="toggleCollapseSelf()">
          <mat-icon [class.rotate]="!selfExpanded"
                    [matTooltip]="selfExpanded ? 'Collapse self' : 'Expand self'">arrow_drop_up
          </mat-icon>
        </button>

        <button *ngIf="hasChildSubgroups"
                class="header-button"
                type="button"
                (click)="collapseChildren()">
        <span class="material-symbols-outlined"
              [matTooltip]="childrenExpanded ? 'Collapse children' : 'Expand Children'">
          <ng-container *ngIf="childrenExpanded; else childrenCollapsed">
            collapse_content
          </ng-container>
          <ng-template #childrenCollapsed>
            expand_content
          </ng-template>
        </span>
        </button>

        <button class="header-button"
                type="button"
                [matMenuTriggerFor]="subgroupOptionsMenu">
          <mat-icon matTooltip="Options">more_vert</mat-icon>
        </button>
        <mat-menu #subgroupOptionsMenu="matMenu" yPosition="below" panelClass="subgroup-options-menu">
          <button
            mat-menu-item
            class="options-item">
            <mat-icon class="material-symbols-outlined dropdown-icon">add_circle_outline</mat-icon>
            <span>New position</span>
          </button>

          <button
            mat-menu-item
            class="options-item">
            <mat-icon class="material-symbols-outlined dropdown-icon">add_circle_outline</mat-icon>
            <span>New subgroup</span>
          </button>

          <button
            mat-menu-item
            class="options-item"
            (click)="subgroupInteract.deleteSubgroup(subgroup)">
            <mat-icon class="material-symbols-outlined dropdown-icon">remove_circle_outline</mat-icon>
            <span>Delete</span>
          </button>

          <button
            mat-menu-item
            class="options-item">
            <mat-icon class="material-symbols-outlined dropdown-icon">file_save</mat-icon>
            <span>Save template</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <div>
      <!--      [class.is-hovered-container]="((dropListRegistry.hoveredContainer$ | async)?.id === (thisContainerId$ | async))-->
      <!--      && (dropListRegistry.validDropTargetType$ | async) === 'subgroup'"-->
      <!--      [class.empty-subgroup]="emptySubgroupTree && emptyPositionTree"-->
<!--      [cdkDropListDisabled]="(this.dropListRegistry.isDragging$ | async) && (this.dropListRegistry.hoveredTargetId$ | async) !== thisDropListId"-->
      <div class="drop-list-facade">
        <div class="drop-list-entry-blocker"
             *ngIf="(displayListEntryBlocker$ | async)">
        </div>

<!--        [cdkDropListDisabled]="(this.dropListRegistry.isDragging$ | async) && (this.dropListRegistry.hoveredTargetId$ | async) !== thisDropListId"-->
<!--        -->
        <div class="chip-contents subgroups"
             cdkDropList
             #nativeSubgroupListElement
             #nativeSubgroupList="cdkDropList"
             [cdkDropListOrientation]="selfDropListOrientation"
             [cdkDropListData]="subgroup.subgroups"
             (cdkDropListDropped)="subgroupInteract.onSubgroupDrop($event)"
             [cdkDropListConnectedTo]="connectedToSubgroups"
             [cdkDropListEnterPredicate]="dropListRegistry.isCompatibleDrop"
             [class.chip-subgroup-expanded]="selfExpanded"
             [class.chip-subgroup-collapsed]="!selfExpanded"
             [class.orientation-horizontal]="selfDropListOrientation === 'horizontal'"
             [class.orientation-vertical]="selfDropListOrientation === 'vertical'"
             [class.is-hovered-list]="(isHoveredTarget$ | async)">
            <div *ngFor="let childSubgroup of subgroup.subgroups"
                 cdkDrag
                 [cdkDragData]="childSubgroup"
                 (cdkDragStarted)="dragStarted($event)"
                 (cdkDragMoved)="onDragMoved($event)"
                 (cdkDragReleased)="resetAfterDragReleased($event)"
                 class="chip-list">
              <app-crew-subgroup
                [subgroup]="childSubgroup"
                [parentContainer]="containerRegistrationRef"
                [parentTreeDepth]="selfDepth"
                [dropListParentEl]="subgroupListRegistrationRef"
                [collapseFromParent$]="selfCollapsedStatePropagatedToChildren$"
                [class.nested-subgroup]="childSubgroup.parentSubgroupId != null">
              </app-crew-subgroup>
            </div>
          </div>
      </div>

        <!--      [class.empty-subgroup]="emptyPositionTree && emptySubgroupTree"-->
      <div class="positions-list-wrapper">
        <div class="chip-contents position-list"
           cdkDropList
           #nativePositionListElement
           #nativePositionList="cdkDropList"
           cdkDropListOrientation="vertical"
             (cdkDropListEntered)="onEntered($event)"
             (cdkDropListExited)="onExited($event)"
           [cdkDropListData]="subgroup.crewPositions"
           [cdkDropListConnectedTo]="this.connectedToPositions"
           [cdkDropListEnterPredicate]="this.dropListRegistry.isCompatibleDrop"
           (cdkDropListDropped)="subgroupInteract.onPositionDrop($event, subgroup)"
           [class.chip-subgroup-expanded]="selfExpanded"
           [class.chip-subgroup-collapsed]="!selfExpanded"
           [class.chip-contents-collapsed]="selfExpanded && !childrenExpanded">
          <div *ngFor="let position of subgroup.crewPositions"
               cdkDrag
               [cdkDragData]="position"
               (cdkDragMoved)="onDragMoved($event)"
               (cdkDragStarted)="dragStarted($event)"
               (cdkDragReleased)="resetAfterDragReleased($event)">
            <app-crew-position-chip
              [position]="position">
            </app-crew-position-chip>
          </div>
        </div>
        <ng-container *ngIf="selfExpanded && !childrenExpanded && (listNativeTotalPositionsCount !== 0)">
          <div class="chip-positions-collapsed">
            <span class="summary-data-left">
              Positions: {{ listNativeAssignedPositionsCount }}/{{ listNativeTotalPositionsCount }}
            </span>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="chip-summary"
         [class.collapsed-show-summary]="!selfExpanded || (subgroup.subgroups.length === 0
                                          && subgroup.crewPositions.length === 0)"
         [class.expanded-hide-summary]="selfExpanded && (subgroup.subgroups.length > 0 || subgroup.crewPositions.length > 0)">
      <div class="subgroup-summary-data">
        <span class="summary-data-left">Positions: {{ assignedPositionsCount }}/{{ totalPositionsCount }}</span>
        <span class="summary-data-right">Subgroups: {{ totalSubgroupsCount }}</span>
      </div>
    </div>
  </div>
</div>
